.lazy {
	opacity: 0;
	transition: opacity 0.5s ease 0s;
}

/* - - - - - - - - - - - - - - - - - - - - - */

body {
	background-color: var(--body);
}
*, html, body, button {
	margin: 0;
	padding: 0;
}
*, html, body {
	vertical-align: top;

	box-sizing: border-box;
}
*, a, html, body, img, svg, h1, h2, h3, h4, h5, h6, p {
	user-select: none;
}
img, svg, h1, h2, h3, h4, h5, h6, p {
	cursor: default;
}
img, svg, h1, h2, h3, h4, h5, h6, p {
	pointer-events: none;
}
a, button, .user {
	cursor: pointer;
	outline: none;
	text-decoration: none;
	border: none;
}
ul, ol {
	list-style: none;
}

/* - - - - - - - - - - - - - - - - - - - - - */

::-webkit-scrollbar {
	display: none;
	width: 9px;
}
::-webkit-scrollbar:horizontal {
	display: none;
}
::-webkit-scrollbar-thumb {
	border: 2px solid transparent;
    background-clip: padding-box;
    border-radius: 0.4em;
    background-color: #cacaca;
}
::-webkit-scrollbar-button {
	display: none;
}
::-webkit-scrollbar-thumb:vertical:active {
	background: #aaaaaa;
	background-clip: padding-box;
}

/* - - - - - - - - - - - - - - - - - - - - - */

*, h1, h2, h3, h4, h5, h6, p {
	font: normal 400 12px/1.33337 line;
	letter-spacing: -0.01em;
}
.overflow {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
a, .title-block, .tags, .details-top, .details-bottom {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.tag, .tag-executor {
	-webkit-mask: linear-gradient(to left, transparent, black 1cm);
}

button {
	fill: var(--button-fill);
}

/* - - - - - - - - - - - - - - - - - - - - - */

.span ul li a img {
	width: 100%;
	border-radius: 10px 10px 0 0;
}
.lockup {
	height: 4cm;
}
section.span {
	background-color: #fafafa;
}
.span ul {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 20px;

	overflow-x: scroll;
	overflow-y: hidden;

	scroll-snap-type: x mandatory;
	scroll-snap-align: center;
	scroll-padding: 50%;
}
.span ul li:first-child, .title-block {
    padding-left: 1cm;
}
.span ul li:last-child {
	margin-right: -1cm;
    padding-right: 1cm;
}
.span ul li a {
	display: block;
	width: 8cm;
	height: auto;
	background-color: #aaaaaa;
	border-radius: 10px;
}

.item {
	background-color: #f2f2f2;
}

.padding {
	margin-bottom: 15px;
}

section.details {
	background-color: var(--details);
}
.details ol {
	list-style: outside decimal !important;
	padding: 0 17px;
}
.details li {
	color: var(--description);
	padding-bottom: 0.8em;
}
li a {
	color: var(--link)
}