* {
	margin: 0;
	padding: 0;

	vertical-align: top;
	box-sizing: border-box;

	user-select: none;

	font: normal 400 12px/1.33337 "small", "bold", "icon";
	letter-spacing: -.01em;

	-webkit-font-smoothing: antialiased
}

img {
	pointer-events: none
}
a, sup, strong, small, q, em {
	font: inherit
}
a {
	text-decoration: none;
	color: var(--blue-1)
}
ul, ol {
	list-style: none
}
input, button, hr {
	border: none;
	outline: none
}
button {
	cursor: pointer
}
hr {
	border-top: 1px solid var(--gray-9)
}
sup {
	font-size: 9px
}
strong {
	font-weight: 600
}
em {
	font-style: italic
}

/* - */

::-webkit-scrollbar {
	display: none
}
:lang(ru-RU) {
	quotes: "\00ab" "\00bb"
}
:lang(en-US) {
	quotes: "\201c" "\201d"
}

/* - */

body {
	background-color: var(--gray-0)
}
aside form button, aside .string > button, nav span {
	-webkit-tap-highlight-color: transparent
}

/* - */

.includes h4, .includes p {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}
.includes h5 {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden
}

/* - - - - - - - - - - - - - - - - - - - - - */

aside {
	z-index: 10;

	top: 0;

	width: 100%;
	height: 100%;

	position: fixed;

	background-color: var(--gray-0)
}

aside .string {
	display: flex;
	margin-top: 5em
}

aside div {
	width: 100%
}
input[type="search"] {
	-webkit-appearance: none;

	width: 100%;
	height: 34px;

	border-radius: 10px;

	padding: 0 7px 0 10px;

	font: normal 400 16px "small";
	letter-spacing: -.022em;

	background-color: var(--search)
}
input[type="search"]::-webkit-input-placeholder {
	color: var(--search-inner)
}
input[placeholder] {
	color: var(--search-focus)
}

input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: inherit;

    width: 18px;
	height: 18px;

	cursor: pointer
}

aside .string > button {
	-webkit-appearance: none;

	font: normal 400 17px "small";
	letter-spacing: -.022em;

	width: 0;
	margin-left: 0;
	opacity: 0;

	background: none;
	
	color: var(--blue-1);

	-webkit-transition: .5s ease
}
.hide {
	width: 79px !important;
	margin-left: .6em !important;
	opacity: 1 !important
}

.search {
	display: none;
	height: 100%;
	pointer-events: none;
	overflow-y: hidden
}

/* - - - - - - - - - - - - - - - - - - - - - */

aside main h4 {
	font: normal 600 21px/1.19048 "bold";
    letter-spacing: .011em;

	padding: 3em 0 .6em;

	color: var(--text)
}

aside main ul li a {
	display: block;
	font: normal 400 17px "small";
	letter-spacing: -.022em;

	padding: 10px 0;

	color: var(--search-line)
}
aside main ul li+li {
	border-top: 1px solid var(--search-border)
}

/* - - - - - - - - - - - - - - - - - - - - - */

nav {
	position: fixed;
	z-index: 9;

	display: flex;

	width: 100%;
	height: 1.3cm;

	backdrop-filter: saturate(180%) blur(20px); -webkit-backdrop-filter: saturate(180%) blur(20px);
	background-color: var(--nav)
}
nav div {
	display: flex;
	align-items: center;
	justify-content: space-between
}
nav h4 {
	font: normal 600 21px "bold";
	letter-spacing: .011em;

	color: var(--text)
}

nav span::before {
	content: "\ea1d";

	font-size: 1.8em;

	color: var(--blue-1);

	cursor: pointer
}

/* - - - - - - - - - - - - - - - - - - - - - */

.includes, footer {
	padding-top: 4cm
}

.includes h4 {
	margin-bottom: 16px;

	font: normal 700 24px/1.16667 "bold";
	letter-spacing: .009em;

	color: var(--text)
}

.includes ul {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 36px
}

/* - - - - - - - - - - - - - - - - - - - - - */

.includes a {
	display: block;
	border-radius: 10px
}
.includes div:first-child {
	height: 200px;

	background-size: cover;
	background-position: center;

	border-radius: 10px 10px 0 0
}

.includes a div:last-child {
	border-radius: 0 0 10px 10px;
	background-color: var(--fillet)
}

.includes div:last-child {
	padding: .5cm
}
.includes div:last-child p {
	padding: 0 0 .2cm;

	color: var(--description)
}
.includes div:last-child h5 {
	font: normal 600 19px/1.21053 "bold";
	letter-spacing: .012em;

	color: var(--text)
}