* {
	margin: 0;
	padding: 0;

	vertical-align: top;
	box-sizing: border-box;

	font: normal 400 12px/1.33337 "small", "bold", "icon";
	letter-spacing: -.01em;

	-webkit-font-smoothing: antialiased
}
*:not(input) {
	-webkit-user-select: none
}

img {
	-webkit-touch-callout: none
}
a, strong, b, sup, sub, u, ins, del, i, s, mark, small, q, em {
	font: inherit
}
a, u {
	text-decoration: none
}
ul, ol {
	list-style: none
}
input, button, hr {
	border: none
}
input, button {
	outline: none
}
button, span {
	cursor: pointer
}
hr {
	border-top: 1px solid var(--gray-8)
}
sup, sub {
	font-size: 9px
}
strong, b {
	font-weight: 600
}
em {
	font-style: italic
}
span {
	-webkit-tap-highlight-color: transparent
}

/* - */

::-webkit-scrollbar {
	display: none
}
:lang(ru-RU) {
	quotes: "\00ab" "\00bb"
}
:lang(en-US) {
	quotes: "\201c" "\201d"
}

/* - */

body {
	background-color: var(--gray-0)
}
h1, h2, h3, h4, h5, h6, p, span {
	color: var(--gray-5)
}
a {
	color: var(--blue-1)
}

/* - */

.includes p {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}
.includes h5 {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden
}

/* - - - - - - - - - - - - - - - - - - - - - */

nav {
	z-index: 5;
	position: sticky;

	display: flex;

	top: 0;

	height: 1.3cm;

	backdrop-filter: saturate(180%) blur(20px); -webkit-backdrop-filter: saturate(180%) blur(20px);
	background-color: var(--transparency-1)
}
nav div {
	display: inherit;
	align-items: center;
	justify-content: space-between
}

nav h1, nav span {
	font: normal 600 21px/1.14286 "bold", "icon";
	letter-spacing: .011em
}

nav h1 {
	width: 56.75px
}
nav p {
	opacity: 0
}

nav * {
	transition: opacity .5s ease 0s
}

.title > *:not(p) {
	opacity: 0;
	pointer-events: none
}/* - */
.title p {
	opacity: 1
}/* - */

/* - - - - - - - - - - - - - - - - - - - - - */

blockquote {
	overflow: hidden
}

blockquote p {
	text-align: center;

	padding: 9px 3cm;

	transform: translateY(-100%);

	background-color: var(--blue-1);
}
blockquote *:not(q):not(small) {
	color: #f5f5f7
}

.quote {
	transform: translateY(0);
	transition: transform 2s ease .5s, background-color 1s ease-in-out 3s, color 1s ease-in-out 3s;

	will-change: transform;

	background-color: var(--gray-9);
	color: var(--gray-5)
}
.quote a {
	transition: color 1s ease-in-out 3s;

	color: var(--blue-1)
}

/* - - - - - - - - - - - - - - - - - - - - - */

.includes, footer {
	padding-top: 2.7cm
}

.includes h4 {
	margin-bottom: 16px;

	font: normal 700 24px/1.16667 "bold";
	letter-spacing: .009em;

	color: var(--gray-5)
}

.includes ul {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 36px
}

/* - - - - - - - - - - - - - - - - - - - - - */

.includes a {
	display: block;
	border-radius: 11px
}

.includes a div:first-child {
	height: 200px;

	border-radius: 11px 11px 0 0;
	background: center/cover
}
.includes a div:last-child {
	padding: .5cm;

	border-radius: 0 0 11px 11px;
	background-color: var(--gray-6)
}

.includes a div:last-child p {
	padding: 0 0 .2cm;

	color: var(--gray-7)
}
.includes a div:last-child h5 {
	font: normal 600 19px/1.21053 "bold";
	letter-spacing: .012em
}