/* bold font */

@font-face {
	font-family: "bold";
	font-style: normal;
	font-weight: 100;
	src: url("https://sam959595.github.io/cloverspotqi.github.io/fonts/bold/ultralight.woff2") format("woff2")
}
@font-face {
	font-family: "bold";
	font-style: normal;
	font-weight: 200;
	src: url("https://sam959595.github.io/cloverspotqi.github.io/fonts/bold/thin.woff2") format("woff2")
}
@font-face {
	font-family: "bold";
	font-style: normal;
	font-weight: 300;
	src: url("https://sam959595.github.io/cloverspotqi.github.io/fonts/bold/light.woff2") format("woff2")
}
@font-face {
	font-family: "bold";
	font-style: normal;
	font-weight: 400;
	src: url("https://sam959595.github.io/cloverspotqi.github.io/fonts/bold/regular.woff2") format("woff2")
}
@font-face {
	font-family: "bold";
	font-style: normal;
	font-weight: 500;
	src: url("https://sam959595.github.io/cloverspotqi.github.io/fonts/bold/medium.woff2") format("woff2")
}
@font-face {
	font-family: "bold";
	font-style: normal;
	font-weight: 600;
	src: url("https://sam959595.github.io/cloverspotqi.github.io/fonts/bold/semibold.woff2") format("woff2")
}
@font-face {
	font-family: "bold";
	font-style: normal;
	font-weight: 700;
	src: url("https://sam959595.github.io/cloverspotqi.github.io/fonts/bold/bold.woff2") format("woff2")
}
@font-face {
	font-family: "bold";
	font-style: normal;
	font-weight: 800;
	src: url("https://sam959595.github.io/cloverspotqi.github.io/fonts/bold/heavy.woff2") format("woff2")
}
@font-face {
	font-family: "bold";
	font-style: normal;
	font-weight: 900;
	src: url("https://sam959595.github.io/cloverspotqi.github.io/fonts/bold/black.woff2") format("woff2")
}

/* small font */

@font-face {
	font-family: "small";
	font-style: normal;
	font-weight: 100;
	src: url("https://sam959595.github.io/cloverspotqi.github.io/fonts/small/ultralight.woff2") format("woff2")
}
@font-face {
	font-family: "small";
	font-style: normal;
	font-weight: 200;
	src: url("https://sam959595.github.io/cloverspotqi.github.io/fonts/small/thin.woff2") format("woff2")
}
@font-face {
	font-family: "small";
	font-style: normal;
	font-weight: 300;
	src: url("https://sam959595.github.io/cloverspotqi.github.io/fonts/small/light.woff2") format("woff2")
}
@font-face {
	font-family: "small";
	font-style: normal;
	font-weight: 400;
	src: url("https://sam959595.github.io/cloverspotqi.github.io/fonts/small/regular.woff2") format("woff2")
}
@font-face {
	font-family: "small";
	font-style: normal;
	font-weight: 500;
	src: url("https://sam959595.github.io/cloverspotqi.github.io/fonts/small/medium.woff2") format("woff2")
}
@font-face {
	font-family: "small";
	font-style: normal;
	font-weight: 600;
	src: url("https://sam959595.github.io/cloverspotqi.github.io/fonts/small/semibold.woff2") format("woff2")
}
@font-face {
	font-family: "small";
	font-style: normal;
	font-weight: 700;
	src: url("https://sam959595.github.io/cloverspotqi.github.io/fonts/small/bold.woff2") format("woff2")
}
@font-face {
	font-family: "small";
	font-style: normal;
	font-weight: 800;
	src: url("https://sam959595.github.io/cloverspotqi.github.io/fonts/small/heavy.woff2") format("woff2")
}
@font-face {
	font-family: "small";
	font-style: normal;
	font-weight: 900;
	src: url("https://sam959595.github.io/cloverspotqi.github.io/fonts/small/black.woff2") format("woff2")
}

/* icons font */

@font-face {
	font-family: "icon";
	font-style: normal;
	font-weight: 100;
	src: url("https://sam959595.github.io/cloverspotqi.github.io/fonts/icon/ultralight.woff2") format("woff2")
}
@font-face {
	font-family: "icon";
	font-style: normal;
	font-weight: 200;
	src: url("https://sam959595.github.io/cloverspotqi.github.io/fonts/icon/thin.woff2") format("woff2")
}
@font-face {
	font-family: "icon";
	font-style: normal;
	font-weight: 300;
	src: url("https://sam959595.github.io/cloverspotqi.github.io/fonts/icon/light.woff2") format("woff2")
}
@font-face {
	font-family: "icon";
	font-style: normal;
	font-weight: 400;
	src: url("https://sam959595.github.io/cloverspotqi.github.io/fonts/icon/regular.woff2") format("woff2")
}
@font-face {
	font-family: "icon";
	font-style: normal;
	font-weight: 500;
	src: url("https://sam959595.github.io/cloverspotqi.github.io/fonts/icon/medium.woff2") format("woff2")
}
@font-face {
	font-family: "icon";
	font-style: normal;
	font-weight: 600;
	src: url("https://sam959595.github.io/cloverspotqi.github.io/fonts/icon/semibold.woff2") format("woff2")
}
@font-face {
	font-family: "icon";
	font-style: normal;
	font-weight: 700;
	src: url("https://sam959595.github.io/cloverspotqi.github.io/fonts/icon/bold.woff2") format("woff2")
}
@font-face {
	font-family: "icon";
	font-style: normal;
	font-weight: 800;
	src: url("https://sam959595.github.io/cloverspotqi.github.io/fonts/icon/heavy.woff2") format("woff2")
}
@font-face {
	font-family: "icon";
	font-style: normal;
	font-weight: 900;
	src: url("https://sam959595.github.io/cloverspotqi.github.io/fonts/icon/black.woff2") format("woff2")
}