html, body {
	width: 100vw;
	height: 100vh
}

* {
	margin: 0;
	padding: 0;

	vertical-align: top;
	box-sizing: border-box;

	-webkit-user-select: none;

	font: normal 400 12px/1.33337 "small", "bold", "icon";
	letter-spacing: -.01em;

	-webkit-font-smoothing: antialiased
}

img {
	pointer-events: none
}
a, strong, b, sup, sub, u, ins, del, i, s, mark, small, q, em {
	font: inherit
}
a, u {
	text-decoration: none
}
ul, ol {
	list-style: none
}
input, button, hr, iframe {
	border: none
}
input, button {
	outline: none
}
button, span {
	cursor: pointer
}
hr {
	border-top: 1px solid var(--gray-8)
}
sup {
	font-size: 9px
}
strong, b {
	font-weight: 600
}
em {
	font-style: italic
}

/* - */

::-webkit-scrollbar {
	display: none
}
:lang(ru-RU) {
	quotes: "\00ab" "\00bb"
}
:lang(en-US) {
	quotes: "\201c" "\201d"
}

/* - */

body {
	background-color: var(--gray-0)
}
h1, h2, h3, h4, h5, h6 {
	color: var(--gray-1)
}
p, li {
	color: var(--gray-5)
}
a {
	color: var(--blue-1)
}

/* - - - - - - - - - - - - - - - - - - - - - */

section svg {
	fill: var(--gray-5)
}
section svg {
	fill: var(--blue-1)
}

section {
	margin: 0 auto;
	width: 653px
}

@media screen and (max-width: 1024px) {
	section {
		width: 576px
	}
}

@media screen and (max-width: 768px) {
	section {
		width: 87.5%
	}
}

/* - - - - - - - - - - - - - - - - - - - - - */

section {
	height: 100%;

	text-align: center
}

/* - */

h1 {
	margin-top: 2cm;

	font: 700 32px/1.125 "bold";
	letter-spacing: .02em
}

/* - */

section p {
	margin-top: .8em;

	font: 400 12px/1.33341 "small";
	letter-spacing: -.01em
}

/* - */

section div:last-child {
	padding-top: 1cm;

	margin: inherit;
	max-width: 10cm
}

section div:last-child button {
	width: 100%;

	border-radius: 13px;

	padding: .8em 1.2em;

	font: normal 600 16px "small";

	overflow: hidden;

	background-color: var(--gray-11);
	color: var(--gray-01)
}

section div:last-child button+button {
	margin-top: .5em;

	background-color: var(--blue-1);
	color: var(--gray-02)
}

/* - - - - - - - - - - - - - - - - - - - - - */

@media screen and (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
    :root {
        --gray-0: #f2f2f7;
		--gray-01: black;
		--gray-02: white;
        --gray-1: #111;
        --gray-2: #e8e8ed;
        --gray-3: #86868b;
        --gray-4: #515154;
        --gray-5: #888;
        --gray-6: #333;
        --gray-7: #1d1d1f;
        --gray-8: #f2f2f7;
        --gray-9: #e6e6e6;
        --gray-10: #666;
        --gray-11: #00000014;

        --blue-1: #06c;
    }
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --gray-0: black;
		--gray-01: white;
		--gray-02: white;
        --gray-1: #f3f3f3;
        --gray-2: #121217;
        --gray-3: #63636e;
        --gray-4: #aaaab3;
        --gray-5: #8e8e93;
        --gray-6: #d5d5e2;
        --gray-7: #f5f5f7;
        --gray-8: #17171d;
        --gray-9: #1d1c1f;
        --gray-10: #aaaab3;
        --gray-11: #2c2c2e;

        --blue-1: #007aff;
    }
}