@media screen and (max-width: 1600px) {
    section.details {
        padding: 22px 5cm 0;
    }
}

@media screen and (max-width: 1024px) {
    section.details {
        padding: 22px 2cm 0;
    }
    footer {
        padding-top: 2cm;
    }
}

@media screen and (max-width: 908px) {
    section.details {
        padding: 22px 22px 0;
    }
    footer {
        padding-top: 1.5cm;
    }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 414px) {
    section.details {
        padding: 16px 16px 0;
    }
    footer {
        padding-top: 1cm;
    }
}

@media screen and (max-width: 411px) {
}

@media screen and (max-width: 375px) {
}

@media screen and (max-width: 360px) {
}

@media screen and (max-width: 320px) {
}

@media screen and (max-width: 280px) {
}