aside > * {
	margin: 0 auto;
	width: 35%
}

nav div, section {
	margin: 0 auto;
	width: 980px
}

@media screen and (min-width: 768px) {
    .includes a {
        position: relative
    }
    .includes a::before {
        display: block;
        content: "";
        
        top: 0;
        
        width: 100%;
        height: 100%;
    
        border-radius: 10px;
        
        position: absolute;
        
        transition: all 0.5s linear 0s
    }
    .includes a:hover::before {
        background-color: #00000034;
    
        transition: all 0.3s linear 0s
    }
}

@media screen and (max-width: 1024px) {
    aside > * {
        width: 450px
    }

    nav {
        padding: 0 22px
    }

    section {
        width: 692px
    }

    .includes ul {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 24px
    }
}

@media screen and (max-width: 768px) {
    aside main:first-child {
        margin-top: 3em
    }

    aside > *, section {
        width: 366px
    }

    nav {
        height: 48px;
        padding: 0 16px
    }
    nav h4 {
        font: normal 600 19px "bold";
        letter-spacing: .012em
    }

    .includes, footer {
        padding-top: 2.7cm
    }
    .includes ul {
        grid-template-columns: 1fr
    }
}

@media screen and (max-width: 414px) {
    aside main:first-child {
        margin-top: 16px
    }

    aside > *, section {
        width: 87.5%
    }
}