.disguise {
	overflow: hidden
}/* - */

aside > div:last-child ul li u {
	color: var(--gray-4)
}/* - */

/* - - - - - - - - - - - - - - - - - - - - - */

aside {
	z-index: 9;

	position: fixed;

	width: 100%;
	height: 100%;

	opacity: 0;
	pointer-events: none;

	background-color: var(--gray-0);

	transition: opacity .5s ease 0s
}
.visible {
	opacity: 1;
	pointer-events: auto
}

/* - - - - - - - - - - - - - - - - - - - - - */

aside > div:first-child {
	margin-top: 5em
}

/* - */

aside > div:first-child div:first-child {
	display: flex;
	justify-content: space-between;

	height: 3em;
	
	margin: 2em 0 .6em;

	transition: all .4s ease 0s, opacity .2s ease 0s
}
.disappear {
	height: 0 !important;
	margin: 0 !important;
	opacity: 0 !important;
	pointer-events: none !important
}

/* - */

aside > div:first-child div:first-child h4 {
	align-self: flex-end;

	font: normal 700 28px "bold";
	letter-spacing: .007em
}

/* - */

aside > div:first-child div:first-child span {
	align-self: flex-end
}
aside > div:first-child div:first-child span::before {
	font-size: 23px;

	content: "\f314"
}

/* - - - - - - - - - - - - - - - - - - - - - */

aside > div:first-child div:last-child {
	display: flex
}

/* - */

aside form {
	width: 100%
}

/* - */

aside form::before {
	content: "\ea1d";

	position: absolute;

	font-size: 1.7em;

	margin: 5px 0 0 5px;

	color: var(--gray-3)
}
.load::before {
	content: "";

	width: 20px;
	height: 20px;

	margin: 5px 0 0 1px;

	background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='25px' height='25px' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3e%3cg transform='rotate(0 50 50)'%3e%3crect x='46.5' y='22.5' rx='3.5' ry='4.25' width='7' height='17' fill='%238d8d93'%3e%3canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='0.78125s' begin='-0.68359375s' repeatCount='indefinite'%3e%3c/animate%3e%3c/rect%3e%3c/g%3e%3cg transform='rotate(45 50 50)'%3e%3crect x='46.5' y='22.5' rx='3.5' ry='4.25' width='7' height='17' fill='%238d8d93'%3e%3canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='0.78125s' begin='-0.5859375s' repeatCount='indefinite'%3e%3c/animate%3e%3c/rect%3e%3c/g%3e%3cg transform='rotate(90 50 50)'%3e%3crect x='46.5' y='22.5' rx='3.5' ry='4.25' width='7' height='17' fill='%238d8d93'%3e%3canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='0.78125s' begin='-0.48828125s' repeatCount='indefinite'%3e%3c/animate%3e%3c/rect%3e%3c/g%3e%3cg transform='rotate(135 50 50)'%3e%3crect x='46.5' y='22.5' rx='3.5' ry='4.25' width='7' height='17' fill='%238d8d93'%3e%3canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='0.78125s' begin='-0.390625s' repeatCount='indefinite'%3e%3c/animate%3e%3c/rect%3e%3c/g%3e%3cg transform='rotate(180 50 50)'%3e%3crect x='46.5' y='22.5' rx='3.5' ry='4.25' width='7' height='17' fill='%238d8d93'%3e%3canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='0.78125s' begin='-0.29296875s' repeatCount='indefinite'%3e%3c/animate%3e%3c/rect%3e%3c/g%3e%3cg transform='rotate(225 50 50)'%3e%3crect x='46.5' y='22.5' rx='3.5' ry='4.25' width='7' height='17' fill='%238d8d93'%3e%3canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='0.78125s' begin='-0.1953125s' repeatCount='indefinite'%3e%3c/animate%3e%3c/rect%3e%3c/g%3e%3cg transform='rotate(270 50 50)'%3e%3crect x='46.5' y='22.5' rx='3.5' ry='4.25' width='7' height='17' fill='%238d8d93'%3e%3canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='0.78125s' begin='-0.09765625s' repeatCount='indefinite'%3e%3c/animate%3e%3c/rect%3e%3c/g%3e%3cg transform='rotate(315 50 50)'%3e%3crect x='46.5' y='22.5' rx='3.5' ry='4.25' width='7' height='17' fill='%238d8d93'%3e%3canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='0.78125s' begin='0s' repeatCount='indefinite'%3e%3c/animate%3e%3c/rect%3e%3c/g%3e%3c/svg%3e") no-repeat
}

/* - - - - - - - - - - - - - - - - - - - - - */

input[type="search"] {
	-webkit-appearance: none;

	width: 100%;
	height: 34px;

	border-radius: 10px;

	padding: 0 6px 0 26px;

	font: normal 400 16px "small";
	letter-spacing: -.022em;

	background-color: var(--gray-1)
}
input[type="search"]::-webkit-input-placeholder {
	color: var(--gray-3)
}
input[placeholder] {
	color: var(--gray-4)
}
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: inherit;

	width: 17px;
	height: 17px;

	cursor: pointer
}

/* - */

aside > div:first-child div:last-child span {
	align-self: center;

	font: normal 400 17px "small";
	letter-spacing: -.022em;

	width: 0;
	margin-left: 0;
	opacity: 0;
	
	color: var(--blue-1);

	pointer-events: none;

	transition: all .4s ease 0s
}
.hide {
	width: 79px !important;
	margin-left: .6em !important;
	opacity: 1 !important;
	pointer-events: auto !important
}

/* - - - - - - - - - - - - - - - - - - - - - */

aside > div:last-child {
	margin-top: 3em
}

/* - */

aside > div:last-child ul:first-child li a {
	display: block;
	font: normal 400 17px "small";
	letter-spacing: -.022em;

	padding: 10px 0;

	color: var(--gray-2)
}
aside > div:last-child ul:first-child li+li {
	border-top: 1px solid var(--gray-8)
}

/* - - - - - - - - - - - - - - - - - - - - - */

aside > div:last-child ul:last-child a {
	display: flex;
	align-items: center
}

aside > div:last-child ul:last-child a div:first-child {
	margin-right: 15px;

	width: 108px;
	height: 42px;

	border-radius: 5px;
	border: 1px solid var(--gray-10);

	background: center/cover
}
aside > div:last-child ul:last-child a div:last-child {
	width: 100%
}

aside > div:last-child ul:last-child li {
	margin-bottom: 1em
}
aside > div:last-child ul:last-child li+li a div:last-child {
	border-top: 1px solid var(--gray-10)
}

aside > div:last-child ul:last-child a p {
	padding-top: 1em;
	color: var(--gray-7)
}
aside > div:last-child ul:last-child a h5 {
	font: normal 600 17px/1.23536 "small";
	letter-spacing: -.022em
}