@media screen and (prefers-color-scheme: light) {
    :root {
        --transparency-1: #fafafab3;

        --gray-0: #f5f5f7;
        --gray-1: #e3e3e8;
        --gray-2: #84848b;
        --gray-3: #8d8d93;
        --gray-4: #1d1d1e;
        --gray-5: #1d1d1f;
        --gray-6: white;
        --gray-7: #86868b;
        --gray-8: #e2e2e2;
        --gray-9: #e8e8ed;

        --blue-1: #06c;
    }
    input[type="search"]::-webkit-search-cancel-button {
        background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' viewBox='0 0 2397 1497' fill='%238d8d93' %3e%3cpath d='M1199-298Q990-298 805.50-218Q621-138 480 3Q339 144 259 328.50Q179 513 179 722Q179 931 259 1115.50Q339 1300 479.50 1441Q620 1582 804.50 1662Q989 1742 1198 1742Q1407 1742 1592 1662Q1777 1582 1918 1441Q2059 1300 2139 1115.50Q2219 931 2219 722Q2219 513 2139 328.50Q2059 144 1918 3Q1777-138 1592.50-218Q1408-298 1199-298M840 278Q877 278 900 303L1198 602L1497 303Q1522 278 1557 278Q1592 278 1617 303Q1642 328 1642 363Q1642 396 1617 423L1318 721L1618 1022Q1643 1046 1643 1080Q1643 1115 1618 1139.50Q1593 1164 1558 1164Q1524 1164 1500 1139L1198 839L898 1138Q876 1162 840 1162Q805 1162 780 1138Q755 1114 755 1079Q755 1044 780 1021L1079 721L780 421Q755 398 755 363Q755 328 780 303Q805 278 840 278Z'/%3e%3c/svg%3e") center no-repeat
    }
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --transparency-1: #1d1d1fb3;

        --gray-0: black;
        --gray-1: #1c1c1e;
        --gray-2: #75757a;
        --gray-3: #6e6e77;
        --gray-4: #f5f5f7;
        --gray-5: #f5f5f7;
        --gray-6: #1d1d1f;
        --gray-7: #86868b;
        --gray-8: #1c1c1e;
        --gray-9: #151516;

        --blue-1: #2997ff;
    }
    input[type="search"]::-webkit-search-cancel-button {
        background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' viewBox='0 0 2397 1497' fill='%236e6e77' %3e%3cpath d='M1199-298Q990-298 805.50-218Q621-138 480 3Q339 144 259 328.50Q179 513 179 722Q179 931 259 1115.50Q339 1300 479.50 1441Q620 1582 804.50 1662Q989 1742 1198 1742Q1407 1742 1592 1662Q1777 1582 1918 1441Q2059 1300 2139 1115.50Q2219 931 2219 722Q2219 513 2139 328.50Q2059 144 1918 3Q1777-138 1592.50-218Q1408-298 1199-298M840 278Q877 278 900 303L1198 602L1497 303Q1522 278 1557 278Q1592 278 1617 303Q1642 328 1642 363Q1642 396 1617 423L1318 721L1618 1022Q1643 1046 1643 1080Q1643 1115 1618 1139.50Q1593 1164 1558 1164Q1524 1164 1500 1139L1198 839L898 1138Q876 1162 840 1162Q805 1162 780 1138Q755 1114 755 1079Q755 1044 780 1021L1079 721L780 421Q755 398 755 363Q755 328 780 303Q805 278 840 278Z'/%3e%3c/svg%3e") center no-repeat
    }
}