@media screen and (prefers-color-scheme: no-preference), (prefers-color-scheme: light) {
    :root {
        --details: #f5f5f7;
        --description: #86868b;
        --link: #515154;

        --span: #f5f5f7;
    }
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --body: black;

        --details: #1d1d1f;
        --description: #6e6e73;
        --link: #a1a1a6;

        --span: #131314;
    }
}