@media screen and (prefers-color-scheme: no-preference), (prefers-color-scheme: light) {
    :root {
        --body: white;

        /* - */

        --includes: #f5f5f7;

        /* - */

        --details: #f5f5f7;
        --description: #86868b;

        --link: #515154;
        --link-footer: #3478f5;
    }
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --body: black;

        /* - */

        --includes: #131314;
        
        --fillet: black;
        --conclusion-p: #7a7a7a;
        --conclusion-h: #fdfdfd;

        /* - */

        --details: #1d1d1f;
        --description: #6e6e73;

        --link: #a1a1a6;
        --link-footer: #3478f5;
    }
}