main.nn a > h6 {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}
main.bb div:last-child p, main.bb div:last-child h4, main.nn a > div:last-child div p, main.kk a > div:last-child p, main.kk a > div:last-child h4 {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden
}

/* - - - - - - - - - - - - - - - - - - - - - */

section.hh {
	margin-top: 1cm
}

section.hh h1 {
	font: normal 700 32px/1.25 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: .012em
}

/* - - - - - - - - - - - - - - - - - - - - - */

section, header > div div {
	margin: 0 auto;
	width: 90%
}

/* - - - - - - - - - - - - - - - - - - - - - */

section.pp {
	margin-top: 3em
}

section.pp > div {
	margin: .8em 0;
	
	display: flex;
	justify-content: space-between
}
section.pp h3 {
	font: normal 700 21px/1.14286 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: 0
}
section.pp a {
	font: normal 400 17px/1.47 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: -.022em
}

/* - - - - - - - - - - - - - - - - - - - - - */

main ul {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
	scroll-padding: 0 20.705px
}
main ul li {
	scroll-snap-align: start
}

/* - */

main.tt ul {
	display: grid;
    grid-auto-flow: column;
    column-gap: .9em
}

/* - */

main.tt ul {
    display: grid;
    grid-auto-flow: column;
    column-gap: 1em;

    overflow-x: scroll;
	
    scroll-snap-type: x mandatory;
    scroll-padding: 0 20px;
}

main.tt ul li:first-child {
    padding-left: 20px;
}
main.tt ul li:last-child {
    padding-right: 20px;
}

main.tt ul li a {
	display: block;
    border-radius: 25px;
}

main.tt ul li figure {
	display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1.2em;

    width: 140px;
    height: 140px;

    -webkit-mask: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' id='Слой_1' data-name='Слой 1' viewBox='0 0 575.99997 576.00002'%3e%3ctitle%3e23%3c/title%3e%3cpath d='M575.97058,122.16064c-.02692-4.43676-.07843-8.87231-.1972-13.30792a193.68162,193.68162,0,0,0-2.5481-28.96045,97.77084,97.77084,0,0,0-9.076-27.54437A92.605,92.605,0,0,0,523.66064,11.863a97.72315,97.72315,0,0,0-27.52941-9.0708A193.222,193.222,0,0,0,467.15875.2431C462.89294.128,456.53986.06842,453.85034.04468,447.79761-.00879,442.92023-.00348,440.123.00616c-1.10856.00385-1.929.00831-2.07392.0091-12.60434.06683-264.65628.17956-300.09814,0-1.6767-.00849-7.69345-.022-15.80127.02942-4.43817.02813-8.87268.07837-13.30835.19842A193.20632,193.20632,0,0,0,79.86884,2.79224,97.72286,97.72286,0,0,0,52.33936,11.863,92.60583,92.60583,0,0,0,11.85071,52.3479a97.734,97.734,0,0,0-9.076,27.54437,193.51255,193.51255,0,0,0-2.548,28.96045c-.11883,4.43561-.17028,8.87116-.19726,13.30792-.0318,5.26612-.02936,10.53339-.02936,15.80079v300.0924c0,5.26728-.00244,10.53461.02936,15.80072.027,4.43677.07843,8.87238.19726,13.30793a193.51231,193.51231,0,0,0,2.548,28.96044,97.72131,97.72131,0,0,0,9.076,27.54438,92.60583,92.60583,0,0,0,40.48865,40.48486,97.76432,97.76432,0,0,0,27.52948,9.072,193.35591,193.35591,0,0,0,28.97247,2.54791c4.43567.12006,8.87018.17151,13.30835.19849,5.26629.0318,10.53253.02936,15.80127.02936H438.04907c5.26752,0,10.53375.00244,15.80127-.02936,4.43817-.027,8.87268-.07843,13.30841-.19849a193.37165,193.37165,0,0,0,28.97248-2.54791,97.76461,97.76461,0,0,0,27.52941-9.072,92.605,92.605,0,0,0,40.48865-40.48486,97.75811,97.75811,0,0,0,9.076-27.54438,193.68137,193.68137,0,0,0,2.5481-28.96044c.11877-4.43555.17028-8.87116.1972-13.30793.03186-5.26611.02936-10.53344.02936-15.80072V137.96143C575.99994,132.694,576.00244,127.42676,575.97058,122.16064Z' transform='translate(-0.00002 0.00003)'/%3e%3c/svg%3e") no-repeat;

    background: center/cover var(--gray-8);
}

/* - */

main.bb div:last-child h6, main.nn a > div:last-child div h6, main.kk a > div:last-child h6 {
	font: normal 600 14px/1.2 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: -.016em
}
main.bb div:last-child h4, main.nn a > div:last-child div h4, main.kk a > div:last-child h4 {
	font: normal 400 17px/1.47059 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: 0
}
main.bb div:last-child p, main.nn a > div:last-child div p, main.kk a > div:last-child p, main.nn a > p {
	margin-top: .2em;
}

/* - - - - - - - - - - - - - - - - - - - - - */

main.nn a, main.kk a {
    display: block;
	width: 372.59px
}
main.nn a > div:nth-child(2) {
	margin: 1.2em 0;

    height: 190px;
    border-radius: 5px;
    box-shadow: inset 0 0 0 .5px var(--soft-2);
    background: center/cover
}
main.nn a > div:last-child, main.kk a {
	display: flex;
	align-items: center
}

main.nn a > div:last-child img, main.kk a > div:first-child img {
	width: 65px;
	height: 65px
}

main.nn a > div:last-child div, main.kk a > div:last-child {
	margin-left: .8em;
	
	width: 100%
}

/* - - - - - - - - - - - - - - - - - - - - - */

main.kk ul {
	display: grid;
	grid-auto-flow: column;
	grid-template-rows: repeat(3, auto);
    column-gap: .9em
}

main.kk li:nth-child(3n+2) a > div:last-child {
	margin-top: 9.6px;
    margin-bottom: 9.6px;

	height: 84.2px;

    display: flex;
    flex-direction: column;
    justify-content: center;

	border-style: solid;
    border-width: .1px 0 .1px;
    border-color: var(--gray-9)
}

/* - - - - - - - - - - - - - - - - - - - - - */

@media screen and (prefers-color-scheme: light) {
	:root {
		--soft-1: #00000050;
		--soft-2: #8080801a;

		--gray-a: white;
		--gray-b: black;

		--gray-1: #1d1d1f;
		--gray-2: #8e8e93;
		--gray-3: #d2d2d7;
		--gray-4: #515154;
		--gray-5: #888;
		--gray-6: #333;
		--gray-7: #1d1d1f;
		--gray-8: #f5f5f7;
		--gray-9: #86868b;
		--gray-10: #666;
		--gray-11: #c9c9d1;
		--gray-12: #f0f0f2;
		--gray-13: #e8e8ed;
		--gray-14: #e8e8ed;
		
		--blue-1: #06c;

		--const-1: #f5f5f7;
	}
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--soft-1: #1d1d1fb3;
		--soft-2: #d4d4d41a;

		--gray-a: black;
		--gray-b: white;

		--gray-1: #f5f5f7;
		--gray-2: #8e8e93;
		--gray-3: #212125;
		--gray-4: #aaaab3;
		--gray-5: #8e8e93;
		--gray-6: #d5d5e2;
		--gray-7: #f5f5f7;
		--gray-8: #17171d;
		--gray-9: #63636e;
		--gray-10: #aaaab3;
		--gray-11: #2c2c2e;
		--gray-12: #1a1a21;
		--gray-13: #1c1c23;
		--gray-14: #212125;
	
		--blue-1: #007aff;

		--const-1: #f5f5f7;
	}
}