.x {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}
section.hh:not(.bb, .nn) h5 {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden
}

/* 0 */

section.hh ul {
    display: grid;
    grid-auto-flow: column;
    column-gap: 1em;

	overflow-x: scroll;

    scroll-snap-type: x mandatory;
	scroll-padding: 0 var(--padding)
}
section.hh li {
	scroll-snap-align: start
}

section.hh ul {
    padding-left: var(--padding)
}
section.hh li:last-child {
    padding-right: var(--padding)
}

/* 1 */

section.ss {
	margin: 1cm var(--padding) 1em
}

section.ss h1 {
	font: normal 700 32px system-ui;
    letter-spacing: .012em
}

/* 1 */

section:is(.bb, .nn) figure {
	display: flex;
	align-items: center;

    padding: 0 1em;
	
    height: 60px !important
}

section:is(.bb, .nn) h5 {
	margin-left: .5em
}

/* 2 */

section.tt {
	margin: 2em var(--padding) 0
}

section.tt h3 {
	margin: .48em 0;

	font: normal 700 21px/1.14286 system-ui;
    letter-spacing: 0
}

/* 3 */

section.hh :where(h5, h6) {
	font: normal 600 14px/1.2 system-ui;
    letter-spacing: 0
}
section.hh h6 {
	margin: .5em 0;

	font-weight: 400;

	color: var(--orange-1)
}

section.hh a {
	display: block;
    border-radius: 22px
}
section.hh figure {
    width: 230px;
    height: 338px;

	border-radius: 22px;

    background: center/cover var(--gray-4)
}

/* 4 */

section.nn ul {
	grid-template-rows: repeat(2, 1fr);
	gap: 1em
}

/* 5 */

section.kk a {
    display: block;
    padding-left: var(--padding)
}

section.kk li+li h5 {
	border-top: .1px solid var(--gray-3)
}

section.kk h5 {
    padding: 10px 0;

    font: normal 400 21px system-ui;
	letter-spacing: 0;

    color: inherit
}

/* 6 */

footer {
	margin-bottom: env(safe-area-inset-bottom)
}

/* 8 */

@media screen and (max-width: 428px) {
    :root {
        --padding: 20px;
    }

    @media screen and (orientation: landscape) {
    }
}

/* 8 */

@media screen and (prefers-color-scheme: light) {
	:root {
		--gray-a: white;
		--gray-b: black;

		--gray-1: #1d1d1f;
		--gray-2: #8e8e93;
		--gray-3: #d2d2d7;
		--gray-4: #f5f5f7;
		--gray-5: #c9c9d1;
		
		--blue-1: #007aff;

		--green-1: #40dd33;

		--orange-1: #fd9900;
	}
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--gray-a: black;
		--gray-b: white;

		--gray-1: #f5f5f7;
		--gray-2: #8e8e93;
		--gray-3: #212125;
		--gray-4: #17171d;
		--gray-5: #1a1a21;
	
		--blue-1: #007aff;

		--green-1: #4cee3e;

		--orange-1: #ff9f00;
	}
}