.x {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}
.x {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden
}

/* 0 */

section.zz {
    z-index: 5;

    position: fixed;

    display: block;

    justify-content: center;
    align-items: center
}
section.zz > div {
    width: 7cm;

    border-radius: 20px;
    padding: 2em 1em;

    text-align: center;

    -webkit-backdrop-filter: saturate(180%) blur(20px); backdrop-filter: saturate(180%) blur(20px);
    background-color: var(--soft-1)
}
section.zz h5 {
    font: normal 600 14px/1.42859 system-ui;
    letter-spacing: 0
}

/* 1 */

nav {
    z-index: 5;

    position: fixed;

    top: 0;
    width: 100%;

    padding: 1em;

    text-align: center;

    border-bottom: .1px solid var(--gray-3);

    /* border: solid var(--gray-7);
    border-width: .1px 0; */

    -webkit-backdrop-filter: saturate(180%) blur(20px); backdrop-filter: saturate(180%) blur(20px);
    background-color: var(--soft-1)
}
nav h6 {
    font: normal 400 14px/1.42859 system-ui;
    letter-spacing: 0
}

/* 5 */

section.rr {
	text-align: center
}

/* 5 */

@media screen and (min-width: 320px) and (max-width: 896px) {
	section.vv {
		margin: 1cm 1cm .5cm
	}
}

section.vv h6 {
    font: normal 400 14px/1.2 system-ui;
    letter-spacing: 0;

    color: var(--orange-1)
}
section.vv h5 {
	margin: .5em 0;

	font: normal 600 14px/1.2 system-ui;
    letter-spacing: 0
}

section.vv figure {
	aspect-ratio: 1/1;

	background: center/cover
}

/* 1 */

@media screen and (min-width: 320px) and (max-width: 896px) {
	section.bb {
		margin: .5cm auto;
		width: 90%
	}
}

section.bb p {
    font: normal 400 11px/1.2 system-ui;
    letter-spacing: -.008em;

    color: var(--gray-6)
}

section.bb > div {
	margin: .5cm 0
}

section.bb :where(apple-pay-button, google-pay-button, button) {
	width: 100%;
    height: 48px;

    border-radius: 13px
}
section.bb apple-pay-button {
	margin-bottom: .6em;
	
    -webkit-appearance: -apple-pay-button;
    -apple-pay-button-type: buy;
    -apple-pay-button-style: var(--gray-b)
}
section.bb google-pay-button {
	margin-bottom: .6em;

	display: flex;
	align-items: center;
	justify-content: center;

	background: var(--gray-b)
}
section.bb button {
	font: normal 600 16px system-ui;
    letter-spacing: 0;

	background-color: var(--gray-5);
	color: var(--blue-1)
}

section.bb > a {
	font: normal 600 14px system-ui;
	letter-spacing: 0
}

/* 1 */

section.nn ul {
    display: grid;
    grid-auto-flow: column;

    overflow-x: scroll;

    scroll-snap-type: x mandatory;
    scroll-padding-left: var(--padding)
}
section.nn ul li {
    scroll-snap-align: start
}

section.nn img {
	width: 5cm
}

/* 1 */

section.pp {
	margin: .5cm auto;
	width: 90%
}

section.pp > * {
	padding: 0 13px
}
section.pp select {
	margin: .3em 0;

    width: 100%;
    height: 45px;

    border-radius: 11px;

    font: normal 600 17px system-ui;
    letter-spacing: 0;

    background-color: var(--gray-5);
    color: var(--blue-1)
}

/* 1 */

section.ff {
	margin-bottom: .5cm;

	display: flex;
	justify-content: space-evenly
}
section.ff h5 {
	font: normal 400 11px/1.2 system-ui;
    letter-spacing: -.008em;

	color: var(--gray-6)
}

/* 1 */

section.hh {
	text-align: center
}

section.hh ul {
	display: grid;
    grid-auto-flow: column;
    column-gap: 1em;

	overflow-x: scroll;

    scroll-snap-type: x mandatory;
    scroll-padding-left: var(--padding)
}
section.hh ul li {
	scroll-snap-align: start
}

section.hh ul li:first-child {
    padding-left: var(--padding)
}
section.hh ul li:last-child {
    padding-right: var(--padding)
}

section.hh ul li a {
	display: block;
	border-radius: 20px
}
section.hh ul li figure {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	padding: 2em;

	width: 230px;
	height: 338px;

	-webkit-mask: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 991.12 1458.01813'%3e%3cpath d='M991.12,137.96V1320.07c0,5.27,0,10.53-.03,15.8-.03,4.44-.08,8.87-.2,13.31a192.59928,192.59928,0,0,1-2.55,28.96,97.711,97.711,0,0,1-9.07,27.54,92.60625,92.60625,0,0,1-40.49,40.49,97.96641,97.96641,0,0,1-27.53,9.07,192.72339,192.72339,0,0,1-28.97,2.55c-4.44.12-8.87006.17-13.31006.2-5.27.03-10.54.03-15.8.03H137.95c-5.27,0-10.53,0-15.8-.03-4.44-.03-8.87-.08-13.31-.2a192.6082,192.6082,0,0,1-28.97-2.55,97.85993,97.85993,0,0,1-27.53-9.07,92.606,92.606,0,0,1-40.49-40.49,97.72934,97.72934,0,0,1-9.08-27.54,193.89569,193.89569,0,0,1-2.54-28.96c-.12-4.44-.17-8.87-.19995-13.31C0,1330.6,0,1325.34,0,1320.07V137.96c0-5.27,0-10.53.03-15.8.03-4.44.08-8.87.2-13.31A193.895,193.895,0,0,1,2.77,79.89a97.72976,97.72976,0,0,1,9.08-27.54A92.606,92.606,0,0,1,52.34,11.86,97.85993,97.85993,0,0,1,79.87,2.79,193.92368,193.92368,0,0,1,108.84.24c4.44-.12,8.87-.17,13.31-.2,8.30819-.05622,14.44016-.02826,15.8-.02,35.94969.21875,701.18341.08069,715.22,0,.09931-.00055.9364-.006,2.07-.01,2.8-.01,7.68-.02,13.73.03,2.69.03,9.04.09,13.31006.2a194.04047,194.04047,0,0,1,28.97,2.55,97.96641,97.96641,0,0,1,27.53,9.07,92.60625,92.60625,0,0,1,40.49,40.49,98.031,98.031,0,0,1,9.07,27.54,192.59863,192.59863,0,0,1,2.55,28.96c.12,4.44.17,8.87.2,13.31C991.12,127.43,991.12,132.69,991.12,137.96Z' transform='translate(0 -0.00183)'/%3e%3c/svg%3e") no-repeat;

	background: center/cover var(--const-1)
}

section.hh ul h2 {
	font: normal 600 19px system-ui;
    letter-spacing: 0;

	/* color: var(--const-2) */
}
section.hh ul p {
	margin-top: .5em;

    font: normal 400 14px/1.42859 system-ui;
    letter-spacing: -.016em
}
section.hh ul h6 {
    font: normal 400 11px/1.2 system-ui;
    letter-spacing: -.008em;

	color: var(--const-2)
}

/* 1 */

section.tt {
	margin: 1cm auto 0;
	width: 90%
}
section.tt h3 {
    margin: .48em 0;

    font: normal 700 21px/1.14286 system-ui;
    letter-spacing: 0
}

/* 1 */

section.kk a {
	display: block;

	padding-left: var(--padding)
}

section.kk li+li h5 {
	border-top: .1px solid var(--gray-3)
}

section.kk h5 {
	padding: 10px 0;

	font: normal 400 21px system-ui;
    letter-spacing: 0;

	color: inherit
}

/* 9 */

footer {
    padding-bottom: env(safe-area-inset-bottom);
	
    background-color: var(--gray-8)
}
footer ul {
    padding: 1em 0
}
footer li {
    margin: 0 max(env(safe-area-inset-right), 16px) 0 max(env(safe-area-inset-left), 16px);

    color: var(--gray-9)
}
footer li+li {
	margin-top: 1em
}

/* 4 */

@media screen and (min-width: 896px) {
	section.rr {
		margin: 2cm auto 0;
		width: 80%;
		
		display: flex
	}
	section.vv {
		width: 45%
	}
	section.vv h5 {
		font: normal 600 17px/1.2 system-ui;
		letter-spacing: 0
	}
	section.bb {
		margin: auto 0 auto auto;
		width: 35%
	}
}
@media screen and (min-width: 320px) and (max-width: 728px) {
	:root {
        --padding: 20px
    }
}

/* 4 */

@media screen and (prefers-color-scheme: light) {
	:root {
        --soft-1: #f5f5f7b8;

		--gray-a: white;
		--gray-b: black;

		--gray-1: #1d1d1f;
		--gray-2: #8e8e93;
		--gray-3: #d2d2d7;
		--gray-4: #86868b;
		--gray-5: #e8e8ed;
		--gray-6: #aaaab3;
        --gray-7: #aeaeb2;
		
		--blue-1: #007aff;

        --red-1: #ff2d55;

        --orange-1: #fd9900;

        --const-1: #17171d;
        --const-2: #f5f5f7;
	}
}

@media screen and (prefers-color-scheme: dark) {
	:root {
        --soft-1: #1d1d1fb8;
        
		--gray-a: black;
		--gray-b: white;
		
		--gray-1: #f5f5f7;
		--gray-2: #8e8e93;
		--gray-3: #212125;
		--gray-4: #63636e;
		--gray-5: #212125;
		--gray-6: #63636e;
        /* --gray-7: none; */
                --gray-7: #8e8e93;
	
		--blue-1: #007aff;

        --red-1: #fb5c74;
        --orange-1: #ff9f00;

        --const-1: #17171d;
        --const-2: #f5f5f7;
	}
}
