.x {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}
.x {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden
}

/* 0 */

section, footer {
    margin-top: .5cm
}

/* 1 */

nav {
    z-index: 5;

    position: fixed;

    top: 0;
    width: 100%;

    padding: 1em;

    text-align: center;

    border-bottom: .1px solid var(--gray-7);

    -webkit-backdrop-filter: saturate(180%) blur(20px); backdrop-filter: saturate(180%) blur(20px);
    background-color: var(--soft-1)
}
nav h6 {
    font: normal 400 14px/1.42859 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: 0
}

/* 5 */

section.vv {
	margin: 2cm 1cm .5cm;
	text-align: center
}

section.vv h6 {
    color: var(--red-1)
}
section.vv h5 {
	margin: .5em 0;

	font: normal 600 14px/1.2 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: 0
}

section.vv figure {
	height: 338px;

	background: center/cover
}

/* 1 */

section.bb {
	margin: .5cm auto;
	width: 90%;

    text-align: center
}

section.bb p {
    font: normal 400 11px/1.2 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: -.008em;

    color: var(--gray-6)
}

section.bb div {
	margin: .5cm 0
}

section.bb apple-pay-button, section.bb google-pay-button, section.bb button {
	width: 100%;
    height: 45px;

    -webkit-border-radius: 11px
}
section.bb apple-pay-button {
	margin-bottom: .6em;
	
    -webkit-appearance: -apple-pay-button;
    -apple-pay-button-type: buy;
    -apple-pay-button-style: var(--gray-b)
}
section.bb google-pay-button {
	margin-bottom: .6em
}
section.bb button {
	font: normal 600 16px -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: 0;

	background-color: var(--gray-5);
	color: var(--blue-1)
}

section.bb a {
	font: normal 600 14px -apple-system, BlinkMacSystemFont, "Segoe UI";
	letter-spacing: 0
}

/* 1 */

section.tt ul {
    display: grid;
    grid-auto-flow: column;

    overflow-x: scroll;

    scroll-snap-type: x mandatory;
    scroll-padding: 0
}
section.tt ul li {
    scroll-snap-align: center
}

section.tt img {
	width: 5cm
}

/* 1 */

section.pp {
	margin: .5cm auto;
	width: 90%
}

section.pp > * {
	padding: 0 13px
}
section.pp select {
	margin: .3em 0;

    width: 100%;
    height: 45px;

    border-radius: 11px;

    font: normal 600 17px -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: 0;

    background-color: var(--gray-5);
    color: var(--blue-1)
}

/* 1 */

section.ff {
	display: flex;
	justify-content: space-evenly;
	
	text-align: center
}
section.ff h5 {
	font: normal 400 11px/1.2 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: -.008em;
	
	color: var(--gray-6)
}

/* 1 */

section.hh {
	text-align: center
}

section.hh ul {
	display: grid;
    grid-auto-flow: column;
    column-gap: 1em;

	overflow-x: scroll;

    scroll-snap-type: x mandatory;
    scroll-padding: 0 var(--padding)
}
section.hh ul li {
	scroll-snap-align: start
}

section.hh ul li:first-child {
    padding-left: var(--padding)
}
section.hh ul li:last-child {
    padding-right: var(--padding)
}

section.hh ul li a {
	display: block;
	border-radius: 20px
}
section.hh ul li figure {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	padding: 2em;

	width: 302px;
	height: 480px;

	border-radius: 20px;

	background: center/cover var(--const-1)
}

section.hh ul h2 {
	font: normal 600 19px -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: 0;

	color: var(--const-2)
}
section.hh ul p {
	margin-top: .5em;

    font: normal 400 14px/1.42859 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: -.016em
}
section.hh ul h6 {
    font: normal 400 11px/1.2 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: -.008em;

	color: var(--const-2)
}

/* 1 */

section.nn {
	margin: 1cm auto 0;
	width: 90%
}
section.nn h3 {
    font: normal 700 21px/1.14286 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: 0
}

/* 1 */

section.kk a {
	display: block;

	padding-left: var(--padding)
}

section.kk h5 {
	padding: 10px 0;

	font: normal 400 19px -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: 0;

	color: inherit
}

section.kk li+li h5 {
	border-top: .1px solid var(--gray-3)
}

/* 9 */

footer {
    padding-bottom: env(safe-area-inset-bottom);
	
    background-color: var(--gray-8)
}
footer ul {
    padding: 1em 0
}
footer li {
    margin: 0 max(env(safe-area-inset-right), 16px) 0 max(env(safe-area-inset-left), 16px);

    color: var(--gray-9)
}
footer li+li {
	margin-top: 1em
}

/* 4 */

@media screen and (min-width: 720px) {
	section.rr {
		display: grid;
		grid-template-areas: "a b""c c";
	}
	section.vv {
		margin: 2.5cm auto .5cm;
		width: 50%
	}
	section.vv h5 {
		grid-area: a;

		font: normal 600 17px/1.2 -apple-system, BlinkMacSystemFont, "Segoe UI";
		letter-spacing: 0
	}
	section.vv p {
		margin: 0 auto;
		width: 60%
	}
	section.tt div {
		grid-area: c;

		margin: auto;
		width: 65%
	}
	section.bb {
		grid-area: b;

		margin: auto
	}
}
@media screen and (min-width: 320px) and (max-width: 428px) {
    @media screen and (orientation: landscape) {
    }

	:root {
        --padding: 20px
    }
}

/* 4 */

@media screen and (prefers-color-scheme: light) {
	:root {
        --soft-1: #f5f5f7b8;

		--gray-a: white;
		--gray-b: black;

		--gray-1: #1d1d1f;
		--gray-2: #8e8e93;
		--gray-3: #d2d2d7;
		--gray-4: #86868b;
		--gray-5: #e8e8ed;
		--gray-6: #aaaab3;
        --gray-7: #aeaeb2;
		
		--blue-1: #06c;

        --red-1: #ff2d55;

        --const-1: #17171d;
        --const-2: #f5f5f7;
	}
}

@media screen and (prefers-color-scheme: dark) {
	:root {
        --soft-1: #1d1d1fb8;
        
		--gray-a: black;
		--gray-b: white;
		
		--gray-1: #f5f5f7;
		--gray-2: #8e8e93;
		--gray-3: #212125;
		--gray-4: #63636e;
		--gray-5: #212125;
		--gray-6: #63636e;
        --gray-7: none;
	
		--blue-1: #007aff;

        --red-1: #fb5c74;

        --const-1: #17171d;
        --const-2: #f5f5f7;
	}
}