.lazy {
	opacity: 0;
	transition: opacity 0.5s ease 0s
}

/* - - - - - - - - - - - - - - - - - - - - - */

*, html, body, button {
	margin: 0;
	padding: 0
}
*, html, body {
	vertical-align: top;
	box-sizing: border-box
}
*, body, img, svg, a, h1, h2, h3, h4, h5, h6, p {
	user-select: none
}
img, svg, h1, h2, h3, h4, h5, h6, p {
	cursor: default
}
img, svg, h1, h2, h3, h4, h5, h6, p {
	pointer-events: none
}
a, button {
	cursor: pointer;
	text-decoration: none;
	border: none
}
ul, ol {
	list-style: none
}
a, sup, strong, q, em {
	font: inherit
}
a::after {
	-webkit-tap-highlight-color: none
}

::-webkit-scrollbar {
	display: none
}

body {
	background-color: var(--body)
}

/* - - - - - - - - - - - - - - - - - - - - - */

:lang(ru-RU) {
	quotes: "«" "»"
}
:lang(en-US) {
	quotes: "“" "”"
}

*, h1, h2, h3, h4, h5, h6, p {
	font: normal 400 12px/1.33337 "line-text", "line", "icon";
	letter-spacing: -.01em;

	-webkit-font-smoothing: antialiased
}
sup {
	font-size: 11px
}
strong {
	font-weight: 600
}
em {
	font-style: italic
}

/* - - - - - - - - - - - - - - - - - - - - - */

#search:checked ~ label {
	z-index: 10;

	top: 0;
	bottom: 0;

	left: 0;
	right: 0;

	transition: background-color 0.5s ease;
	transition-property: background-color, backdrop-filter;
}
label {
	position: fixed;

	background-color: black
}

nav {
	position: fixed;
	z-index: 9;

	top: 0;

	width: 100%;
	height: 1.3cm;

	display: flex;
	justify-content: space-between;

	place-items: center;

	backdrop-filter: saturate(180%) blur(20px); -webkit-backdrop-filter: saturate(180%) blur(20px);
	background-color: var(--nav)
}
nav > a {
	font: normal 600 21px/1.14286 "line";
	letter-spacing: .011em
}
nav ul {
	display: inline-flex
}
nav li {
	padding-left: 4em
}
nav a {
	color: var(--conclusion-h)
}

/* - - - - - - - - - - - - - - - - - - - - - */

.margin {
	margin: 0 auto;
	width: 653px
}

/* - - - - - - - - - - - - - - - - - - - - - */

.details p {
	padding-bottom: 10px;

	color: var(--conclusion-p)
}
.details h1 {
	font: normal 600 48px/1.08349 "line";
	letter-spacing: -.003em;

	color: var(--conclusion-h)
}

/* - - - - - - - - - - - - - - - - - - - - - */

picture {
	display: block
}
picture img {
	width: 100%;

	background-color: var(--image)
}
.download {
	display: flex;
	justify-content: space-between;

	padding: 8px 0 1cm
}
.download p {
	width: 90%;

	color: var(--media)
}
.download a::after {
	content: "\f32b";

	font-size: 1.8em;

	color: var(--link-footer)
}

/* - - - - - - - - - - - - - - - - - - - - - */

.content {
	color: var(--text)
}
.content h1 {
	font: normal 600 21px/1.19048 "line";
	letter-spacing: .011em;

	padding-bottom: 16px
}
.content li {
	font: normal 400 17px/1.47059 "line-text";
	letter-spacing: -.022em
}
.content a {
	color: var(--link-footer)
}
.content ol {
	padding-left: 20px;
	list-style: outside disc
}
.content ol li {
	padding-bottom: 1em
}
.content li, .description h1 {
	padding-bottom: 1.47059em
}

/* - - - - - - - - - - - - - - - - - - - - - */

.numbering ol {
	list-style: outside decimal
}

/* - - - - - - - - - - - - - - - - - - - - - */

.separation {
	border-top: 1px solid var(--footer)
}

.description li {
	font: normal 400 14px/1.42859 "line-text" !important;
	letter-spacing: -.016em
}
.description ol {
	padding-left: 1.28em;
	list-style: outside disc
}

.description p {
	color: var(--link)
}

/* - - - - - - - - - - - - - - - - - - - - - */

footer {
	margin-top: .5cm;

	background-color: var(--footer)
}
footer li {
	padding-bottom: .8em;
	color: var(--description)
}
footer ol {
	padding: 0 17px;
	list-style: outside decimal
}
footer ul+ol li a {
	color: var(--link)
}
footer ul+ol+ul li a {
	color: var(--link-footer)
}