nav, section, picture, footer {
	opacity: 0;
	transition: opacity 0.5s ease 0s
}

/* - - - - - - - - - - - - - - - - - - - - - */

*, html, body, button {
	margin: 0;
	padding: 0
}
*, html, body {
	vertical-align: top;
	box-sizing: border-box
}
*, body, img, svg, a, h1, h2, h3, h4, h5, h6, p {
	user-select: none
}
img, svg, h1, h2, h3, h4, h5, h6, p {
	cursor: default
}
img, svg, h1, h2, h3, h4, h5, h6, p {
	pointer-events: none
}
a, button {
	cursor: pointer;
	text-decoration: none;
	border: none
}
ul, ol {
	list-style: none
}
a, sup, strong, q, em {
	font: inherit
}

::-webkit-scrollbar {
	display: none
}

body {
	background-color: var(--body)
}

/* - - - - - - - - - - - - - - - - - - - - - */

:lang(ru-RU) {
	quotes: "«" "»"
}
:lang(en-US) {
	quotes: "“" "”"
}

*, h1, h2, h3, h4, h5, h6, p {
	font: normal 400 12px/1.33337 "line-text", "line", "icon";
	letter-spacing: -.01em;

	-webkit-font-smoothing: antialiased
}
sup {
	font-size: 11px
}
strong {
	font-weight: 600
}
em {
	font-style: italic
}

span::after, a::after {
	-webkit-tap-highlight-color: none
}

section, picture, picture img, footer > * {
	margin: 0 auto
}

/* - - - - - - - - - - - - - - - - - - - - - */

section, picture, footer > * {
	width: 653px
}

/* - - - - - - - - - - - - - - - - - - - - - */

nav {
	position: fixed;
	z-index: 9;

	width: 100%;
	height: 1.3cm;

	display: flex;
	justify-content: space-between;

	align-items: center;

	backdrop-filter: saturate(180%) blur(20px); -webkit-backdrop-filter: saturate(180%) blur(20px);
	background-color: var(--nav)
}
nav > a {
	font: normal 600 21px "line";
	letter-spacing: .011em
}
nav ul {
	display: inline-flex
}
nav li {
	padding-left: 4em
}
nav a {
	color: var(--conclusion-h)
}

nav span::after {
	content: "\ea1d";

	font-size: 1.8em;

	color: var(--link-footer)
}

/* - - - - - - - - - - - - - - - - - - - - - */

.details h1 {
	font: normal 600 48px/1.08349 "line";
	letter-spacing: -.003em;

	color: var(--conclusion-h)
}

/* - - - - - - - - - - - - - - - - - - - - - */

.additionally {
	padding-top: 1em
}
.additionally h3 {
	font: normal 400 19px/1.21053 "line";
	letter-spacing: .012em;

	color: var(--media)
}

/* - - - - - - - - - - - - - - - - - - - - - */

picture {
	padding: 1cm 0
}
picture {
	display: block
}
picture img {
	display: inherit;
	width: 238px;

	padding-bottom: 8px
}
picture p {
	text-align: center;

	color: var(--media)
}

/* - - - - - - - - - - - - - - - - - - - - - */

.content {
	color: var(--text)
}
.content h2 {
	font: normal 600 21px/1.19048 "line";
	letter-spacing: .011em;

	padding-bottom: 16px
}
.content li {
	font: normal 400 17px/1.47059 "line-text";
	letter-spacing: -.022em
}
.content a {
	color: var(--link-footer)
}
.content ol {
	padding-left: 20px;
	list-style: outside disc
}
.content ol li {
	padding-bottom: .5em
}
.content li, .description h1 {
	padding-bottom: 1.47059em
}

/* - - - - - - - - - - - - - - - - - - - - - */

.numbering ol {
	list-style: outside decimal
}

/* - - - - - - - - - - - - - - - - - - - - - */

.separation {
	max-width: 10cm
}
.separation > a {
	display: block;

	height: 1.2cm;

	border-radius: 11px;

	background-color: var(--separation)
}
.separation a+a {
	margin-top: 1em
}
.separation a {
	color: var(--link-footer)
}

.separation div {
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 100%;

	padding: 0 1.2em
}
.separation p {
	font: normal 500 16px "line-text"
}
.separation figure {
	font-size: 1.7em
}
.separation a:nth-child(1) figure::after {
	content: "\f315"
}

.separation li {
	margin: .5em 0;
	padding: 0 1.4em;

	font: normal 400 11px/1.36364 "line-text";
	letter-spacing: -.008em;

	color: #9d9da7
}

/* - - - - - - - - - - - - - - - - - - - - - */

.description li {
	font: normal 400 14px/1.42859 "line-text" !important;
	letter-spacing: -.016em
}
.description ol {
	padding-left: 1.17647em
}

.description p {
	color: var(--media)
}

/* - - - - - - - - - - - - - - - - - - - - - */

.distribution h2 {
	font: normal 600 28px/1.14286 "line";
	letter-spacing: .007em;

	padding-top: 4cm
}
.distribution h3 {
	font: normal 600 24px/1.16667 "line";
	letter-spacing: .009em;

	padding: 3em 0 .8em
}
.distribution li {
	padding-bottom: 1.25em
}
.distribution strong {
	letter-spacing: 0;
	color: var(--strong)
}

/* - - - - - - - - - - - - - - - - - - - - - */

blockquote {
	margin: .75em 0 2em;
	padding: 1em 1.2em;

	border-radius: 11px;

	background-color: var(--footer);
}
blockquote p {
	font: normal 400 14px/1.4 "line-text", "icon";
	letter-spacing: -.022em;

	color: var(--description)
}
blockquote p::before {
	content: "\f32a"
}

/* - - - - - - - - - - - - - - - - - - - - - */

.app figcaption {
	display: flex;
	align-items: center;
	padding: .5em 0
}
.app figcaption img {
	background: url("/recent-event/media/fillet.svg") 100% 100% no-repeat
}
.app figcaption div {
	margin-left: 1em
}
.app figcaption h4, figcaption a {
	font: normal 600 14px/1.42859 "line-text", "icon"
}
.app figcaption p {
	padding-bottom: .8em;
	color: var(--media)
}
.app figcaption a::before {
	padding-right: .3em;
	content: "\f32b"
}

/* - - - - - - - - - - - - - - - - - - - - - */

footer {
	margin-top: 2cm;

	background-color: var(--footer)
}
footer ul:first-child li:first-child {
	padding-top: 2em
}
footer ul:last-child {
	padding-bottom: 1em
}
footer li {
	padding-bottom: 2em;
	color: var(--description)
}
footer ol {
	padding-left: 17px;
	list-style: outside decimal
}
footer ul+ol li a {
	color: var(--link)
}
footer ul:last-child li a {
	color: var(--link-footer)
}