@media screen and (max-width: 1024px) {
    article, section, .vertical img, table, dl, blockquote {
        width: 576px
    }

    nav, footer > * {
        padding: 0 22px
    }

    .content h1 {
        padding-top: 2.5cm
    }
}

@media screen and (min-width: 1024px) {
    .content h1 {
        padding-top: 4cm
    }
}

@media screen and (max-width: 980px) {
    picture img {
        width: 100%
    }
}

@media screen and (max-width: 768px) {
    article, section, .vertical img, table, dl, blockquote {
        width: 87.5%
    }

    .search {
        padding: 0 2em
    }

    nav div, picture img, footer > * {
        width: 100%
    }
    nav, footer > * {
        padding: 0 16px
    }

    nav {
        height: 48px
    }
    nav a {
        font: normal 600 19px "bold";
        letter-spacing: .012em
    }

    .additionally h3 {
        font: normal 400 19px/1.21053 "bold";
        letter-spacing: .012em
    }

    .content h1 {
        font: normal 600 32px/1.125 "bold";
        letter-spacing: .004em;

        padding-top: 2.7cm
    }

    main {
        padding: 0 0 4em 16px
    }
}

@media screen and (min-width: 768px) {
    .search {
        margin: 0 auto;
        width: 65%
    }

    .includes a {
        position: relative
    }
    .includes a::after {
        display: block;
        content: "";
        
        top: 0;
        
        width: 100%;
        height: 100%;
    
        border-radius: 15px;
        
        position: absolute;
        
        transition: all 0.5s linear 0s
    }
    .includes a:hover::after {
        background-color: #00000034;
    
        transition: all 0.3s linear 0s
    }
}

@media screen and (max-width: 414px) {
    .search {
        padding: 0 16px
    }
}