@media screen and (prefers-color-scheme: no-preference), (prefers-color-scheme: light) {
    :root {
        /* --body */
        --strong: black;
        --nav: #ffffffa6;

        /* - */

        --text-title: #111;
        --text: #1d1d1f;
        --separation: #888;

        --fillet: white;

        --table: #333;
        --table-description: #666;
        --table-line: #e6e6e6;

        --setup: #f4f4f4;

        /* - */

        --wrap: #e8e8ed;

        --footer:#f5f5f7;
        --description: #86868b;

        --link: #515154;
        --link-footer: #06c;
    }
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --body: black;
        --strong: white;
        --nav: #1d1d1fb3;

        /* - */

        --text-title: white;
        --text: #f5f5f7;
        --separation: #8e8e93;

        --fillet: black;

        --table: #d5d5e2;
        --table-description: #8e8e93;
        --table-line: #1d1c1f;

        --setup: #1c1c1e;

        /* - */

        --wrap: #121217;

        --footer: #17171d;
        --description: #63636e;

        --link: #aaaab3;
        --link-footer: #007aff;
    }
}