@media screen and (prefers-color-scheme: no-preference), (prefers-color-scheme: light) {
    :root {
        /* --body */
        --strong: black;
        --nav: #ffffffb3;

        /* - */

        --bold: #111;
        --small: #1d1d1f;
        --separation: #888;

        --fillet: white;

        --table: #333;
        --border: #e6e6e6;

        /* - */

        --wrap: #e8e8ed;

        --footer: #f2f2f7;
        --description: #86868b;

        --link: #515154;
        --link-footer: #06c;
    }
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --body: black;
        --strong: white;
        --nav: #1d1d1fb3;

        /* - */

        --bold: white;
        --small: #f5f5f7;
        --separation: #8e8e93;

        --fillet: black;

        --table: #d5d5e2;
        --border: #1d1c1f;

        /* - */

        --wrap: #121217;

        --footer: #17171d;
        --description: #63636e;

        --link: #aaaab3;
        --link-footer: #007aff;
    }
}