@media screen and (prefers-color-scheme: no-preference), (prefers-color-scheme: light) {
    :root {
        --body: #fafafa;
        --strong: black;
        --nav: #fafafab3;

        /* - */

        --text: #1d1d1f;
        --media: #888888;

        --fillet: white;
        /* --conclusion-dark */

        --table: #333;
        --table-description: #666;
        --table-line: #e6e6e6;

        --separation: #00000012;

        /* - */

        --wrap: #ececf5;

        --footer: #f2f2f7;
        --description: #86868b;

        --link: #515154;
        --link-footer: #06c;
    }
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --body: black;
        /* --strong */
        --nav: #1d1d1fb3;

        /* - */

        --text: #f5f5f7;
        --media: #8e8e93;

        --fillet: black;
        --conclusion-dark: #fdfdfd;

        --table: #d5d5e2;
        --table-description:#63636e;
        --table-line: #1d1c1f;

        --separation: #1d1c1f;

        /* - */

        --wrap: #121217;

        --footer: #17171d;
        --description: #63636e;

        --link: #aaaab3;
        --link-footer: #007aff;
    }
}