@font-face {
	font-family: "bold";
	font-style: normal;
	font-weight: 300;
	src: url("fonts/bold/light.woff2") format("woff2")
}
@font-face {
	font-family: "bold";
	font-style: normal;
	font-weight: 400;
	src: url("fonts/bold/regular.woff2") format("woff2")
}
@font-face {
	font-family: "bold";
	font-style: normal;
	font-weight: 500;
	src: url("fonts/bold/medium.woff2") format("woff2")
}
@font-face {
	font-family: "bold";
	font-style: normal;
	font-weight: 600;
	src: url("fonts/bold/semibold.woff2") format("woff2")
}
@font-face {
	font-family: "bold";
	font-style: normal;
	font-weight: 700;
	src: url("fonts/bold/bold.woff2") format("woff2")
}

@font-face {
	font-family: "small";
	font-style: normal;
	font-weight: 300;
	src: url("fonts/small/light.woff2") format("woff2")
}
@font-face {
	font-family: "small";
	font-style: normal;
	font-weight: 400;
	src: url("fonts/small/regular.woff2") format("woff2")
}
@font-face {
	font-family: "small";
	font-style: normal;
	font-weight: 500;
	src: url("fonts/small/medium.woff2") format("woff2")
}
@font-face {
	font-family: "small";
	font-style: normal;
	font-weight: 600;
	src: url("fonts/small/semibold.woff2") format("woff2")
}
@font-face {
	font-family: "small";
	font-style: normal;
	font-weight: 700;
	src: url("fonts/small/bold.woff2") format("woff2")
}

@font-face {
	font-family: "icon";
	font-style: normal;
	font-weight: 300;
	src: url("fonts/icon/light.woff2") format("woff2")
}
@font-face {
	font-family: "icon";
	font-style: normal;
	font-weight: 400;
	src: url("fonts/icon/regular.woff2") format("woff2")
}
@font-face {
	font-family: "icon";
	font-style: normal;
	font-weight: 500;
	src: url("fonts/icon/medium.woff2") format("woff2")
}
@font-face {
	font-family: "icon";
	font-style: normal;
	font-weight: 600;
	src: url("fonts/icon/semibold.woff2") format("woff2")
}