RewriteBase /
RewriteRule (.*)\.html$ $1 [R=301,L]

<ifModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/css text/javascript application/javascript application/x-javascript
</ifModule>

FileETag MTime Size
<ifmodule mod_expires.c>
<filesmatch “.(jpeg|jpg|gif|png|css|js)$”>
ExpiresActive on
ExpiresDefault “access plus 1 week”
</filesmatch>
</ifmodule>