html {
    scroll-behavior: smooth
}

/* t */

section.t {
    margin: calc(35px + env(safe-area-inset-top)) 35px 35px
}

section.t h1 {
    margin-top: 10rem;

    text-align: center;
    word-break: break-word;
    font: 600 28px/1.2 system-ui
}

section.t h2 {
    opacity: .5;

    margin-block: 2rem 25rem;

    text-align: center;
    font: 500 21px system-ui
}

section.t h3 {
    opacity: .8;

    text-align: center;
    font: italic 19px/1.6 system-ui
}

section.t h4 {
    margin-block: 3rem;

    text-align: center;
    word-spacing: 10px;
    font: 600 21px system-ui
}

section.t h5 {
    margin-block: 10rem 3rem;

    text-align: center;
    font: 800 20px/1.7 system-ui
}

section.t h6:first-letter {
    margin-left: 35px
}

section.t h6 {
    margin-bottom: 20px;

    text-align: justify;
    font: 20px/1.7 system-ui;
    letter-spacing: .2px;

    color: var(--col-hx)
}

section.t u {
    -webkit-text-decoration: underline dotted #fb484d;
    text-decoration-skip: none;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px
}

/* t, margin-inline */

section.t.w {
    margin-inline: 20px
}

/* t, font-family */

section.t.a>* {
    font-size-adjust: .5;
    font-family: georgia
}

section.t.v>* {
    font-family: avenir next
}

section.t.u>* {
    font-family: seravek
}

/* t, font-size */

section.t.y h6 {
    font-size: 24px
}

section.t.s h6 {
    font-size: 22px
}

section.t.r h6 {
    font-size: 18px
}

/* t, line-height */

section.t.f h6 {
    line-height: 1.5
}

section.t.j h6 {
    line-height: 1.3
}

/* d */

section.d {
    margin: 35px 35px calc(35px + env(safe-area-inset-bottom));
    padding-top: 35px;

    border-top: 2px solid #88888810
}

section.d h2 {
    opacity: .3;

    font: 500 17px system-ui
}

section.d h1 {
    font: 500 17px system-ui
}

/* m */

section.m {
    position: fixed;
    inset: auto 0 0;

    border-top: 2px solid #88888810;

    padding: 20px 35px max(calc(10px + env(safe-area-inset-bottom)), 20px);

    display: none;

    text-align: center;
    font-size: 15px;

    background-color: inherit;
    color: var(--col-h)
}

/* e */

section.e {
    pointer-events: none;
    opacity: 0;

    position: fixed;
    inset: auto 20px max(calc(15px + env(safe-area-inset-bottom)), 15px);

    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    transition: opacity .4s
}

section.e select {
    height: 56px;

    border-radius: 28px;

    flex-grow: 1;

    text-align-last: center;
    font: 700 15px system-ui;

    background-color: var(--col-h);
    color: var(--col-b);

    transition: color .4s
}

section.e select:focus {
    color: color-mix(in srgb, var(--col-b), transparent 70%)
}

/* k */

section.k {
    opacity: .9;

    position: fixed;
    inset: 0 0 auto;

    height: env(safe-area-inset-top);

    background-color: inherit
}

/* background-color */

body.f {
    background-color: var(--col-1)
}

body.i {
    background-color: var(--col-2)
}

body.d {
    background-color: var(--col-3)
}

body.c {
    background-color: var(--col-4)
}

body.b {
    background-color: var(--col-5)
}

/* color */

body.f section.t h6 {
    color: var(--col-1x)
}

body.i section.t h6 {
    color: var(--col-2x)
}

body.d section.t h6 {
    color: var(--col-3x)
}

body.c section.t h6 {
    color: var(--col-4x)
}

body.b section.t h6 {
    color: var(--col-5x)
}

@media (prefers-color-scheme: light) {
    :root {
        --col-b: white;
        --col-h: #111;
        --col-1: #eeeded;
        --col-2: #fffaf0;
        --col-3: #d2ddff;
        --col-4: #f4e9d4;
        --col-5: #e2dbcf;
        --col-hx: #222;
        --col-1x: #111;
        --col-2x: #211700;
        --col-3x: #181a1d;
        --col-4x: #222;
        --col-5x: #111;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --col-b: black;
        --col-h: white;
        --col-1: #1c1c1e;
        --col-2: #2c2c31;
        --col-3: #53545d;
        --col-4: #1a1919;
        --col-5: #32302e;
        --col-hx: #bbb;
        --col-1x: #f2f2f0;
        --col-2x: white;
        --col-3x: #fcfcff;
        --col-4x: #bab8b3;
        --col-5x: #fffffe;
    }
}
