body {
    background-color: #32302e
}

/* n */

section.n {
    margin-bottom: calc(5cm + env(safe-area-inset-bottom))
}

[data-i] {
    opacity: 0
}

img {
    opacity: 1;

    transition: opacity .4s cubic-bezier(.4, 0, .25, 1)
}

section.n .a {
    position: relative;
    z-index: 1
}

section.n h3 {
    padding: 10px 30px;

    font: 800 semi-expanded 14px system-ui;
    letter-spacing: .3rem;
    word-spacing: .5rem;

    background-image: linear-gradient(to right, #eadfd8, #776e69);
    color: #7a6d64
}

section.n>span {
    display: grid;
    grid-auto-flow: column
}

section.n span span {
    height: 1rem
}

section.n span span:first-child {
    background-color: #766e68
}

section.n span span:nth-child(2) {
    background-color: #979089
}

section.n span span:nth-child(3) {
    background-color: #bfb6ae
}

section.n span span:last-child {
    background-color: #eadfd8
}

section.n h1 {
    margin: 35px 30px;

    word-break: break-word;
    font: 800 43px/1 georgia;

    background-image: linear-gradient(to left, #958c83, white);
    background-clip: text;
    -webkit-text-fill-color: transparent
}

section.n blockquote {
    margin: 35px 30px;

    text-align: right;
    font: italic 500 19px/1.4 system-ui;

    color: #a19a93
}

section.n h5 {
    margin: 35px 30px;

    font: 600 21px "avenir next";

    color: #fffffe
}

section.n p {
    margin: 35px 30px;

    font: 19px/1.6 "avenir next";

    color: #fffffe
}

section.n .b:first-letter {
    -webkit-initial-letter: 3;

    margin-right: .8em
}

section.n figcaption {
    margin: 20px 35px;

    text-align: center;
    font-size: 13px;

    color: #a19a93;
}

section.n article a {
    -webkit-text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;

    color: inherit
}

section.n mark {
    border-radius: 5px;

    background-color: #70556b
}

section.n div {
    margin: 35px 30px;

    display: flex;
    flex-wrap: wrap;
    gap: 2rem 3rem
}

section.n div a {
    font: 700 13px system-ui;

    color: #fffffe
}

/* k */

section.k {
    opacity: .9;

    position: fixed;
    inset: 0 0 auto;

    height: env(safe-area-inset-top);

    background-color: inherit
}

/* a */

section.a {
    position: fixed;
    inset: auto 0 0;

    border-top: 2px solid #3f3d3b;

    padding: 20px 30px max(calc(10px + env(safe-area-inset-bottom)), 20px);

    display: flex;

    background-color: inherit;

    transition: opacity .4s
}

section.a>div:first-child {
    display: inherit;
    align-items: center
}

section.a img {
    width: 18px;
    height: 18px;

    border-radius: 50%
}

section.a hr {
    margin-inline: 12px;

    width: 2rem;

    border-radius: 2px;
    border-top: 3px solid white
}

section.a :is(a, div div, span) {
    display: flex
}

section.a img+img {
    margin-left: -4px
}

section.a div img:not(:last-child) {
    clip-path: path("M9 0a8.96 8.96 0 0 1 5.377 1.782C12.717 3.423 11.7 6.045 11.7 9s1.017 5.577 2.676 7.218A9 9 0 1 1 9 0Z")
}

section.a h6 {
    padding-left: 8px;

    font: 700 15px ui-rounded
}

section.a h5 {
    filter: grayscale();

    font-size: 14px
}

section.a .p {
    filter: none
}
