html {
    overscroll-behavior-y: none
}

body {
    height: 100vh;

    background-color: var(--b);
    color: var(--h)
}

/* img */

[data-i],
[data-v] {
    opacity: 0
}

img,
video {
    opacity: 1;

    transition: opacity .4s cubic-bezier(.4, 0, .25, 1)
}

/* t */

section.t .p {
    margin: 2rem auto;

    border-radius: 50%
}

section.t h1 {
    margin: 20px 35px;

    text-align: center;
    font: 700 19px/1 ui-rounded
}

section.t h2 {
    margin: 35px;

    font-size: 15px;
    color: var(--p)
}

/* n */

section.n {
    overflow-y: scroll;

    height: 100vh;

    padding-block: env(safe-area-inset-top) env(safe-area-inset-bottom)
}

section.n ul {
    margin: 0 8px calc(16px + env(safe-area-inset-bottom));

    display: grid;
    grid: masonry/repeat(2, auto);
    gap: 8px
}

section.n a {
    display: block;

    border-radius: 12px;

    background-color: var(--k)
}

section.n .m {
    border-radius: 12px 12px 0 0
}

section.n .h {
    padding: 10px
}

section.n .d {
    display: flex;
    align-items: center;
    column-gap: 10px
}

section.n .a {
    position: relative
}

section.n .a:after {
    position: absolute;
    inset: 0;
    content: "";
    border: 2px solid #0000000d;
    border-radius: 50%
}

section.n .a img {
    border-radius: 50%
}

section.n p {
    font: 13px system-ui;

    color: var(--p)
}

section.n h1 {
    margin-block: 10px;

    word-break: break-word;
    font: 700 14px/1.4 system-ui
}

section.n h2 {
    text-align: right;
    font: 700 14px/1.4 ui-rounded;

    color: var(--p)
}

/* button */

button {
    position: fixed;
    inset: auto 25px max(env(safe-area-inset-bottom), 25px) auto;

    width: 45px;
    height: 45px;

    border-radius: 50%;

    font-size: 14px;

    background-color: var(--k);
    color: var(--h)
}

/* k */

section.k {
    opacity: .8;

    position: fixed;
    inset: 0 0 auto;

    height: env(safe-area-inset-top);

    background-color: inherit
}

@media (prefers-color-scheme: light) {
    :root {
        --b: #f7f7f7;
        --h: black;
        --p: #a3a3a4;
        --c: #dfdfdf;
        --k: white;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --b: black;
        --h: white;
        --p: #77777b;
        --c: #2e2e2e;
        --k: #151515;
    }
}
