body {
    background-color: light-dark(#f6f6f6, #0d0d0d);
    color: light-dark(#111, #fff)
}

/* a */

section.a h1 {
    margin: calc(130px + env(safe-area-inset-top)) 30px 10px;

    font: 500 14px system-ui;
    letter-spacing: .2px;

    color: light-dark(#999, #666)
}

section.a input {
    padding-inline: 30px;

    width: 100%;

    font: 500 17px system-ui;
    letter-spacing: .2px;

    background: none
}

section.a h2 {
    margin: 30px;

    font: 500 17px/1.4 system-ui;
    letter-spacing: .2px
}

/* g */

section.g {
    position: fixed;
    inset: calc(15px + env(safe-area-inset-top)) auto auto 30px
}

/* k */

section.k {
    position: fixed;
    inset: calc(15px + env(safe-area-inset-top)) calc(100vw / 2 - 75px) auto;

    display: flex;
    justify-content: space-around;

    transition: opacity .4s ease;

    border-radius: 26px;
    border: 1px solid #0000;

    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-image: linear-gradient(#f6f6f6, #f6f6f6), linear-gradient(to top left, #fff, #f6f6f6, #fff);

    box-shadow: 0 0 20px #0001;

    will-change: opacity
}

/* f */

section.f img {
    position: fixed;
    inset: calc(15px + env(safe-area-inset-top)) 30px auto auto;

    margin: 11px;

    border-radius: 50%
}

/* - */

[data-i] {
    opacity: 0
}

img {
    transition: opacity .4s cubic-bezier(.4, 0, .25, 1)
}

/* - */

::selection {
    background: #ccc
}

:root {
    color-scheme: light dark
}
