html {
    overscroll-behavior-y: none
}

body {
    height: 100vh;

    background-color: var(--b);
    color: var(--h)
}

/* img */

[data-i],
[data-v] {
    opacity: 0
}

img,
video {
    opacity: 1;

    transition: opacity .4s cubic-bezier(.4, 0, .25, 1)
}

/* n */

section.n {
    height: 100vh;
    
    overflow-y: scroll
}

section.n ul {
    margin: calc(10px + env(safe-area-inset-top)) 8px calc(16px + env(safe-area-inset-bottom));

    display: grid;
    grid: masonry/repeat(2, auto);
    gap: 8px
}

section.n a {
    display: block;

    border-radius: 12px;

    background-color: var(--k)
}

section.n a>img,
section.n a>video {
    border-radius: 12px 12px 0 0
}

section.n .h {
    padding: 10px
}

section.n .d {
    display: flex;
    align-items: center;
    column-gap: 10px
}

section.n .d img {
    border-radius: 50%
}

section.n p {
    font: 500 13px system-ui;

    color: var(--p)
}

section.n h1 {
    margin-block: 10px;

    word-break: break-word;
    font: 600 14px/1.4 system-ui
}

section.n h2 {
    text-align: right;
    font: 700 13px/1.4 ui-rounded;

    color: var(--p)
}

/* button */

button {
    position: fixed;
    inset: auto 0 max(env(safe-area-inset-bottom), calc(15px + env(safe-area-inset-bottom)));

    margin-inline: auto;
    padding-inline: 7px;

    width: 45px;
    height: 45px;

    border-radius: 50%;

    display: flex;
    align-items: center;

    background-color: var(--e)
}

/* k */

section.k {
    position: fixed;
    inset: 0 0 auto;

    height: calc(80px + env(safe-area-inset-top));

    background-image: linear-gradient(hsl(from var(--b) h s l / .9), transparent)
}

@media (prefers-color-scheme: light) {
    :root {
        --b: white;
        --h: black;
        --p: #a3a3a4;
        --c: #dfdfdf;
        --k: #f7f7f7;
        --e: #e7e7e7;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --b: black;
        --h: white;
        --p: #77777b;
        --c: #2e2e2e;
        --k: #1a1a1c;
        --e: #2b2b2d;
    }
}
