@media (display-mode: standalone) {
    html {
        overscroll-behavior: none
    }
}

body {
    background-color: #fff;
    color: #111
}

/* a */

@media (display-mode: standalone) {
    section.a {
        overflow-y: scroll;

        height: 100vh
    }
}

/* - */

section.a {
    position: fixed;
    inset: 20px auto auto 30px
}

section.a svg {
    filter: drop-shadow(0 0 10px #0001)
}

/* b */

section.b ul {
    overflow-x: scroll;

    padding: 16px 30px;

    display: flex;
    column-gap: 10px
}

section.b li {
    border-radius: 20px;

    box-shadow: 0 0 20px #0001
}

section.b img {
    padding: 15px 25px;

    width: 50px;
    height: auto
}

/* c */

section.c ul {
    overflow-x: scroll;

    margin-top: 115px;
    padding: 16px 30px;

    display: flex;
    column-gap: 10px
}

section.c li {
    padding: 10px 14px;

    border-radius: 19px;

    box-shadow: 0 0 20px #0001
}

section.c h1 {
    font: 700 14px system-ui
}

/* - */

img[data-src] {
    opacity: 0
}

img {
    opacity: 1;

    transition: opacity .4s cubic-bezier(.4, 0, .25, 1)
}

/* - */

::selection {
    background: #fff
}

::-webkit-scrollbar {
    display: none
}
