html {
    overscroll-behavior: none
}

body {
    background-color: #0d0d0d;
    color: #fff
}

/* z */

div.z {
    overflow-y: scroll;
    scroll-snap-type: x mandatory;

    display: grid;
    grid-auto-flow: column
}

@media (display-mode: standalone) {
    div.z {
        overflow-y: scroll;
        height: 100vh
    }
}

div.z>section {
    scroll-snap-align: start
}

/* - */

section.a {
    overflow-y: scroll;

    width: 100vw;
    height: 100vh
}

section.a h2 {
    margin: 17vh 11vw 7vw;

    font: 800 21px ui-rounded;

    color: #999
}

section.a ul {
    margin-inline: 7vw;

    display: grid;
    row-gap: 40px;

    background-color: #0d0d0d
}

section.a ul li>a {
    position: relative;

    overflow: hidden;
    border-radius: 30px;

    display: block
}

section.a ul li>a img {
    width: 100%;
    height: auto
}

section.a ul li>a:after {
    position: absolute;
    inset: 0;

    content: "";

    border-radius: 30px;
    border: 3px solid #ffffff08;

    transition: background-color .2s
}

section.a h1 {
    margin: 30px;

    font: 500 19px system-ui
}

section.a p {
    margin: 30px;

    font: 500 17px system-ui;
    letter-spacing: .4px;

    color: #aaa
}

/* - */

section.a div {
    overflow-x: scroll;

    margin: 17px;

    width: calc(86vw - 34px);

    border-radius: 21px;

    display: flex;
    column-gap: 10px
}

section.a div a {
    padding: 12px 15px 12px 12px;

    border-radius: 21px;

    display: flex;
    column-gap: 6px;

    background-color: #151515
}

section.a div img {
    border-radius: 50%
}

section.a h6 {
    margin-left: 2px;

    font: 500 14px system-ui;
    letter-spacing: .4px;

    color: #999
}

section.a time {
    font: 500 14px system-ui;
    letter-spacing: .4px;

    color: #666
}

/* v */

section.v h1 {
    margin: 60vh 10vw 5vw;

    font: 700 extra-condensed 47px/1 system-ui;
    letter-spacing: .4px
}

section.v h2 {
    margin: 5vw 10vw 10vw;

    font: 700 20px/1.2 system-ui;
    letter-spacing: .4px
}

section.v ul {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    width: 100vw;
    height: 100vh;

    display: grid;

    background-color: #0d0d0d
}

section.v li {
    position: relative;

    scroll-snap-align: start
}

section.v video {
    width: 100vw;
    height: 100vh;

    object-fit: cover
}

section.v .a {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #00000050
}

/* - */

section.v .i {
    position: absolute;
    inset: 0 0 auto auto;

    margin: calc(40px + env(safe-area-inset-bottom)) 40px 0;

    animation: x 10s cubic-bezier(.25, 0, .25, 1) infinite;

    will-change: transform;

    cursor: pointer
}

@keyframes x {
    0% {
        transform: translate(0, 0) scale(1)
    }

    25% {
        transform: translate(3px, -4px) scale(1.02)
    }

    50% {
        transform: translate(-2px, 3px) scale(1)
    }

    75% {
        transform: translate(4px, 2px) scale(1.015)
    }

    100% {
        transform: translate(0, 0) scale(1)
    }
}

section.v .i img {
    border-radius: 50%;
    outline: 1px solid #ffffff08
}

/* - */

section.v a {
    position: relative;

    margin: 30px 30px calc(20px + env(safe-area-inset-bottom));

    width: 100px;

    display: block
}

section.v a img {
    width: 100%;
    height: auto;

    border-radius: 2px
}

section.v a:after {
    position: absolute;
    inset: 0;

    content: "";

    border-radius: 2px;

    background-size: 100% 100%;
    background-image: url('4.png')
}

/* f */

section.f {
    pointer-events: none;
    opacity: 0;

    position: fixed;
    inset: 0 0 auto;

    height: 150px;

    background-color: #0d0d0d99;

    filter: blur(20px);

    transition: opacity .4s ease
}

section.g {
    opacity: 1
}

/* j */

section.j {
    pointer-events: none;
    opacity: 1;

    position: fixed;
    inset: calc(15px + env(safe-area-inset-top)) 23vw auto;

    display: flex;
    justify-content: space-between;

    transition: opacity .15s cubic-bezier(.16, 1, .3, 1)
}

body:has(section.e.q) section.j {
    opacity: 0
}

/* c */

section.c {
    pointer-events: auto;

    border-radius: 25px;
    outline: 3px solid #ffffff0d;

    background-color: #131313
}

section.c svg {
    display: block
}

/* 2 obj */

section.u {
    padding: 21px 9px 9px
}

section.u img+img {
    margin: -12px 0 0 -8px;

    clip-path: path("M20 0v20h-9.09A12.5 12.5 0 0 0 .01 9.09L0 0h20Z")
}

/* b */

section.b {
    pointer-events: auto;

    padding: 10px;

    border-radius: 50%;
    outline: 3px solid #ffffff0d;

    background-color: #131313
}

section.b img {
    border-radius: 50%
}

/* - */

img[data-src] {
    opacity: 0
}

img {
    opacity: 1;

    transition: opacity .4s cubic-bezier(.4, 0, .25, 1)
}

/* - */

::selection {
    background: #fff
}

::-webkit-scrollbar {
    display: none
}
