html {
    overscroll-behavior-y: none
}

/* a */

section.a {
    padding: env(safe-area-inset-top) 20px env(safe-area-inset-bottom);

    height: 100dvh;

    display: flex;
    flex-flow: column;
    justify-content: space-around;
    text-align: center
}

section.a h2 {
    font: 800 expanded 14px system-ui;
    letter-spacing: .5rem
}

section.a h1 {
    margin-block: .5rem 1.5rem;

    font: 800 expanded 32px/1 system-ui
}

section.a h3 {
    font: 700 14px system-ui;

    color: var(--col-p)
}

section.a img {
    object-fit: cover;
    aspect-ratio: 1/1.4;

    width: 100%;

    border-radius: 12px
}

section.a .n {
    height: 90px;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem
}

section.a button {
    width: 50px;
    height: 50px;

    border-radius: 50%;

    background-color: var(--col-t)
}

section.a h4 {
    font-size: 27px;

    filter: grayscale(1)
}

section.a h5 {
    font: 800 24px ui-rounded
}

/* k */

section.k {
    opacity: .9;

    position: fixed;
    inset: 0 0 auto;

    height: env(safe-area-inset-top);

    background-color: var(--col-b)
}

@media (prefers-color-scheme: light) {
    :root {
        --col-b: white;
        --col-h: black;
        --col-p: #afafb1;

        --col-a: #00000008;
        --col-c: #00000020;
        --col-t: #f5f5f7;
        --col-k: #eaeaf290;
        --col-f: #53a2b5;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --col-b: #101010;
        --col-h: white;
        --col-p: #77777b;

        --col-a: #00000030;
        --col-c: #ffffff20;
        --col-t: #1c1c1f;
        --col-k: #21212190;
        --col-f: #6ac5dd;
    }
}
