@media (display-mode: standalone) {
    html {
        overscroll-behavior: none
    }
}

body {
    background-color: #0d0d0d;
    color: #fff
}

/* w */

section.w {
    overflow-y: scroll;

    height: 100vh
}

/* - */

section.w ul {
    margin-block: calc(150px + env(safe-area-inset-top)) calc(30px + env(safe-area-inset-bottom));

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: masonry;
    gap: 6px
}

section.w img {
    width: 100%;
    height: auto
}

/* f */

section.f {
    opacity: 0;

    position: fixed;
    inset: 0 0 auto;

    height: 150px;

    background-color: #0d0d0d99;

    filter: blur(20px);

    transition: opacity .4s ease
}

section.g {
    opacity: 1
}

/* j */

section.j {
    position: fixed;
    inset: calc(15px + env(safe-area-inset-top)) 5vw auto;

    display: flex;
    justify-content: space-between
}

/* - */

section.j .a {
    padding: 5px;

    display: flex;
    column-gap: 5px;

    clip-path: path("M0 25c0 3.93 1.17 7.858 2.196 10.005 1.1 2.303 2.715 4.901 4.99 7.182 1.848 1.854 4.442 3.673 6.928 4.857 2.59 1.235 5.48 2.215 10.683 2.696q.884.08 8.351.26h137.704q5.695-.015 8.351-.26c5.203-.481 8.092-1.461 10.683-2.696 2.486-1.184 5.08-3.003 6.928-4.856 2.275-2.282 3.89-4.88 4.99-7.183C202.829 32.858 204 28.929 204 25s-1.17-7.858-2.196-10.005c-1.1-2.303-2.715-4.901-4.99-7.182-1.849-1.854-4.442-3.673-6.928-4.857-2.59-1.235-5.48-2.215-10.683-2.696-2.655-.245-8.351-.26-8.351-.26H33.148q-7.485.18-8.351.26c-5.203.481-8.092 1.461-10.683 2.696-2.486 1.184-5.08 3.003-6.928 4.857-2.275 2.281-3.89 4.879-4.99 7.182C1.171 17.142 0 21.071 0 25");

    background-color: #0d0d0d;

    transition: opacity .4s ease;

    will-change: opacity
}

section.x .a {
    opacity: .5
}

section.j h6 {
    padding: 9px 18px;

    font: 600 16px system-ui;
    letter-spacing: .2px;

    color: #777
}

section.j .s {
    clip-path: path("M0 20c0 3.144.933 6.286 1.75 8.004.877 1.842 2.164 3.92 3.977 5.746 1.472 1.483 3.54 2.938 5.52 3.885 2.065.988 4.367 1.772 8.513 2.157q.705.065 6.655.208h49.17q4.539-.012 6.655-.208c4.146-.385 6.448-1.169 8.513-2.157 1.98-.947 4.048-2.402 5.52-3.885 1.813-1.825 3.1-3.904 3.977-5.746.817-1.718 1.75-4.86 1.75-8.004s-.933-6.286-1.75-8.004c-.877-1.842-2.164-3.92-3.977-5.746-1.472-1.483-3.54-2.938-5.52-3.885C88.688 1.377 86.386.593 82.24.208 80.124.012 75.585 0 75.585 0h-49.17Q20.45.145 19.76.208c-4.146.385-6.448 1.169-8.513 2.157-1.98.947-4.048 2.402-5.52 3.885-1.813 1.825-3.1 3.904-3.977 5.746C.933 13.714 0 16.856 0 20");

    background-color: #fff;
    color: #111
}

/* - */

section.j img {
    padding: 10px;

    width: 30px;
    height: 30px;

    border-radius: 50%
}

/* v */

section.v {
    overscroll-behavior-y: none;

    pointer-events: none;
    opacity: 0;

    position: fixed;
    inset: 0;

    background-color: #0d0d0d
}

section.s {
    pointer-events: auto;
    opacity: 1
}

/* section.v h1 {
    margin: 60vh 10vw 5vw;

    font: 700 extra-condensed 47px/1 system-ui;
    letter-spacing: .4px
}

section.v h2 {
    margin: 5vw 10vw 10vw;

    font: 700 20px/1.2 system-ui;
    letter-spacing: .4px
} */

section.v ul {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    width: 100vw;
    height: 100vh;

    display: grid
}

section.v li {
    position: relative;

    scroll-snap-align: start
}

section.v video {
    width: 100vw;
    height: 100vh;

    object-fit: cover
}

section.v .a {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #00000050
}

/* - */

section.v .i {
    position: absolute;
    inset: 0 0 auto auto;

    margin: calc(40px + env(safe-area-inset-bottom)) 40px 0;

    animation: x 10s cubic-bezier(.25, 0, .25, 1) infinite;

    will-change: transform;

    cursor: pointer
}

@keyframes x {
    0% {
        transform: translate(0, 0) scale(1)
    }

    25% {
        transform: translate(3px, -4px) scale(1.02)
    }

    50% {
        transform: translate(-2px, 3px) scale(1)
    }

    75% {
        transform: translate(4px, 2px) scale(1.015)
    }

    100% {
        transform: translate(0, 0) scale(1)
    }
}

section.v .i img {
    border-radius: 50%;
    outline: 1px solid #ffffff08
}

/* - */

section.v a {
    position: relative;

    margin: 30px 30px calc(20px + env(safe-area-inset-bottom));

    width: 100px;

    display: block
}

section.v a img {
    width: 100%;
    height: auto;

    border-radius: 2px
}

section.v a:after {
    position: absolute;
    inset: 0;

    content: "";

    border-radius: 2px;

    background-size: 100% 100%;
    background-image: url('4.png')
}

/* l - load spinner */

section.l {
    pointer-events: none;

    position: fixed;
    inset: 0;

    margin: auto;

    width: 20px;
    height: 20px;

    border-radius: 50%;

    background-color: #fff;

    animation: load 1s infinite
}

@keyframes load {

    0%,
    100% {
        opacity: .6;
        transform: scale(.8)
    }

    50% {
        opacity: 1;
        transform: scale(1.2)
    }
}

/* y */

div.y a {
    position: relative;

    margin: 20vh 20vw;

    display: block;

    display: none
}

div.y a img {
    width: 100%;
    height: auto;

    border-radius: 4px
}

div.y a:after {
    position: absolute;
    inset: 0;

    content: "";

    border-radius: 4px;

    background-size: 100% 100%;
    background-image: url('4.png')
}

/* - */

ul.b {
    position: relative;

    margin: 10vh 7vw 20vh;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 46vh;
    column-gap: 6vw;

    display: none
}

ul.b a {
    position: relative;

    display: block
}

ul.b li {
    display: flex;
    align-items: end
}

ul.b a img {
    width: 100%;
    height: auto;

    border-radius: 4px
}

ul.b a:after {
    position: absolute;
    inset: 0;

    content: "";

    border-radius: 4px;

    background-size: 100% 100%;
    background-image: url('4.png')
}

/* - */

img[data-src] {
    opacity: 0
}

img {
    opacity: 1;

    transition: opacity .4s cubic-bezier(.4, 0, .25, 1)
}

/* - */

::selection {
    background: #fff
}

::-webkit-scrollbar {
    display: none
}
