@media (display-mode: standalone) {
    html {
        overscroll-behavior: none
    }
}

body {
    background-color: #0d0d0d;
    color: #fff
}

/* w */

@media (display-mode: standalone) {
    section.w {
        overflow-y: scroll;

        height: 100vh
    }
}

/* - */

section.w ul {
    margin-block: calc(150px + env(safe-area-inset-top)) calc(30px + env(safe-area-inset-bottom));

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: masonry;
    gap: 6px
}

section.w img {
    width: 100%;
    height: auto
}

/* f */

section.f {
    opacity: 0;

    position: fixed;
    inset: 0 0 auto;

    height: 140px;

    background-color: #0d0d0d99;

    filter: blur(20px);

    transition: opacity .4s ease
}

section.g {
    opacity: 1
}

/* j */

section.j {
    position: fixed;
    inset: calc(15px + env(safe-area-inset-top)) 5vw auto;

    display: flex;
    justify-content: space-between
}

/* - */

section.j .a {
    padding: 5px;

    border-radius: 25px;

    display: flex;
    column-gap: 5px;

    background-color: #0d0d0d;

    transition: opacity .4s ease;

    will-change: opacity
}

section.x .a {
    opacity: .5
}

section.j h6 {
    padding: 10px 18px;

    border-radius: 20px;

    font: 600 16px system-ui;
    letter-spacing: .2px;

    color: #777
}

section.j .s {
    background-color: #2f2f2f;
    color: #fff
}

/* - */

section.j img {
    padding: 10px;

    width: 30px;
    height: 30px;

    border-radius: 50%
}

section.j .e:after {
    position: absolute;
    inset: 21px -7px 0 auto;

    content: "";

    width: 7px;
    height: 7px;

    border-radius: 50%;

    background-color: #dd4848
}

/* v */

/* section.v h1 {
    margin: 60vh 10vw 5vw;

    font: 700 extra-condensed 47px/1 system-ui;
    letter-spacing: .4px
}

section.v h2 {
    margin: 5vw 10vw 10vw;

    font: 700 20px/1.2 system-ui;
    letter-spacing: .4px
} */

section.v ul {
    pointer-events: none;
    opacity: 0;

    position: fixed;
    inset: 0;

    overscroll-behavior-y: none;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    width: 100vw;
    height: 100vh;

    display: grid;

    background-color: #0d0d0d
}

section.s ul {
    pointer-events: auto;
    opacity: 1
}

section.v li {
    position: relative;

    scroll-snap-align: start
}

section.v video {
    width: 100vw;
    height: 100vh;

    object-fit: cover
}

section.v .a {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: end;

    background-color: #0005
}

/* - */

section.v .i {
    position: absolute;
    inset: 0 0 auto auto;

    margin: calc(40px + env(safe-area-inset-bottom)) 40px 0;

    animation: x 10s cubic-bezier(.25, 0, .25, 1) infinite;

    will-change: transform;

    cursor: pointer
}

@keyframes x {
    0% {
        transform: translate(0, 0) scale(1)
    }

    25% {
        transform: translate(3px, -4px) scale(1.02)
    }

    50% {
        transform: translate(-2px, 3px) scale(1)
    }

    75% {
        transform: translate(4px, 2px) scale(1.015)
    }

    100% {
        transform: translate(0, 0) scale(1)
    }
}

section.v .i img {
    border-radius: 50%;
    outline: 1px solid #ffffff08
}

/* - */

section.v a {
    position: relative;

    margin: 30px 30px calc(20px + env(safe-area-inset-bottom));

    width: 100px;

    display: block
}

section.v a img {
    width: 100%;
    height: auto;

    border-radius: 2px
}

section.v a:after {
    position: absolute;
    inset: 0;

    content: "";

    border-radius: 2px;

    background-size: 100% 100%;
    background-image: url('4.png')
}

section.v .k {
    margin-inline: 30px
}

section.v .k h6 {
    font: 500 17px system-ui;
    letter-spacing: .2px
}

section.v .h {
    margin: 40px 30px;
    padding: 8px 14px;

    width: max-content;

    border-radius: 18px;

    background-color: #fff1
}

section.v .h h6 {
    font: 500 15px system-ui;
    letter-spacing: .4px
}

/* b */

@media (display-mode: standalone) {
    section.b {
        overflow-y: scroll;

        height: 100vh
    }
}

section.b ul {
    margin: calc(120px + env(safe-area-inset-top)) 7vw calc(30px + env(safe-area-inset-bottom));

    display: grid;
    row-gap: 40px
}

section.b ul li>a {
    position: relative;

    height: 600px;

    border-radius: 30px;

    display: inline-block
}

section.b ul li>a:after {
    position: absolute;
    inset: 0;

    content: "";

    border-radius: 30px;
    border: 3px solid #ffffff15;

    transition: background-color .2s
}

section.b .d {
    background-image: linear-gradient(#4a5cf7, #352d94)
}

section.b .r {
    background-image: linear-gradient(#764ec3, #802727)
}

section.b ul li>a img {
    width: 100%;
    height: auto
}

section.b h1 {
    margin: 30px;

    font: 500 19px system-ui
}

section.b p {
    margin: 30px;

    font: 500 17px system-ui;
    letter-spacing: .4px;

    color: #ffffff80
}

/* - */

section.b div {
    overflow-x: scroll;

    margin: 17px;

    width: calc(86vw - 34px);

    border-radius: 21px;

    display: flex;
    column-gap: 10px
}

section.b div a {
    padding: 12px 15px 12px 12px;

    border-radius: 21px;

    display: flex;
    column-gap: 6px;

    background-color: #151515
}

section.b div img {
    border-radius: 50%
}

section.b h6 {
    margin-left: 2px;

    font: 500 14px system-ui;
    letter-spacing: .4px;

    color: #999
}

section.b time {
    font: 500 14px system-ui;
    letter-spacing: .4px;

    color: #666
}

/* l - load spinner */

section.l {
    pointer-events: none;

    position: fixed;
    inset: 0;

    margin: auto;

    width: 20px;
    height: 20px;

    border-radius: 50%;

    background-color: #fff;

    animation: load 1s infinite
}

@keyframes load {

    0%,
    100% {
        opacity: .6;
        transform: scale(.8)
    }

    50% {
        opacity: 1;
        transform: scale(1.2)
    }
}

/* y */

div.y a {
    position: relative;

    margin: 20vh 20vw;

    display: block;

    display: none
}

div.y a img {
    width: 100%;
    height: auto;

    border-radius: 4px
}

div.y a:after {
    position: absolute;
    inset: 0;

    content: "";

    border-radius: 4px;

    background-size: 100% 100%;
    background-image: url('4.png')
}

/* - */

ul.b {
    position: relative;

    margin: 10vh 7vw 20vh;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 46vh;
    column-gap: 6vw;

    display: none
}

ul.b a {
    position: relative;

    display: block
}

ul.b li {
    display: flex;
    align-items: end
}

ul.b a img {
    width: 100%;
    height: auto;

    border-radius: 4px
}

ul.b a:after {
    position: absolute;
    inset: 0;

    content: "";

    border-radius: 4px;

    background-size: 100% 100%;
    background-image: url('4.png')
}

/* - */

img[data-src] {
    opacity: 0
}

img {
    opacity: 1;

    transition: opacity .4s cubic-bezier(.4, 0, .25, 1)
}

/* - */

::selection {
    background: #fff
}

::-webkit-scrollbar {
    display: none
}
