body {
    background-color: var(--b);
    color: var(--h)
}

/* a */

section.a {
    margin: calc(10px + env(safe-area-inset-top)) 25px 20px
}

section.a h1 {
    font: 900 32px system-ui;
}

/* b */

section.b ul {
    padding-inline: 25px;

    box-sizing: border-box;
    overflow-x: scroll;

    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    column-gap: 30px
}

section.b h1 {
    font: 700 24px system-ui;

    color: var(--p)
}

section.b .a h1 {
    color: var(--h)
}

/* c */

section.c {
    margin: 25px
}

section.c ul {
    margin-top: 1em;

    box-sizing: border-box;
    overflow-x: scroll;

    display: grid;
    grid-auto-columns: max-content;
    grid-template-columns: repeat(2, auto);
    gap: 20px 17px
}

section.c img {
    object-fit: cover;

    border-radius: 14px
}

section.c div {
    margin: 10px;

    display: flex;
    align-items: center;
    column-gap: 10px
}

section.c h1 {
    font: 700 17px ui-rounded;

    color: var(--p)
}

section.c h2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    font-weight: 500;

    color: var(--p)
}

/* k */

section.k {
    opacity: .9;

    position: fixed;
    inset: 0 0 auto;

    height: env(safe-area-inset-top);

    background-color: inherit
}

@media (prefers-color-scheme: light) {
    :root {
        --b: white;
        --h: #111;
        --p: #a3a3a4;
        --m: #ebe0ff;
        --k: #f2f2f2;
        --q: #695098;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --b: #181819;
        --h: white;
        --p: #77777b;
        --m: #4d3e69;
        --k: #1c1c1c;
        --q: #c8abff;
    }
}
