@media (display-mode: standalone) {
    html {
        overscroll-behavior: none
    }
}

body {
    background-color: #0d0d0d;
    color: #fff
}

/* z */

@media (display-mode: standalone) {
    div.z {
        overflow-y: scroll;
        height: 100vh
    }
}

/* - */

div.z>h1 {
    margin: 17vh 11vw 7vw;

    font: 800 21px ui-rounded;

    color: #999
}

div.z .h {
    margin-inline: 7vw;

    display: grid;
    row-gap: 40px;

    background-color: #0d0d0d
}

div.z .h li>a {
    position: relative;

    overflow: hidden;
    border-radius: 30px;

    display: block
}

div.z .h li>a img {
    width: 100%;
    height: auto
}

div.z .h li>a:after {
    position: absolute;
    inset: 0;

    content: "";

    border-radius: 30px;
    border: 3px solid #ffffff08;

    transition: background-color .2s
}

div.z .h h1 {
    margin: 30px;

    font: 500 19px system-ui
}

div.z .h p {
    margin: 30px;

    font: 500 17px system-ui;
    letter-spacing: .4px;

    color: #aaa
}

/* - */

div.z .h div {
    overflow-x: scroll;

    margin: 17px;

    width: calc(86vw - 34px);

    border-radius: 21px;

    display: flex;
    column-gap: 10px
}

div.z .h div a {
    padding: 12px 15px 12px 12px;

    border-radius: 21px;

    display: flex;
    column-gap: 6px;

    background-color: #151515
}

div.z .h div img {
    border-radius: 50%
}

div.z .h h6 {
    margin-left: 2px;

    font: 500 14px system-ui;
    letter-spacing: .4px;

    color: #999
}

div.z .h time {
    font: 500 14px system-ui;
    letter-spacing: .4px;

    color: #666
}

/* f */

section.f {
    pointer-events: none;
    opacity: 0;

    position: fixed;
    inset: 0 0 auto;

    height: 150px;

    background-color: #0d0d0d99;

    filter: blur(20px);

    transition: opacity .4s ease
}

section.g {
    opacity: 1
}

/* v */

section.v h1 {
    margin: 60vh 10vw 5vw;

    font: 700 extra-condensed 47px/1 system-ui;
    letter-spacing: .4px
}

section.v h2 {
    margin: 5vw 10vw 10vw;

    font: 700 20px/1.2 system-ui;
    letter-spacing: .4px
}

section.v ul {
    pointer-events: none;
    opacity: 0;

    position: fixed;
    inset: 0;

    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    height: 100vh;

    display: grid;

    background-color: #0d0d0d;

    transition: opacity .15s ease-out
}

section.s ul {
    pointer-events: auto;
    opacity: 1
}

section.v li {
    position: relative;
    
    scroll-snap-align: start
}

section.v video {
    width: 100vw;
    height: 100vh;

    object-fit: cover
}

section.v .a {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #00000080
}

/* - */

section.v .i {
    position: absolute;
    inset: 0 0 auto auto;

    margin: calc(40px + env(safe-area-inset-bottom)) 40px 0;

    animation: x 10s cubic-bezier(.25, 0, .25, 1) infinite;

    will-change: transform;

    cursor: pointer
}

@keyframes x {
    0% {
        transform: translate(0, 0) scale(1)
    }

    25% {
        transform: translate(3px, -4px) scale(1.02)
    }

    50% {
        transform: translate(-2px, 3px) scale(1)
    }

    75% {
        transform: translate(4px, 2px) scale(1.015)
    }

    100% {
        transform: translate(0, 0) scale(1)
    }
}

section.v .i img {
    border-radius: 50%;
    outline: 1px solid #ffffff08
}

/* - */

section.v a {
    position: relative;

    margin: 20px 20px calc(20px + env(safe-area-inset-bottom));

    width: 100px;

    display: block
}

section.v a img {
    width: 100%;
    height: auto;

    border-radius: 4px
}

section.v a:after {
    position: absolute;
    inset: 0;

    content: "";

    border-radius: 4px;

    background-size: 100% 100%;
    background-image: url('4.png')
}

/* j */

section.j {
    pointer-events: none;
    opacity: 1;

    position: fixed;
    inset: calc(15px + env(safe-area-inset-top)) 23vw auto;

    display: flex;
    justify-content: space-between;

    transition: opacity .15s cubic-bezier(.16, 1, .3, 1)
}

body:has(section.e.q) section.j {
    opacity: 0
}

/* c */

section.c {
    pointer-events: auto;

    border-radius: 25px;
    outline: 3px solid #ffffff0d;

    background-color: #131313
}

section.c svg {
    display: block
}

/* 2 obj */

section.u {
    padding: 21px 9px 9px
}

section.u img+img {
    margin: -12px 0 0 -8px;

    clip-path: path("M20 0v20h-9.09A12.5 12.5 0 0 0 .01 9.09L0 0h20Z")
}

/* b */

section.b {
    pointer-events: auto;

    padding: 10px;

    border-radius: 50%;
    outline: 3px solid #ffffff0d;

    background-color: #131313
}

@keyframes sa {
    0% {
        opacity: 0;
        transform: scale(0)
    }

    30% {
        opacity: 1;
        transform: scale(1.5)
    }

    60% {
        transform: scale(.9)
    }

    100% {
        opacity: 1;
        transform: scale(1)
    }
}

section.b.s {
    animation: sa 1s cubic-bezier(.16, 1, .3, 1)
}

section.b img {
    border-radius: 50%
}

/* - */

section.j :is(svg g, .b) {
    transition: opacity .4s ease
}

section.x :is(svg g, .b) {
    opacity: .3
}

/* e */

section.e {
    pointer-events: none;
    opacity: 0;

    position: fixed;
    inset: 0;

    overflow-y: scroll;

    background-color: #0d0d0d
}

section.q {
    pointer-events: auto;
    opacity: 1
}

/* - */

section.e h1 {
    margin: calc(25px + env(safe-area-inset-top)) 35px 35px;

    font: 700 17px system-ui;
    letter-spacing: .2px
}

/* - */

section.e ul {
    margin-bottom: 120px
}

section.e ul img {
    width: 100%;
    height: auto;

    -webkit-user-drag: none
}

/* - */

section.e>p {
    margin: 100px 15vw 110px;

    text-align: center;
    font-size: 13px;
    letter-spacing: .2px;

    color: #999
}

section.e a {
    text-decoration-line: underline;
    text-decoration-skip: none;
    text-underline-offset: 3px
}

section.e .i {
    position: fixed;
    inset: auto 35px 35px;

    display: flex;
    justify-content: space-between
}

section.e .i .a {
    padding: 21px 9px 9px;

    outline: 3px solid #ffffff0d;
    border-radius: 50%;

    display: flex;

    background-color: #131313
}

section.e .i img {
    border-radius: 50%
}

section.e .i img+img {
    margin: -12px 0 0 -8px;

    clip-path: path("M20 0v20h-9.09A12.5 12.5 0 0 0 .01 9.09L0 0h20Z")
}

section.e .i .b {
    outline: 3px solid #ffffff0d;
    border-radius: 50%;

    background-color: #131313
}

section.e svg {
    display: block
}

/* - */

section.e .f {
    position: fixed;
    inset: 0 0 auto;

    height: env(safe-area-inset-top);

    background-color: #0d0d0d90
}

/* - */

section.e .s {
    position: fixed;
    inset: 90px auto auto 32vw;

    border-radius: 27px;
    outline: 3px solid #ffffff0d;

    background-color: #191919;
    color: #999
}

section.e .s li {
    padding: 15px 40px 15px 30px;

    font: 400 15px system-ui;

    cursor: pointer
}

section.e .s li:first-child {
    padding: 30px 40px 15px 30px
}

section.e .s li:last-child {
    padding: 15px 40px 30px 30px
}

/* - */

section.w ul {
    margin-inline: 0
}

section.w :is(h1, p) {
    display: none
}

section.w li:first-child img {
    border-radius: 0
}

section.w li:last-child img {
    border-radius: 0
}

section.w svg {
    opacity: 0
}

/* l - load spinner */

section.l {
    pointer-events: none;

    position: fixed;
    inset: 0;

    margin: auto;

    width: 20px;
    height: 20px;

    border-radius: 50%;

    background-color: #fff;

    animation: load 1s infinite
}

@keyframes load {

    0%,
    100% {
        opacity: .6;
        transform: scale(.8)
    }

    50% {
        opacity: 1;
        transform: scale(1.2)
    }
}

/* - */

img[data-src] {
    opacity: 0
}

img {
    opacity: 1;

    transition: opacity .4s cubic-bezier(.4, 0, .25, 1)
}

/* - */

::selection {
    background: #fff
}

::-webkit-scrollbar {
    display: none
}
