html {
    overscroll-behavior: none
}

body {
    background-color: #0d0d0d;
    color: #fff
}

div.z {
    overflow-y: scroll;
    height: 100vh
}

/* img */

img[data-src] {
    opacity: 0
}

img {
    opacity: 1;

    transition: opacity .4s cubic-bezier(.4, 0, .25, 1)
}

/* k */

section.k {
    margin: 30px calc(5vw - 10px) 40px;

    display: flex;
    column-gap: 38px
}

section.k svg {
    cursor: pointer
}

section.k svg:hover path {
    stroke: #666
}

/* t */

section.t {
    margin: 0 7vw 40px 23vw;

    font-size: 14px;

    color: #999
}

section.t {
    margin-top: 100px
}

/* a */

section.a ul {
    overflow-x: scroll;

    padding-inline: 23vw 7vw;

    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    column-gap: 20px
}

section.a a {
    position: relative;

    display: block
}

section.a img {
    border-radius: 25px
}

section.a a:after {
    position: absolute;
    inset: 0;

    content: "";

    border-radius: 25px;
    border: 2px solid #ffffff15;

    transition: background-color .2s
}

section.a a:hover:after {
    background-color: #00000020
}

/* n */

section.n ul {
    overflow-x: scroll;

    padding-inline: 23vw 7vw;

    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    column-gap: 30px
}

section.n a {
    position: relative;

    display: block
}

section.n img {
    border-radius: 25px
}

section.n a:after {
    position: absolute;
    inset: 0;

    content: "";

    border-radius: 25px;
    border: 2px solid #ffffff15;

    transition: background-color .2s
}

section.n a:hover:after {
    background-color: #00000020
}

section.n h1 {
    margin: 15px;

    font: 500 13px system-ui;
    letter-spacing: .4px
}

/* m */

section.m ul {
    overflow-x: scroll;

    padding-inline: 23vw 7vw;

    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    column-gap: 30px
}

section.m a {
    position: relative;

    display: block
}

section.m img {
    border-radius: 25px
}

section.m a:after {
    position: absolute;
    inset: 0;

    content: "";

    border-radius: 25px;
    border: 2px solid #ffffff15;

    transition: background-color .2s
}

section.m a:hover:after {
    background-color: #00000020
}

section.m h1 {
    margin: 15px;

    font: 500 13px system-ui;
    letter-spacing: .4px
}

/* c */

section.c {
    position: fixed;
    inset: 25px 0 auto;

    margin-inline: auto;

    width: max-content;

    border-radius: 16px;
    outline: 3px solid #ffffff0d;

    display: flex;
    align-items: center;
    column-gap: 10px;

    background-color: #0d0d0d;

    color: #777;

    transition: transform .8s cubic-bezier(.16, 1, .3, 1);

    cursor: pointer
}

section.c input {
    width: 600px;
    height: 50px;

    padding: 0 25px 1px;

    font: 500 15px system-ui;
    letter-spacing: .2px;

    background: none;
    color: #fff
}

section.c input::placeholder {
    color: #777
}

/* i */

section.i {
    position: fixed;
    inset: 25px auto auto 4vw;

    font-size: 32px
}

/* b */

section.b {
    position: fixed;
    inset: 25px 5vw auto auto;

    padding: 10px;

    border-radius: 50%;
    outline: 3px solid #ffffff0d;

    background-color: #0d0d0d;

    cursor: pointer;

    will-change: transition
}

@keyframes ss {
    0% {
        transform: translateX(0) scale(.1)
    }

    100% {
        transform: translateX(37vw) scale(1)
    }
}

section.b.s {
    animation: ss 10s cubic-bezier(.16, 1, .3, 1)
}

section.b:hover {
    background-color: #191919
}

section.b img {
    border-radius: 50%
}

/* f */

section.f {
    position: fixed;
    inset: auto auto 4vw 5vw;

    font-size: 12px;

    color: #777
}

section.f a:hover {
    text-decoration-line: underline;
    text-decoration-skip: none;
    text-underline-offset: 2px
}

/* d */

section.d {
    pointer-events: none;
    opacity: 0;

    position: fixed;
    inset: 0;

    background-color: #0d0d0dde;

    transition: opacity .15s ease-out
}

section.d .a {
    margin: 20px auto;

    width: max-content;
    height: calc(100vh - 40px);

    transform: scale(.9);
    transform-origin: bottom;

    transition: transform .3s ease-in
}

section.d.q .a {
    transform: scale(1);

    transition: transform .2s ease-out
}

section.d ul {
    position: absolute;
    inset: 0 0 auto;

    padding: 20px;

    display: flex;
    column-gap: 5px
}

section.d li {
    width: 100%;
    height: 3px;

    border-radius: 2px;

    background-color: #ffffff30;

    box-shadow: 0 0 10px #00000030
}

section.d li div {
    height: inherit;

    border-radius: inherit;

    background-color: #fff
}

section.d img {
    width: max-content;
    height: 100%;

    border-radius: 18px
}

section.d .b {
    position: absolute;
    inset: 0;

    display: grid;
    grid-template-columns: 70% 30%
}

section.d .b div:first-child {
    cursor: w-resize
}

section.d .b div:last-child {
    cursor: e-resize
}

section.d svg {
    position: absolute;
    inset: 0 -90px auto auto;

    cursor: pointer
}

section.d svg:hover path {
    stroke: #969696
}

/* e */

section.e {
    pointer-events: none;
    opacity: 0;

    position: fixed;
    inset: 0;

    overflow-y: scroll;

    background-color: #0d0d0dde;

    transition: opacity .15s ease-out
}

section.q {
    pointer-events: auto;
    opacity: 1
}

section.e h1 {
    margin: 30px 15vw 35px;

    text-align: center;
    font: 400 13px system-ui;
    letter-spacing: .2px
}

/* - */

section.e ul {
    margin-inline: 6vw
}

section.e img {
    width: 100%;
    height: auto;

    -webkit-user-drag: none
}

section.e li:first-child img {
    border-radius: 15px 15px 0 0
}

section.e li:last-child img {
    border-radius: 0 0 15px 15px
}

/* - */

section.e p {
    margin: 100px 15vw 110px;

    text-align: center;
    font-size: 13px;
    letter-spacing: .2px;

    color: #999
}

section.e a {
    text-decoration-line: underline;
    text-decoration-skip: none;
    text-underline-offset: 3px
}

section.e svg {
    position: fixed;
    inset: 0 6vw auto auto;

    mix-blend-mode: difference;

    cursor: pointer
}

section.e svg:hover path {
    stroke: #ffffff90
}

/* - */

section.w ul {
    margin-inline: 0
}

section.w :is(h1, p) {
    display: none
}

section.w li:first-child img {
    border-radius: 0
}

section.w li:last-child img {
    border-radius: 0
}

section.w svg {
    opacity: 0
}

section.w svg:hover {
    opacity: 1
}

/* r - prompt */

section.r {
    pointer-events: none;
    opacity: 0;

    position: fixed;
    inset: auto 0 50px;

    width: max-content;

    margin-inline: auto;
    padding: 17px 40px 20px 20px;

    border-radius: 18px;

    font-size: 14px;
    line-height: 1.4;

    background-color: #212121;
    color: #999;

    transition: opacity .5s ease 2s
}

section.r code {
    width: 20px;

    border-radius: 4px;

    display: inline-block;

    text-align: center;
    line-height: 1.2;

    background-color: #535353;
    color: #c9c9c9;

    box-shadow: 0 2px 0 #393939
}

/* l - load spinner */

section.l {
    pointer-events: none;

    position: fixed;
    inset: 0;

    margin: auto;

    width: 20px;
    height: 20px;

    border-radius: 50%;

    background-color: #fff;

    animation: load 1s infinite
}

@keyframes load {

    0%,
    100% {
        opacity: .6;
        transform: scale(.8)
    }

    50% {
        opacity: 1;
        transform: scale(1.2)
    }
}

/* - */

::selection {
    background: #fff
}

::-webkit-scrollbar {
    display: none
}
