@media (display-mode: standalone) {
    html {
        overscroll-behavior: none
    }
}

body {
    background-color: light-dark(#fff, #0d0d0d);
    color: light-dark(#111, #fff)
}

/* - */


@media (display-mode: standalone) {
    section.a {
        overflow-y: scroll;

        width: 100vw;
        height: 100vh
    }
}

section.a h2 {
    margin: 17vh 11vw 7vw;

    font: 800 7vw ui-rounded;

    color: light-dark(#777, #999)
}

section.a ul {
    margin: 0 7vw calc(7vw + env(safe-area-inset-bottom));

    display: grid;
    row-gap: 40px
}

section.a ul li>a {
    position: relative;

    overflow: hidden;
    border-radius: 30px;

    display: block
}

section.a ul li>a img {
    width: 100%;
    height: auto
}

section.a ul li>a video {
    width: 100%;
    height: auto
}

section.a ul li>a:after {
    position: absolute;
    inset: 0;

    content: "";

    border-radius: 30px;
    border: 3px solid light-dark(#0000000d, #ffffff08)
}

section.a h1 {
    margin: 30px;

    font: 500 19px system-ui
}

section.a p {
    margin: 30px;

    font: 500 17px system-ui;
    letter-spacing: .4px;

    color: light-dark(#888, #aaa)
}

/* - */

section.a ul div {
    overflow-x: scroll;

    margin: 17px;

    width: calc(86vw - 34px);

    border-radius: 21px;

    display: flex;
    column-gap: 10px
}

section.a ul div a {
    padding: 12px 15px 12px 12px;

    border-radius: 21px;

    display: flex;
    column-gap: 6px;

    background-color: light-dark(#f2f2f2, #151515)
}

section.a ul div img {
    border-radius: 50%
}

section.a h6 {
    margin-left: 2px;

    font: 500 14px system-ui;
    letter-spacing: .4px;

    color: light-dark(#111, #999)
}

section.a time {
    font: 500 14px system-ui;
    letter-spacing: .4px;

    color: light-dark(#999, #666)
}

/* f */

section.f {
    pointer-events: none;
    opacity: 1;

    position: fixed;
    inset: 0 0 auto;

    height: 120px;

    background-color: light-dark(#fff8, #0d0d0d99);

    filter: blur(20px);

    transition: opacity .4s ease
}

section.g {
    opacity: 1
}

/* j */

section.j {
    position: fixed;
    inset: calc(15px + env(safe-area-inset-top)) 24vw auto;

    display: flex;
    justify-content: space-between;

    transition: opacity .15s cubic-bezier(.16, 1, .3, 1)
}

body:has(section.e.q) section.j {
    opacity: 0
}

/* c */

section.c {
    pointer-events: auto;

    border-radius: 25px;
    outline: 3px solid light-dark(#0000, #ffffff0d);

    background-color: light-dark(#f2f2f2, #131313)
}

section.c svg {
    display: block
}

/* 2 obj */

section.u {
    padding: 21px 9px 9px
}

section.u img+img {
    margin: -12px 0 0 -8px;

    clip-path: path("M20 0v20h-9.09A12.5 12.5 0 0 0 .01 9.09L0 0h20Z")
}

/* b */

section.b {
    pointer-events: auto;

    padding: 10px;

    border-radius: 50%;
    outline: 3px solid light-dark(#0000, #ffffff0d);

    background-color: light-dark(#f2f2f2, #131313)
}

section.b img {
    border-radius: 50%
}

/* - */

img[data-src] {
    opacity: 0
}

img {
    opacity: 1;

    transition: opacity .4s cubic-bezier(.4, 0, .25, 1)
}

/* - */

::selection {
    background: #fff
}

::-webkit-scrollbar {
    display: none
}

:root {
    color-scheme: light dark
}
