body {
    background-color: #000;
    color: #fff
}

/* v */

section.v ul {
    overscroll-behavior-y: none;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    width: 100vw;
    height: 100vh;

    display: grid;
    row-gap: 20px
}

section.v li {
    position: relative;

    scroll-snap-align: start
}

section.v video {
    width: 100vw;
    height: 100vh;

    object-fit: cover
}

/* - */

section.v .p {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image: linear-gradient(#0008, #0002)
}

section.v h6 {
    text-align: center;
    font: 500 18px/1.3 system-ui;
    letter-spacing: .2px
}

section.v p {
    margin: 40px 45px;

    font: 600 19px ui-rounded;
    letter-spacing: .4px;

    color: #fff8
}

/* - */

section.v>svg {
    position: absolute;
    inset: auto 45px 40px auto
}

/* - */

section.v .i {
    position: relative;

    margin: calc(30px + env(safe-area-inset-bottom)) 40px 0
}

section.v .i div {
    position: absolute
}

section.v .a {
    top: 10px;

    animation: a 10s cubic-bezier(.25, 0, .25, 1) infinite
}

@keyframes a {
    0% {
        transform: translate(-2px, 3px) scale(1)
    }

    25% {
        transform: translate(4px, 2px) scale(1.015)
    }

    50% {
        transform: translate(0, 0) scale(1)
    }

    75% {
        transform: translate(3px, -4px) scale(1.02)
    }

    100% {
        transform: translate(-2px, 3px) scale(1)
    }
}

section.v .b {
    inset: 20px 70px auto auto;

    animation: b 10s cubic-bezier(.25, 0, .25, 1) infinite
}

@keyframes b {
    0% {
        transform: translate(3px, -4px) scale(1)
    }

    25% {
        transform: translate(4px, 2px) scale(1.02)
    }

    50% {
        transform: translate(-2px, 3px) scale(1)
    }

    75% {
        transform: translate(0, 0) scale(1.015)
    }

    100% {
        transform: translate(3px, -4px) scale(1)
    }
}

section.v .c {
    inset: 0 0 auto auto;

    animation: c 10s cubic-bezier(.25, 0, .25, 1) infinite
}

@keyframes c {
    0% {
        transform: translate(0, 0) scale(1)
    }

    25% {
        transform: translate(3px, -4px) scale(1.02)
    }

    50% {
        transform: translate(-2px, 3px) scale(1)
    }

    75% {
        transform: translate(4px, 2px) scale(1.015)
    }

    100% {
        transform: translate(0, 0) scale(1)
    }
}

section.v .i img {
    border-radius: 50%;
    outline: 1px solid #fff1
}

section.v :is(.b, .c):after {
    position: absolute;
    inset: 29px -5px 0 auto;

    content: "❤️";

    font-size: 18px
}

/* - */

section.v .y a {
    position: relative;

    margin: 30px 30px calc(20px + env(safe-area-inset-bottom));

    width: 100px;

    display: block
}

section.v .y a img {
    width: 100%;
    height: auto;

    border-radius: 2px
}

section.v .y a:after {
    position: absolute;
    inset: 0;

    content: "";

    border-radius: 2px;

    background-size: 100% 100%;
    background-image: url('4.png')
}

/* - */

img[data-src] {
    opacity: 0
}

img {
    opacity: 1;

    transition: opacity .4s cubic-bezier(.4, 0, .25, 1)
}

/* - */

::selection {
    background: #fff
}

::-webkit-scrollbar {
    display: none
}
