body {
    background-color: #000
}

/* v */

section.v ul {
    overscroll-behavior-y: none;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    width: 100vw;
    height: 100vh;

    display: grid;
    row-gap: 20px
}

section.v li {
    position: relative;

    scroll-snap-align: start
}

section.v li>img {
    width: 100vw;
    height: 100vh;

    object-fit: cover
}

section.v video {
    width: 100vw;
    height: 100vh;

    object-fit: cover
}

/* - */

section.v .d {
    pointer-events: none;

    position: absolute;
    inset: calc(7px + env(safe-area-inset-top)) 40px auto;

    display: flex;
    column-gap: 5px
}

section.v .d div {
    width: 100%;
    height: 3px;

    border-radius: 2px;

    background-color: #ffffff30;

    box-shadow: 0 0 10px #00000030
}

section.v .d div div {
    height: inherit;

    border-radius: inherit;

    background-color: #fff
}

/* - */

section.v .k {
    position: absolute;
    inset: 0;

    display: grid;
    grid-template-columns: 70% 30%;

    background-image: linear-gradient(#000b, #0000, #0000, #0008)
}

section.v .k div:first-child {
    cursor: w-resize
}

section.v .k div:last-child {
    cursor: e-resize
}

/* - */

section.v .a {
    position: absolute;
    inset: calc(30px + env(safe-area-inset-top)) 40px auto auto;

    animation: a 10s cubic-bezier(.25, 0, .25, 1) infinite
}

@keyframes a {
    0% {
        transform: translate(0, 0) scale(1)
    }

    25% {
        transform: translate(3px, -4px) scale(1.02)
    }

    50% {
        transform: translate(-2px, 3px) scale(1)
    }

    75% {
        transform: translate(4px, 2px) scale(1.015)
    }

    100% {
        transform: translate(0, 0) scale(1)
    }
}

section.v .b {
    position: absolute;
    inset: calc(30px + env(safe-area-inset-top)) 130px auto auto;

    animation: b 10s cubic-bezier(.25, 0, .25, 1) infinite
}

@keyframes b {
    0% {
        transform: translate(3px, -4px) scale(1)
    }

    25% {
        transform: translate(4px, 2px) scale(1.02)
    }

    50% {
        transform: translate(-2px, 3px) scale(1)
    }

    75% {
        transform: translate(0, 0) scale(1.015)
    }

    100% {
        transform: translate(3px, -4px) scale(1)
    }
}

section.v .c {
    position: absolute;
    inset: calc(30px + env(safe-area-inset-top)) 220px auto auto;

    animation: c 10s cubic-bezier(.25, 0, .25, 1) infinite
}

@keyframes c {
    0% {
        transform: translate(-2px, 3px) scale(1)
    }

    25% {
        transform: translate(4px, 2px) scale(1.015)
    }

    50% {
        transform: translate(0, 0) scale(1)
    }

    75% {
        transform: translate(3px, -4px) scale(1.02)
    }

    100% {
        transform: translate(-2px, 3px) scale(1)
    }
}

section.v :is(.a, .b, .c) div {
    border-radius: 50%;
    background-color: #0003
}

section.v :is(.a, .b, .c) img {
    border-radius: 50%;
    outline: 1px solid #fff1
}

section.v :is(.a, .b, .c):after {
    position: absolute;
    inset: 25px -5px 0 auto;

    content: "❤️";

    font-size: 25px
}

/* - */

section.v .g {
    position: absolute;
    inset: auto 40px 40px;

    overflow-x: scroll;

    width: calc(100vw - 80px);

    border-radius: 23px;

    display: flex;
    column-gap: 8px
}

section.v .g a {
    padding: 12px 15px 12px 12px;

    border-radius: 23px;
    border: 2px solid #fff1;

    display: flex;
    column-gap: 8px;

    background-color: #fff2;
    color: #fff
}

section.v .g div {
    display: flex
}

section.v .g img {
    border-radius: 50%
}

section.v .g img+img {
    margin-left: -5px
}

section.v .g img:not(:last-child) {
    clip-path: path("M16.54 0a11.6 11.6 0 0 0 0 19H0V0z")
}

section.v .g span {
    white-space: nowrap;
    font: 500 16px system-ui;
    letter-spacing: .2px
}

/* - */

section.v .y a {
    position: relative;

    margin: 30px 30px calc(20px + env(safe-area-inset-bottom));

    width: 100px;

    display: block
}

section.v .y a img {
    width: 100%;
    height: auto;

    border-radius: 2px
}

section.v .y a:after {
    position: absolute;
    inset: 0;

    content: "";

    border-radius: 2px;

    background-size: 100% 100%;
    background-image: url('4.png')
}

/* - */

img[data-src] {
    opacity: 0
}

img {
    transition: opacity .4s cubic-bezier(.4, 0, .25, 1)
}

/* - */

::-webkit-scrollbar {
    display: none
}
