html {
    scroll-behavior: smooth
}

/* t */

section.t {
    margin: 1cm calc(env(safe-area-inset-right) + 1cm) 4cm;

    color: var(--col-00)
}

section.t h5 {
    margin-block: 13em 3em;

    text-align: center;
    font: 800 20px/1.7 system-ui;
    letter-spacing: .04em
}

section.t h6:first-letter {
    margin-left: 1cm
}

section.t h6 {
    margin-bottom: 1cm;

    text-align: justify;
    font: 20px/1.7 system-ui;
    letter-spacing: .2px
}

section.t u {
    -webkit-text-decoration: underline dotted #ffa333;
    text-decoration-skip: none;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px
}

/* padding */

section.t.w {
    margin-inline: calc(env(safe-area-inset-right) + 20px)
}

/* font */

section.t.a>* {
    font-size-adjust: .5;
    font-family: georgia
}

section.t.v>* {
    font-family: avenir next
}

/* text */

section.t.y>* {
    font-size: 24px
}

section.t.s>* {
    font-size: 22px
}

section.t.r>* {
    font-size: 18px
}

/* interval */

section.t.f h6 {
    line-height: 1.5
}

section.t.j h6 {
    line-height: 1.3
}

/* background */

body.f {
    background-color: var(--col-1)
}

body.i {
    background-color: var(--col-2)
}

body.d {
    background-color: var(--col-3)
}

body.c {
    background-color: var(--col-4)
}

body.b {
    background-color: var(--col-5)
}

/* text color */

body.f section.t {
    color: var(--col-11)
}

body.i section.t {
    color: var(--col-22)
}

body.d section.t {
    color: var(--col-33)
}

body.c section.t {
    color: var(--col-44)
}

body.b section.t {
    color: var(--col-55)
}

/* k */

section.k {
    opacity: .9;
    
    position: fixed;
    inset: 0 0 auto;

    height: env(safe-area-inset-top);

    background-color: inherit
}

/* m */

section.m {
    position: fixed;
    inset: auto 0 0;

    padding: 20px 1cm max(calc(env(safe-area-inset-bottom) + 10px), 20px);

    display: none;

    text-align: center;
    font-size: 15px;

    background-color: inherit;
    color: var(--col-0)
}

/* e */

section.e {
    pointer-events: none;
    opacity: 0;

    position: fixed;
    inset: auto 0 0;

    padding: 20px calc(env(safe-area-inset-right) + 20px) calc(env(safe-area-inset-bottom) + 20px);

    display: grid;
    grid: repeat(3, 1fr)/repeat(2, 1fr);
    gap: 10px;

    background-color: inherit;

    transition: opacity .4s
}

section.e select {
    height: 50px;

    border-radius: 15px;

    text-align-last: center;
    font: 500 17px system-ui;

    background-color: var(--col-a);
    color: var(--col-0);

    transition: opacity .4s
}

section.e select:focus {
    opacity: .4
}

@media (prefers-color-scheme: light) {
    :root {
        --col-b: white;
        --col-0: black;
        --col-1: #eeeded;
        --col-2: #fffaf0;
        --col-3: #d2ddff;
        --col-4: #f4e9d4;
        --col-5: #e2dbcf;
        --col-00: #1e1e1e;
        --col-11: #111;
        --col-22: #211700;
        --col-33: #181a1d;
        --col-44: #222;
        --col-55: #111;
        --col-a: #00000010;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --col-b: black;
        --col-0: white;
        --col-1: #1c1c1e;
        --col-2: #2c2c31;
        --col-3: #4a4a4d;
        --col-4: #1a1919;
        --col-5: #32302e;
        --col-00: #bbb;
        --col-11: #f2f2f0;
        --col-22: white;
        --col-33: #ebebf4;
        --col-44: #bab3b3;
        --col-55: #fffffe;
        --col-a: #ffffff10;
    }
}
