html {
    scroll-behavior: smooth
}

/* k */

section.k {
    position: fixed;
    inset: 0 0 auto;

    opacity: .9;

    height: env(safe-area-inset-top);

    background-color: inherit
}

/* e */

section.e {
    pointer-events: none;
    opacity: 0;

    position: fixed;
    inset: auto 0 0;

    margin: 0 calc(env(safe-area-inset-right) + 20px) calc(env(safe-area-inset-bottom) + 20px);

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;

    transition: opacity .4s
}

section.e select {
    aspect-ratio: 1;

    width: 100%;

    border-radius: 50%;

    text-align-last: center;
    font-size: 32px;

    background-color: var(--col-01)
}

section.e select:focus {
    filter: grayscale(1)
}

section.e .h h2 {
    width: 232px;

    text-align: center;
    font: 510 15px system-ui
}

@media (orientation: landscape) {
    section.e select {
        width: 45px;
        height: 45px;

        font: 510 19px system-ui
    }
}

/* t */

section.t {
    margin: 1cm calc(env(safe-area-inset-right) + 1cm) 4cm;

    color: var(--col-a)
}

section.t h5 {
    margin-block: 13em 3em;

    text-align: center;
    font: 800 20px/1.7 system-ui;
    letter-spacing: .04em
}

section.t h6:not(.f):first-letter {
    margin-left: 1cm
}

section.t .f:first-letter {
    -webkit-initial-letter: 3;

    margin-right: .8em
}

section.t h6 {
    margin-bottom: .8em;

    text-align: justify;
    font: 370 20px/1.7 system-ui;
    letter-spacing: .2px
}

section.t u {
    -webkit-text-decoration: underline dotted #ffa333;
    text-decoration-skip: none;
    text-underline-offset: 2px;
    text-decoration-thickness: 1.2px
}

/* padding */

section.t.w {
    margin-inline: calc(env(safe-area-inset-right) + 20px)
}

/* font */

section.t.a>* {
    font-size-adjust: .5;
    font-family: georgia
}

section.t.v>* {
    font-family: ui-serif
}

/* text */

section.t.y>* {
    font-size: 23px
}

section.t.y h6 {
    font-weight: 600
}

section.t.s>* {
    font-size: 22px
}

section.t.r>* {
    font-size: 18px
}

/* interval */

section.t.f h6 {
    line-height: 1.5
}

section.t.j h6 {
    line-height: 1.3
}

/* background */

body.f {
    background-color: var(--col-1)
}

body.i {
    background-color: var(--col-2)
}

body.d {
    background-color: var(--col-3)
}

body.c {
    background-color: var(--col-4)
}

body.b {
    background-color: var(--col-5)
}

/* text color */

body.f section.t {
    color: var(--col-11)
}

body.i section.t {
    color: var(--col-22)
}

body.d section.t {
    color: var(--col-33)
}

body.c section.t {
    color: var(--col-44)
}

body.b section.t {
    color: var(--col-55)
}

/* m */

section.m {
    position: fixed;
    inset: auto 0 0;

    padding: 20px 1cm max(calc(env(safe-area-inset-bottom) + 10px), 20px);

    display: none;

    text-align: center;
    font-size: 15px;

    background-color: inherit;
    color: var(--col-0)
}

@media (prefers-color-scheme: light) {
    :root {
        --col-b: white;
        --col-1: #eeeded;
        --col-2: #fffaf0;
        --col-3: #e2dbcf;
        --col-4: #f4e9d4;
        --col-5: #d2ddff;
        --col-01: #212224;
        --col-11: #111;
        --col-22: #3d2a1c;
        --col-33: #111;
        --col-44: #222;
        --col-55: #181a1d;
        --col-a: #1e1e1e;
        --col-0: black;
        --col-s: #f5f5f7;
        --col-e: #e1e1e3;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --col-b: black;
        --col-1: #1c1c1e;
        --col-2: #353539;
        --col-3: #24211f;
        --col-4: #584d47;
        --col-5: #272a32;
        --col-01: white;
        --col-11: #f2f2f0;
        --col-22: #f0f0f0;
        --col-33: #d6caba;
        --col-44: #ffede4;
        --col-55: white;
        --col-a: #bbb;
        --col-0: white;
        --col-s: #424247;
        --col-e: #53535a;
    }
}
