html {
    overscroll-behavior-y: none
}

body {
    background-color: var(--b);

    color: var(--h)
}

/* d */

.d {
    overscroll-behavior-x: none;
    overflow-x: scroll;

    display: grid;
    grid: 100vh / repeat(2, 100vw);

    scroll-snap-type: x mandatory
}

.d section {
    overflow-y: scroll;

    height: 100vh;

    scroll-snap-align: start
}

.d h1 {
    margin: calc(20px + env(safe-area-inset-top)) 20px 20px;

    font: 900 32px/1 system-ui
}

/* s */

section.s ul {
    margin-bottom: calc(50px + env(safe-area-inset-bottom));

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem
}

section.s li {
    text-align: -webkit-center
}

[data-i] {
    opacity: 0
}

img {
    opacity: 1;

    transition: opacity .4s cubic-bezier(.4, 0, .25, 1)
}

section.s img {
    border-radius: 50%
}

section.s .y {
    padding: 5px;
    
    border: 4px solid #007aff
}

section.s h6 {
    margin-top: 20px;

    max-width: 160px;

    word-break: break-word;
    font: 500 13px/1.1 system-ui
}

/* n */

section.n ul {
    margin: 0 10px calc(10px + env(safe-area-inset-bottom));

    display: grid;
    grid: masonry / repeat(2, 1fr);

    column-gap: 10px
}

section.n .r {
    border-radius: 12px;

    background-color: var(--t)
}

section.n .k {
    overflow: hidden
}

section.n .k div {
    border-left: 7px solid #2f2f32
}

section.n .r img {
    border-radius: 0 0 12px 12px
}

section.n .r div {
    padding: 10px
}

section.n h3 {
    margin-block: 5px 22px;

    height: 78px;

    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;

    word-break: break-word;
    font: 700 extra-condensed 19px/1 system-ui
}

section.n h2 {
    margin-bottom: 30px;

    font-size: 15px
}

section.n ins {
    font-family: ui-serif
}

section.n .b {
    color: #ff2f50
}

section.n .c {
    color: #ffa80f
}

section.n .e {
    color: #2f99ff
}

section.n .f {
    color: #56b88c
}

section.n p {
    font: 500 13px system-ui
}

section.n .v {
    margin-block: 24px;

    display: flex;
    justify-content: center;
    column-gap: 3rem
}

section.n span {
    margin-block: 24px 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px
}

section.n span img {
    border-radius: 50%
}

section.n hr {
    margin-inline: 4px;

    width: 24px;

    border-radius: 2px;
    border-top: 3px solid var(--c)
}

section.n span div {
    display: inherit
}

section.n span div img:not(:last-child) {
    clip-path: path("M9 0a8.96 8.96 0 0 1 5.377 1.782C12.717 3.423 11.7 6.045 11.7 9s1.017 5.577 2.676 7.218A9 9 0 1 1 9 0Z")
}

section.n span img+img {
    margin-left: -4px
}

section.n h6 {
    font: 700 15px ui-rounded
}

section.n h5 {
    filter: grayscale();

    font-size: 14px
}

section.n .a {
    filter: none
}

section.n .t img {
    margin-inline: 20px;

    border-radius: 12px
}

section.n .s {
    box-sizing: border-box;

    width: 100vw;

    overflow-x: scroll;

    padding-inline: 20px;
    scroll-padding-left: 20px;

    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;

    scroll-snap-type: x mandatory
}

section.n .s img {
    border-radius: 12px;

    scroll-snap-align: start
}

/* input */

input {
    position: fixed;
    inset: auto 0 0;

    width: 100vw;

    border-radius: 0;

    border-top: 2px solid #88888810;

    padding: 20px 20px calc(20px + env(safe-area-inset-bottom));

    font-size: 17px;

    background-color: inherit;
    color: var(--h)
}

input::placeholder {
    color: var(--p)
}

input:focus {
    padding-bottom: 20px
}

/* k */

section.k {
    opacity: .9;

    position: fixed;
    inset: 0 0 auto;

    height: env(safe-area-inset-top);

    background-color: var(--b)
}

@media (prefers-color-scheme: light) {
    :root {
        --b: white;
        --h: black;
        --p: #a3a3a4;
        --c: #dfdfdf;
        --k: #f2f2f2;
        --n: #dddddd90;
        --t: #f7f7f7;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --b: #101010;
        --h: white;
        --p: #77777b;
        --c: #2e2e2e;
        --k: #1c1c1c;
        --n: #21212190;
        --t: #1a1a1c;
    }
}
