html {
    overscroll-behavior-y: none
}

body {
    background-color: var(--b);

    color: var(--h)
}

/* d */

.d {
    overscroll-behavior-x: none;
    overflow-x: scroll;

    display: grid;
    grid: 100vh / repeat(2, 100vw);

    scroll-snap-type: x mandatory
}

.d section {
    overflow-y: scroll;

    height: 100vh;

    scroll-snap-align: start
}

.d h1 {
    margin: calc(20px + env(safe-area-inset-top)) 20px 20px;

    font: 900 32px/1 system-ui
}

/* s */

section.s ul {
    margin-bottom: calc(50px + env(safe-area-inset-bottom));

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem
}

section.s li {
    text-align: -webkit-center
}

[data-i] {
    opacity: 0
}

img {
    opacity: 1;

    transition: opacity .4s cubic-bezier(.4, 0, .25, 1)
}

section.s img {
    border-radius: 50%
}

section.s .y {
    padding: 5px;
    
    border: 4px solid #007aff
}

section.s h6 {
    margin-top: 20px;

    max-width: 160px;

    word-break: break-word;
    font: 500 13px/1.1 system-ui
}

/* n */

section.n {
    padding-block: env(safe-area-inset-top) env(safe-area-inset-bottom)
}

section.n .d {
    color: #007aff
}

section.n ul {
    margin: 16px;

    display: grid;
    gap: 16px
}

section.n .r {
    border-radius: 12px;

    padding: 15px;

    background-color: var(--t)
}

section.n .k {
    display: flex;
    justify-content: space-between;

    border-radius: 12px;

    background-color: var(--k)
}

section.n .k div {
    padding: 15px
}

section.n .k img {
    object-fit: cover;

    border-radius: 0 12px 12px 0
}

section.n h3 a {
    text-decoration-line: underline;
    text-decoration-skip: none;
    text-underline-offset: 2px
}

section.n h4 {
    margin-bottom: 11px;

    height: 82px;

    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;

    word-break: break-word;
    font: 700 extra-condensed 20px/1 system-ui
}

section.n ins {
    font-family: ui-serif
}

section.n .b {
    color: #ff2f50
}

section.n .c {
    color: #ffa80f
}

section.n .e {
    color: #2f99ff
}

section.n .f {
    color: #56b88c
}

section.n p {
    font: 500 13px system-ui;

    color: var(--p)
}

section.n p strong {
    margin-right: 7px
}

section.n .v img {
    border-radius: 50%
}

section.n hr {
    margin-inline: 4px;

    width: 24px;

    border-radius: 2px;
    border-top: 3px solid var(--c)
}

section.n .v div {
    display: inherit
}

section.n .v div img:not(:last-child) {
    clip-path: path("M10 0c2.15 0 4.25.7 5.98 1.98C14.13 3.8 13 6.72 13 10c0 3.28 1.13 6.2 2.97 8.02A10 10 0 1 1 10 0Z")
}

section.n .v img+img {
    margin-left: -4px
}

section.n h6 {
    font: 700 15px ui-rounded
}

section.n .s {
    width: 100vw;

    box-sizing: border-box;
    overflow-x: scroll;

    padding-inline: 20px;
    scroll-padding-left: 20px;

    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;

    scroll-snap-type: x mandatory
}

section.n .s img {
    scroll-snap-align: start
}

/* input */

input {
    position: fixed;
    inset: auto 0 0;

    width: 100vw;

    border-radius: 0;

    border-top: 2px solid #88888810;

    padding: 20px 20px calc(20px + env(safe-area-inset-bottom));

    font-size: 17px;

    background-color: inherit;
    color: var(--h)
}

input::placeholder {
    color: var(--p)
}

input:focus {
    padding-bottom: 20px
}

/* k */

section.k {
    opacity: .9;

    position: fixed;
    inset: 0 0 auto;

    height: env(safe-area-inset-top);

    background-color: var(--b)
}

@media (prefers-color-scheme: light) {
    :root {
        --b: white;
        --h: black;
        --p: #a3a3a4;
        --c: #dfdfdf;
        --k: #f2f2f2;
        --n: #dddddd90;
        --t: #f7f7f7;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --b: #101010;
        --h: white;
        --p: #77777b;
        --c: #2e2e2e;
        --k: #1c1c1c;
        --n: #21212190;
        --t: #1a1a1c;
    }
}
