/* media */

[data-i],
[data-v] {
    opacity: 0
}

img,
video {
    opacity: 1;

    transition: opacity .4s cubic-bezier(.4, 0, .25, 1)
}

/* n */

section.n {
    margin-block: calc(5rem + env(safe-area-inset-top)) calc(15rem + env(safe-area-inset-bottom))
}

section.n time {
    margin-inline: 30px;

    font: 700 15px system-ui
}

section.n h1 {
    margin: 15px 30px 40px;

    font: 800 expanded 32px/1 system-ui
}

section.n .a {
    font: 800 40px/1 georgia
}

section.n blockquote {
    margin: 30px;

    text-align: right;
    font: italic 500 19px/1.4 system-ui;

    color: var(--col-p)
}

section.n article {
    margin: 40px 30px;

    font: 370 19px/1.6 ui-serif
}

section.n a {
    -webkit-text-decoration: underline dotted #3381ff;
    text-decoration-skip: none;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
    
    color: inherit
}

section.n mark {
    border-radius: 3px;

    background-color: #ff45a280
}

section.n .b:first-letter {
    -webkit-initial-letter: 3;

    margin-right: .8em
}

section.n img {
    width: 100%;

    aspect-ratio: 1.8/1
}

section.n h2 {
    margin: 30px;

    font: 800 expanded 32px/1 system-ui
}

/* k */

section.k {
    opacity: .9;

    position: fixed;
    inset: 0 0 auto;

    height: env(safe-area-inset-top);

    background-color: var(--col-b)
}

@media (prefers-color-scheme: light) {
    :root {
        --col-b: white;
        --col-h: #111;
        --col-p: #afafb1;
        --col-c: #00000020;
        --col-k: #eaeaf290;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --col-b: #101010;
        --col-h: #ddd;
        --col-p: #77777b;
        --col-c: #ffffff20;
        --col-k: #21212190;
    }
}
