/* n */

section.n {
    margin: 3cm 25px 1cm;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem 2rem
}

section.n a {
    font: 600 14px system-ui;

    color: var(--h)
}

/* article */

article {
    margin-block: calc(7rem + env(safe-area-inset-top)) calc(8rem + env(safe-area-inset-bottom))
}

article h1 {
    margin-inline: 25px;

    text-align: center;
    word-break: break-word;
    font: 700 28px/1.2 system-ui
}

article h2 {
    opacity: .7;

    margin: 2rem 25px;

    text-align: center;
    font: 500 19px/1.3 system-ui
}

article h3 {
    margin: 20px 25px;

    font: 700 19px/1.3 system-ui
}

[data-i] {
    opacity: 0
}

img {
    opacity: 1;

    transition: opacity .4s cubic-bezier(.4, 0, .25, 1)
}

article p {
    margin: 30px 25px;

    font: 17px/1.6 system-ui;

    color: var(--c)
}

article .a:first-letter {
    -webkit-initial-letter: 2;

    margin-right: 10px;

    font-weight: 700
}

article :is(p, figcaption) a {
    text-decoration-line: underline;
    text-decoration-skip: none;
    text-underline-offset: 2px
}

article figcaption {
    margin: 20px 25px;

    text-align: center;
    font-size: 13px
}

article blockquote {
    margin: 30px 25px 30px 0;

    border-left: 8px solid;

    padding-left: 17px;

    font: italic 18px/1.6 ui-serif;

    color: var(--c)
}

article mark {
    border-radius: 5px;

    background-color: var(--m)
}

article code {
    border-radius: 5px;

    padding-inline: 5px;

    font-family: ui-monospace;

    background-color: #88888840;
    color: color-mix(in srgb, currentcolor, transparent 30%)
}

/* a */

section.a {
    position: fixed;
    inset: auto 0 max(calc(15px + env(safe-area-inset-bottom)), 20px);

    display: flex;
    justify-content: center;
    column-gap: 8px;

    transition: opacity .4s
}

section.a span {
    border-radius: 28px;

    padding: 19px 24px;

    display: inherit;
    align-items: center;
    column-gap: 8px;

    background-color: var(--k)
}

section.a div {
    display: inherit
}

section.a img {
    border-radius: 50%
}

section.a div img:not(:last-child) {
    clip-path: path("M9 0a8.96 8.96 0 0 1 5.377 1.782C12.717 3.423 11.7 6.045 11.7 9s1.017 5.577 2.676 7.218A9 9 0 1 1 9 0Z")
}

section.a img+img {
    margin-left: -4px
}

section.a h6 {
    font: 700 15px ui-rounded
}

section.a h5 {
    filter: grayscale();

    font-size: 14px
}

section.a .a {
    filter: none
}

/* k */

section.k {
    opacity: .9;

    position: fixed;
    inset: 0 0 auto;

    height: env(safe-area-inset-top);

    background-color: inherit
}

/* s */

section.s {
    pointer-events: none;
    opacity: 0;

    position: fixed;
    inset: 0;

    overflow-y: scroll;

    background-color: inherit;

    transition: opacity .2s
}

section.s .y {
    position: sticky;
    inset: 0 0 auto;

    padding: calc(25px + env(safe-area-inset-top)) 20px 25px 25px;

    display: flex;
    align-items: center;
    column-gap: 10px;

    background-color: inherit
}

section.s textarea {
    resize: none;

    width: -webkit-fill-available;

    padding: 0;

    font-size: 15px;

    background: none
}

section.s textarea::-webkit-input-placeholder {
    color: var(--p)
}

section.s span {
    opacity: 1;

    font: 600 14px system-ui;

    color: #007aff;

    transition: opacity .2s
}

section.s .v {
    padding: 5px
}

section.s .t {
    padding: 3px;

    border: 2px solid #007aff
}

section.s .e {
    padding: 3px;

    border: 2px solid #ff0026
}

section.s ul {
    display: grid;
    row-gap: 25px
}

section.s .c {
    margin: 0 25px calc(25px + env(safe-area-inset-bottom))
}

section.s .b {
    margin: 25px 0 25px 25px
}

section.s .s {
    margin-bottom: 10px;

    display: flex;
    align-items: start;
    justify-content: space-between;
    column-gap: 10px
}

section.s h1 {
    font-size: 15px
}

section.s u {
    font-size: 13px;

    color: color-mix(in srgb, var(--h), transparent 70%)
}

section.s .d {
    display: flex;
    justify-content: space-between
}

section.s p {
    display: inline-block;

    font: 600 13px system-ui
}

section.s .a {
    color: #ff4141
}

section.s img {
    border-radius: 50%
}

section.s h2 {
    font: 600 13px system-ui
}

section.s .k {
    display: inherit
}

section.s .k img:first-child {
    margin-right: -4px
}

section.s .k img:last-child {
    clip-path: path("M9 0A8.96 8.96 0 0 0 3.6 1.782C5.26 3.423 6.277 6.045 6.277 9s-1.017 5.577-2.676 7.218A9 9 0 1 0 9 0Z")
}

@media (prefers-color-scheme: light) {
    :root {
        --b: white;
        --h: #111;
        --c: #111;
        --p: #a3a3a4;
        --m: #ffdbed;
        --k: #f2f2f2;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --b: #101010;
        --h: white;
        --c: #ccc;
        --p: #77777b;
        --m: #692940;
        --k: #1a1a1c;
    }
}
