html {
    overscroll-behavior: none
}

body {
    background-color: #0d0d0d;
    color: #fff
}

/* - */

section.a {
    overflow-y: scroll;

    width: 100vw;
    height: 100vh
}

section.a h2 {
    margin: 17vh 11vw 7vw;

    font: 800 10vw ui-rounded;

    color: #999
}

section.a ul {
    margin-inline: 7vw;

    display: grid;
    row-gap: 40px;

    background-color: #0d0d0d
}

section.a ul li>a {
    position: relative;

    overflow: hidden;
    border-radius: 30px;

    display: block
}

section.a ul li>a img {
    width: 100%;
    height: auto
}

section.a ul li>a:after {
    position: absolute;
    inset: 0;

    content: "";

    border-radius: 30px;
    border: 3px solid #ffffff08;

    transition: background-color .2s
}

section.a h1 {
    margin: 30px;

    font: 500 19px system-ui
}

section.a p {
    margin: 30px;

    font: 500 17px system-ui;
    letter-spacing: .4px;

    color: #aaa
}

/* - */

section.a div {
    overflow-x: scroll;

    margin: 17px;

    width: calc(86vw - 34px);

    border-radius: 21px;

    display: flex;
    column-gap: 10px
}

section.a div a {
    padding: 12px 15px 12px 12px;

    border-radius: 21px;

    display: flex;
    column-gap: 6px;

    background-color: #151515
}

section.a div img {
    border-radius: 50%
}

section.a h6 {
    margin-left: 2px;

    font: 500 14px system-ui;
    letter-spacing: .4px;

    color: #999
}

section.a time {
    font: 500 14px system-ui;
    letter-spacing: .4px;

    color: #666
}

/* f */

section.f {
    pointer-events: none;
    opacity: 1;

    position: fixed;
    inset: 0 0 auto;

    height: 150px;

    background-color: #0d0d0d99;

    filter: blur(20px);

    transition: opacity .4s ease
}

section.g {
    opacity: 1
}

/* j */

section.j {
    position: fixed;
    inset: calc(15px + env(safe-area-inset-top)) 22vw auto;

    display: flex;
    justify-content: space-between;

    transition: opacity .15s cubic-bezier(.16, 1, .3, 1)
}

body:has(section.e.q) section.j {
    opacity: 0
}

/* c */

section.c {
    pointer-events: auto;

    border-radius: 25px;
    outline: 3px solid #ffffff0d;

    background-color: #131313
}

section.c svg {
    display: block
}

/* 2 obj */

section.u {
    padding: 21px 9px 9px
}

section.u img+img {
    margin: -12px 0 0 -8px;

    clip-path: path("M20 0v20h-9.09A12.5 12.5 0 0 0 .01 9.09L0 0h20Z")
}

/* b */

section.b {
    pointer-events: auto;

    padding: 10px;

    border-radius: 50%;
    outline: 3px solid #ffffff0d;

    background-color: #131313
}

section.b img {
    border-radius: 50%
}

/* - */

img[data-src] {
    opacity: 0
}

img {
    opacity: 1;

    transition: opacity .4s cubic-bezier(.4, 0, .25, 1)
}

/* - */

::selection {
    background: #fff
}

::-webkit-scrollbar {
    display: none
}
