body {
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;

	font-family: system-ui;

	cursor: default
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
hr,
pre,
figure,
blockquote {
	margin: 0
}

ul,
ol,
select {
	padding: 0
}

ul {
	list-style: none
}

img,
video {
	display: block
}

img {
	-webkit-user-drag: none
}

a {
	-webkit-touch-callout: none;
	-webkit-user-drag: none
}

a,
span,
button,
input,
select,
textarea {
	-webkit-tap-highlight-color: transparent
}

input,
select,
textarea,
progress {
	appearance: none
}

input,
select,
textarea,
hr {
	border: none
}

button,
input,
select,
textarea {
	outline: none
}

input {
	box-sizing: border-box
}

a,
u {
	text-decoration: none
}

a,
mark {
	color: inherit
}
