body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
figure {
	margin: 0
}

body {
	background-color: var(--col-b);

	-webkit-user-select: none;
	-webkit-text-size-adjust: none
}

ul {
	padding: 0;

	list-style: none
}

img,
video {
	pointer-events: none;

	display: block
}

a {
	-webkit-touch-callout: none;
	-webkit-user-drag: none
}

a,
span,
input {
	-webkit-tap-highlight-color: transparent
}

input,
select,
textarea,
progress {
	-webkit-appearance: none
}

button,
input,
select,
textarea,
hr {
	border: none
}

button,
input,
select,
textarea {
	outline: none
}

select {
	background: none
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
time,
address,
blockquote,
textarea,
figcaption {
	font: 400 12px/1.3 system-ui
}

a,
u {
	text-decoration: none
}

b {
	font-weight: 600
}

sup,
sub {
	font-size: 9px
}

a,
mark {
	color: inherit
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
time,
address,
blockquote,
textarea {
	color: var(--col-h)
}

p,
time,
figcaption,
address {
	color: var(--col-p)
}

::-webkit-scrollbar {
	display: none
}
