body {
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;

	font-family: system-ui
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure {
	margin: 0
}

ul,
ol,
select {
	padding: 0
}

ul {
	list-style: none
}

img,
video {
	display: block
}

a {
	-webkit-touch-callout: none;
	-webkit-user-drag: none
}

a,
span,
button,
input,
select,
textarea {
	-webkit-tap-highlight-color: transparent
}

input,
select,
textarea,
progress {
	-webkit-appearance: none
}

button,
input,
select,
textarea,
hr {
	border: none
}

button,
input,
select,
textarea {
	outline: none
}

a,
u,
ins {
	text-decoration: none
}

a,
mark {
	color: inherit
}

::-webkit-scrollbar {
	display: none
}
