.banner {
	border-radius: 11px;
	background-image: linear-gradient(to bottom, #55adff, #457adb)
}
.banner {
	padding: 2em;
}
.banner ul li:first-child a div:last-child div {
	height: 200px;
	border-radius: 5px;
    box-shadow: inset 0 0 0 .5px var(--transparency-2);
    background: center/cover
}