* {
	margin: 0;
	padding: 0;

	vertical-align: top;
	box-sizing: border-box;

	-webkit-text-size-adjust: 100%;

	font: normal 400 12px/1.33337 "-apple-system", "Seravek", "Futura", "Galvji", "Segoe UI", "Damascus", "Iowan Old Style", "American Typewriter", "Courier New", "Verdana", "Thonburi", "Avenir", "Arial Hebrew", "Apple Color Emoji", "Avenir Book", "Charter Black", "Hiragino Sans W3", "Helvetica", "Hiragino Sans W3", "Palatino", "Papyrus", "Rockwell", "Zapf Dingbats", "Zapfino", "Verdana", "Trebuchet MS", "Balega", "Bebas Neue", "Euphemia UCAS", "Carlito", "Druk Wide Medium", "Hoefler Text", "Gill Sans", "Menlo", "BlinkMacSystemFont";
	letter-spacing: -.01em;

	-webkit-font-smoothing: antialiased
}
*:not(input) {
	-webkit-user-select: none
}

img {
	-webkit-touch-callout: none
}
a, strong, b, sup, sub, u, ins, del, i, s, mark, small, q, em, span, time {
	font: inherit
}
a, u {
	text-decoration: none
}
ul, ol {
	list-style: none
}
input, button, hr {
	border: none
}
input, button {
	outline: none
}
button, span {
	cursor: pointer
}
hr {
	border-top: .1px solid var(--gray-7)
}
sup, sub {
	font-size: 9px
}
strong, b {
	font-weight: 600
}
em {
	font-style: italic
}
time {
	text-transform: uppercase
}
a, span {
	-webkit-tap-highlight-color: transparent
}

/* - */

::-webkit-scrollbar {
	display: none
}
:lang(ru-RU) {
	quotes: "\00ab" "\00bb"
}
:lang(en-US) {
	quotes: "\201c" "\201d"
}

/* - */

body {
	background-color: var(--gray-0)
}
h1, h2, h3, h4, h5, h6, span {
	color: var(--gray-3)
}
p, time {
	color: var(--gray-5)
}
a {
	color: var(--blue-1)
}

/* - */

main.reference a div h5 {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}
.includes h5, aside > div:last-child ul:last-child a h5, main.reference a div p {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden
}

/* - */

iframe {
	z-index: 10;
	position: fixed;

	width: 100vw;
	height: 100vh
}

/* - - - - - - - - - - - - - - - - - - - - - */

header * {
	font: normal 900 32px/1 "-apple-system", "Segoe UI"
}
header time {
	opacity: .6
}

/* - - - - - - - - - - - - - - - - - - - - - */

footer {
	padding-top: 2em;
	padding-bottom: env(safe-area-inset-bottom);

	background-color: var(--gray-8)
}
footer > div {
	padding: 2em 0 1em
}