* {
	margin: 0;
	padding: 0;

	vertical-align: top;
	box-sizing: border-box;

	-webkit-text-size-adjust: 100%;

	font: normal 400 12px/1.33337 -apple-system, BlinkMacSystemFont, "Segoe UI";
	letter-spacing: -.01em;

	-webkit-font-smoothing: antialiased
}
*:not(input) {
	-webkit-user-select: none
}

img {
	-webkit-touch-callout: none
}
a, strong, b, sup, sub, u, ins, del, i, s, mark, small, q, em, span, time {
	font: inherit
}
a, u {
	text-decoration: none
}
ul, ol {
	list-style: none
}
input, button, hr {
	border: none
}
input, button {
	outline: none
}
button, span {
	cursor: pointer
}
hr {
	border-top: .1px solid var(--gray-7)
}
sup, sub {
	font-size: 9px
}
strong, b {
	font-weight: 600
}
em {
	font-style: italic
}
a, span {
	-webkit-tap-highlight-color: transparent
}

/* - */

::-webkit-scrollbar {
	display: none
}
:lang(ru-RU) {
	quotes: "\00ab" "\00bb"
}
:lang(en-US) {
	quotes: "\201c" "\201d"
}

/* - */

body {
	background-color: var(--gray-0)
}
h1, h2, h3, h4, h5, h6, span {
	color: var(--gray-3)
}
p, time {
	color: var(--gray-5)
}
a {
	color: var(--blue-1)
}

/* - */

main.reference a div h5 {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}
.includes h5, main.reference a div p {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden
}

/* - */

iframe {
	z-index: 10;
	position: fixed;

	width: 100vw;
	height: 100vh
}

/* - - - - - - - - - - - - - - - - - - - - - */

header h1 {
	text-transform: uppercase;
	font: normal 900 32px/1 -apple-system, BlinkMacSystemFont, "Segoe UI";
	letter-spacing: -.024em;

	background: linear-gradient(to right, var(--gray-3) 1cm, #54575e 5cm);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent
}

/* - - - - - - - - - - - - - - - - - - - - - */

section {
	margin-top: 2.7cm
}

section > h2 {
	margin-bottom: .5em;

	text-transform: uppercase;
	font: normal 800 24px/1.16667 -apple-system, BlinkMacSystemFont, "Segoe UI";
	letter-spacing: -.024em
}

/* - - - - - - - - - - - - - - - - - - - - - */

footer {
	margin-top: 2cm;
	padding-bottom: env(safe-area-inset-bottom);

	background-color: var(--gray-8)
}
footer > div {
	padding: 1em 0
}