.includes > h2 {
	margin-bottom: .5em;

	font: normal 800 24px/1.16667 -apple-system, BlinkMacSystemFont, "Segoe UI";
	letter-spacing: -.024em
}

.includes > a {
	display: block;

	padding: .5em 0;

	font: normal 400 17px/1.23536 -apple-system, BlinkMacSystemFont, "Segoe UI";
	letter-spacing: 0;

	border-width: .1px 0;
	border-style: solid;
	border-color: var(--gray-7)
}

/* - - - - - - - - - - - - - - - - - - - - - */

.includes ul a {
	border-radius: 5px
}

.includes ul li:nth-child(-n+3) a {
	display: block
}/* - */
.includes ul li+li:nth-child(-n+3) {
	width: 47.5%
}/* - */
.includes ul li:nth-child(2) {
	float: left
}/* - */
.includes ul li:nth-child(3) {
	float: right
}/* - */
.includes ul li:nth-child(4) {
	clear: right
}/* - */
.includes ul li:nth-child(n+4) a {
	display: flex;
	align-items: center
}

/* - */

.includes ul li:nth-child(-n+3) a > div:last-child {
	margin: 1em 0
}/* - */
.includes ul li:nth-child(n+4) a > div:first-child {
	height: 135px;

	display: inherit;
	flex-wrap: wrap-reverse;
	align-items: inherit
}

.includes ul a div:first-child time {
	font: normal 600 11px/1.36364 -apple-system, BlinkMacSystemFont, "Segoe UI";
	letter-spacing: -.008em
}
.includes ul li:first-child a div:first-child h5 {
	font-size: 19px
}
.includes ul a div:first-child h5 {
	font: normal 700 17px/1.2 HelveticaNeue-CondensedBold, -apple-system, BlinkMacSystemFont, "Segoe UI";
	letter-spacing: -.024em
}

.includes ul li:nth-child(n+5) a > div:first-child {
	border-top: .1px solid var(--gray-7)
}

/* - */

.includes ul li:nth-child(n+4) a > div:last-child {
	margin-left: 1.3em
}

/* - */

.includes ul li:first-child a div:last-child div {
	height: 220px
}/* - */
.includes ul li+li:nth-child(-n+3) a div:last-child div {
	padding-top: 75%
}/* - */
.includes ul li:nth-child(n+4) a div:last-child div {
	width: 120px;
	height: 120px
}

/* - */

.includes ul a div:last-child div {
	border-radius: 5px;
	box-shadow: inset 0 0 0 .5px var(--transparency-2);
	background: center/cover
}