aside > * {
	margin: 0 auto;
	width: 35%
}

header {
    padding: 5em 0 1em
}
header ul, main ul, section {
    margin: 0 auto
}

/* - */

@media screen and (min-width: 1024px) {
    header ul, section {
        width: 980px
    }
}

@media screen and (max-width: 1024px) {
    aside > * {
        width: 450px
    }

    header {
        padding: 4em 22px 1em
    }
    @media screen and (orientation: landscape) {
        header {
            padding-left: max(22px, env(safe-area-inset-left));
            padding-right: max(22px, env(safe-area-inset-right))
        }
    }

    main li:first-child {
        padding-left: 22px
    }
    main li:last-child {
        padding-right: 22px
    }
    @media screen and (orientation: landscape) {
        main li:first-child {
            padding-left: max(22px, env(safe-area-inset-left))
        }
        main li:last-child {
            padding-right: max(22px, env(safe-area-inset-right))
        }
    }

    section {
        width: 692px
    }

    .includes ul {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px
    }
}

/* - */

@media screen and (min-width: 768px) {
    main ul {
        width: 550px
    }
    main a {
        transition: background-color .5s ease 0s
    }
    main a:hover {
        background-color: #00000025;
    
        transition: background-color .3s ease 0s
    }

    .includes a {
        position: relative
    }
    .includes a::before {
        position: absolute;
        content: "";

        display: block;
        
        inset: 0;
        
        width: 100%;
        height: 100%;
    
        border-radius: 11px;
        
        transition: all 0.3s linear 0s
    }
    .includes a:hover::before {
        transition: all 0.3s linear 0s;

        background-color: #00000034
    }
}

@media screen and (max-width: 768px) {
    aside > div:first-child {
        margin-top: 3em
    }
    aside > *, section {
        width: 366px
    }

    blockquote p {
        padding: 9px 3em
    }

    header {
        padding: 2em 16px 1em
    }

    main li:first-child {
        padding-left: 16px
    }
    main li:last-child {
        padding-right: 16px
    }

    .includes, footer {
        margin-top: 1cm
    }
    .includes ul {
        grid-template-columns: 1fr;
        gap: 0
    }
}

/* - */

@media screen and (max-width: 428px) {
    aside > div:first-child {
        margin-top: 16px
    }

    aside > *, section {
        width: 90%
    }
}