aside > * {
	margin: 0 auto;
	width: 35%
}

header {
    padding-top: 5em
}
header, main ul, section, footer > div {
    margin: 0 auto
}

/* - */

@media screen and (min-width: 1024px) {
    header, section, footer > div {
        width: 980px
    }
}

@media screen and (max-width: 1024px) {
    aside > * {
        width: 450px
    }

    header {
        padding-top: 4em
    }
    @media screen and (orientation: landscape) {
        header {
            padding-left: max(22px, env(safe-area-inset-left));
            padding-right: max(22px, env(safe-area-inset-right))
        }
    }

    main li:first-child {
        padding-left: 22px
    }
    main li:last-child {
        padding-right: 22px
    }
    @media screen and (orientation: landscape) {
        main li:first-child {
            padding-left: max(22px, env(safe-area-inset-left))
        }
        main li:last-child {
            padding-right: max(22px, env(safe-area-inset-right))
        }
    }

    section, footer > div {
        width: 692px
    }

    .includes ul {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px
    }
}

/* - */

@media screen and (min-width: 768px) {
    main ul {
        width: 550px
    }
    main a {
        transition: background-color .5s ease 0s
    }
    main a:hover {
        background-color: #00000025;
    
        transition: background-color .3s ease 0s
    }

    .includes a {
        position: relative
    }
    .includes a::before {
        position: absolute;
        content: "";

        display: block;
        
        inset: 0;
        
        width: 100%;
        height: 100%;
    
        border-radius: 11px;
        
        transition: all 0.3s linear 0s
    }
    .includes a:hover::before {
        transition: all 0.3s linear 0s;

        background-color: #00000034
    }
}

@media screen and (max-width: 768px) {
    aside > div:first-child {
        margin-top: 3em
    }
    aside > *, header, section {
        width: 366px
    }

    blockquote p {
        padding: 9px 3em
    }

    header {
        padding-top: 1cm
    }

    main li:first-child {
        padding-left: 20.71px
    }
    main li:last-child {
        padding-right: 20.71px
    }

    section, footer {
        margin-top: 1cm
    }
    .includes ul {
        grid-template-columns: 1fr;
        gap: 0
    }
}

/* - */

@media screen and (max-width: 428px) {
    aside > div:first-child {
        margin-top: 16px
    }

    aside > *, header, section, footer > div {
        width: 90%
    }

    main.reference a {
        width: 372.59px
    }
}

/* - */

@media screen and (max-width: 414px) {
    main.reference a {
        width: 372.59px
    }
}

/* - */

@media screen and (max-width: 390px) {
    main.reference a {
        width: 351px;
    }
}

/* - */

@media screen and (max-width: 320px) {
    main.reference a {
        width: 288px
    }

    .includes ul li:first-child a div:last-child div {
        height: 150px
    }
    .includes ul li+li a div:last-child div {
        width: 90px;
        height: 90px
    }
}