.no-scroll {
	height: 100%;
	overflow: hidden
}/* - */

aside > div:last-child ul li u {
	color: var(--gray-3)
}/* - */

/* - - - - - - - - - - - - - - - - - - - - - */

aside {
	z-index: 9;

	position: fixed;

	width: 100%;
	height: 100%;

	opacity: 0;
	pointer-events: none;

	background-color: var(--gray-0);

	overflow: hidden scroll;

	transition: opacity .5s ease 0s
}
.visible {
	opacity: 1;
	pointer-events: auto
}

/* - - - - - - - - - - - - - - - - - - - - - */

aside > div:first-child {
	margin-top: 5em
}

/* - */

aside > div:first-child div:first-child {
	display: flex;
	justify-content: space-between;

	height: 3em;
	
	margin: 2em 0 .6em;

	transition: all .4s ease 0s, opacity .2s ease 0s
}
.disappear {
	height: 0 !important;
	margin: 0 !important;
	opacity: 0 !important;
	pointer-events: none !important
}

/* - */

aside > div:first-child div:first-child h4 {
	align-self: flex-end;

	font: normal 700 28px -apple-system, BlinkMacSystemFont, "Segoe UI";
	letter-spacing: .007em
}

/* - */

aside > div:first-child div:first-child span {
	align-self: flex-end
}
aside > div:first-child div:first-child span::before {
	font-size: 23px;

	content: "\f314"
}

/* - - - - - - - - - - - - - - - - - - - - - */

aside > div:first-child div:last-child {
	display: flex
}

/* - */

aside form {
	width: 100%
}

/* - */

aside form::before {
	content: "\ea1d";

	position: absolute;

	font-size: 1.7em;

	margin: 5px 0 0 5px;

	color: var(--gray-2)
}
.load::before {
	content: "";

	width: 20px;
	height: 20px;

	margin: 5px 0 0 1px;

	background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='25px' height='25px' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3e%3cg transform='rotate(0 50 50)'%3e%3crect x='46.5' y='22.5' rx='3.5' ry='4.25' width='7' height='17' fill='%238d8d93'%3e%3canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='0.78125s' begin='-0.68359375s' repeatCount='indefinite'%3e%3c/animate%3e%3c/rect%3e%3c/g%3e%3cg transform='rotate(45 50 50)'%3e%3crect x='46.5' y='22.5' rx='3.5' ry='4.25' width='7' height='17' fill='%238d8d93'%3e%3canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='0.78125s' begin='-0.5859375s' repeatCount='indefinite'%3e%3c/animate%3e%3c/rect%3e%3c/g%3e%3cg transform='rotate(90 50 50)'%3e%3crect x='46.5' y='22.5' rx='3.5' ry='4.25' width='7' height='17' fill='%238d8d93'%3e%3canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='0.78125s' begin='-0.48828125s' repeatCount='indefinite'%3e%3c/animate%3e%3c/rect%3e%3c/g%3e%3cg transform='rotate(135 50 50)'%3e%3crect x='46.5' y='22.5' rx='3.5' ry='4.25' width='7' height='17' fill='%238d8d93'%3e%3canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='0.78125s' begin='-0.390625s' repeatCount='indefinite'%3e%3c/animate%3e%3c/rect%3e%3c/g%3e%3cg transform='rotate(180 50 50)'%3e%3crect x='46.5' y='22.5' rx='3.5' ry='4.25' width='7' height='17' fill='%238d8d93'%3e%3canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='0.78125s' begin='-0.29296875s' repeatCount='indefinite'%3e%3c/animate%3e%3c/rect%3e%3c/g%3e%3cg transform='rotate(225 50 50)'%3e%3crect x='46.5' y='22.5' rx='3.5' ry='4.25' width='7' height='17' fill='%238d8d93'%3e%3canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='0.78125s' begin='-0.1953125s' repeatCount='indefinite'%3e%3c/animate%3e%3c/rect%3e%3c/g%3e%3cg transform='rotate(270 50 50)'%3e%3crect x='46.5' y='22.5' rx='3.5' ry='4.25' width='7' height='17' fill='%238d8d93'%3e%3canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='0.78125s' begin='-0.09765625s' repeatCount='indefinite'%3e%3c/animate%3e%3c/rect%3e%3c/g%3e%3cg transform='rotate(315 50 50)'%3e%3crect x='46.5' y='22.5' rx='3.5' ry='4.25' width='7' height='17' fill='%238d8d93'%3e%3canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='0.78125s' begin='0s' repeatCount='indefinite'%3e%3c/animate%3e%3c/rect%3e%3c/g%3e%3c/svg%3e") no-repeat
}

/* - - - - - - - - - - - - - - - - - - - - - */

input[type="search"] {
	-webkit-appearance: none;

	width: 100%;
	height: 34px;

	border-radius: 10px;

	padding: 0 6px 0 26px;

	font: normal 400 16px -apple-system, BlinkMacSystemFont, "Segoe UI";
	letter-spacing: -.022em;

	background-color: var(--gray-1)
}
input[type="search"]::-webkit-input-placeholder {
	color: var(--gray-2)
}
input[placeholder] {
	color: var(--gray-3)
}
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: inherit;

	width: 17px;
	height: 17px;

	cursor: pointer
}
@media screen and (prefers-color-scheme: light) {
    input[type="search"]::-webkit-search-cancel-button {
        background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' viewBox='0 0 2397 1497' fill='%238d8d93' %3e%3cpath d='M1199-298Q990-298 805.50-218Q621-138 480 3Q339 144 259 328.50Q179 513 179 722Q179 931 259 1115.50Q339 1300 479.50 1441Q620 1582 804.50 1662Q989 1742 1198 1742Q1407 1742 1592 1662Q1777 1582 1918 1441Q2059 1300 2139 1115.50Q2219 931 2219 722Q2219 513 2139 328.50Q2059 144 1918 3Q1777-138 1592.50-218Q1408-298 1199-298M840 278Q877 278 900 303L1198 602L1497 303Q1522 278 1557 278Q1592 278 1617 303Q1642 328 1642 363Q1642 396 1617 423L1318 721L1618 1022Q1643 1046 1643 1080Q1643 1115 1618 1139.50Q1593 1164 1558 1164Q1524 1164 1500 1139L1198 839L898 1138Q876 1162 840 1162Q805 1162 780 1138Q755 1114 755 1079Q755 1044 780 1021L1079 721L780 421Q755 398 755 363Q755 328 780 303Q805 278 840 278Z'/%3e%3c/svg%3e") center no-repeat
    }
}
@media screen and (prefers-color-scheme: dark) {
    input[type="search"]::-webkit-search-cancel-button {
        background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' viewBox='0 0 2397 1497' fill='%236e6e77' %3e%3cpath d='M1199-298Q990-298 805.50-218Q621-138 480 3Q339 144 259 328.50Q179 513 179 722Q179 931 259 1115.50Q339 1300 479.50 1441Q620 1582 804.50 1662Q989 1742 1198 1742Q1407 1742 1592 1662Q1777 1582 1918 1441Q2059 1300 2139 1115.50Q2219 931 2219 722Q2219 513 2139 328.50Q2059 144 1918 3Q1777-138 1592.50-218Q1408-298 1199-298M840 278Q877 278 900 303L1198 602L1497 303Q1522 278 1557 278Q1592 278 1617 303Q1642 328 1642 363Q1642 396 1617 423L1318 721L1618 1022Q1643 1046 1643 1080Q1643 1115 1618 1139.50Q1593 1164 1558 1164Q1524 1164 1500 1139L1198 839L898 1138Q876 1162 840 1162Q805 1162 780 1138Q755 1114 755 1079Q755 1044 780 1021L1079 721L780 421Q755 398 755 363Q755 328 780 303Q805 278 840 278Z'/%3e%3c/svg%3e") center no-repeat
    }
}

/* - */

aside > div:first-child div:last-child span {
	align-self: center;

	font: normal 400 17px -apple-system, BlinkMacSystemFont, "Segoe UI";
	letter-spacing: -.022em;

	width: 0;
	margin-left: 0;
	opacity: 0;
	
	color: var(--blue-1);

	pointer-events: none;

	transition: all .4s ease 0s
}
.hide {
	width: 79px !important;
	margin-left: .6em !important;
	opacity: 1 !important;
	pointer-events: auto !important
}

/* - - - - - - - - - - - - - - - - - - - - - */

aside > div:last-child {
	margin-top: 3em;
	margin-bottom: 3em
}

/* - */

aside > div:last-child ul:first-child li a {
	display: block;
	padding: 10px 0
}
aside > div:last-child ul:first-child li a p {
	font: normal 400 17px -apple-system, BlinkMacSystemFont, "Segoe UI";
	letter-spacing: -.022em
}
aside > div:last-child ul:first-child li+li {
	border-top: .1px solid var(--gray-7)
}

/* - - - - - - - - - - - - - - - - - - - - - */

aside > div:last-child ul:last-child a {
	display: flex;
	align-items: center
}

aside > div:last-child ul:last-child li+li a > div:last-child {
	border-top: .1px solid var(--gray-7)
}

aside > div:last-child ul:last-child a > div:first-child {
	margin-right: 15px
}
aside > div:last-child ul:last-child a > div:first-child div {
	width: 80px;
	height: 42px;

	border-radius: 5px;
	box-shadow: inset 0 0 0 .5px var(--transparency-2);

	background: center/cover
}

aside > div:last-child ul:last-child a > div:last-child {
	padding: 1em 0
}
aside > div:last-child ul:last-child a time {
	font: normal 600 11px/1.36364 -apple-system, BlinkMacSystemFont, "Segoe UI"
}
aside > div:last-child ul:last-child a h5 {
	font: normal 600 17px/1.23536 -apple-system, BlinkMacSystemFont, "Segoe UI"
}