.includes > h2 {
	margin-bottom: .5em;

    font: normal 800 32px/1.125 system-ui;
    letter-spacing: -.024em
}

.includes > a {
	display: block;

	padding: .5em 0;

	font: normal 400 17px/1.23536 system-ui;
	letter-spacing: 0;

	border-width: .1px 0;
	border-style: solid;
	border-color: var(--gray-7)
}

/* - - - - - - - - - - - - - - - - - - - - - */

.includes ul a {
	border-radius: 5px
}

.includes ul li a {
	display: flex;
	align-items: center
}

/* - */

.includes ul li a > div:first-child {
	height: 135px;

	display: inherit;
	flex-wrap: wrap;
	align-items: inherit
}

.includes ul a div:first-child time {
	font: normal 600 11px/1.36364 system-ui;
	letter-spacing: -.008em
}
.includes ul a div:first-child h5 {
	font: normal 700 17px/1.2 system-ui;
	letter-spacing: -.024em
}

.includes ul li+li a > div:first-child {
	border-top: .1px solid var(--gray-7)
}

/* - */

.includes ul li a > div:last-child {
	margin-left: 1.3em
}

/* - */

.includes ul li a div:last-child div {
	width: 120px;
	height: 120px
}

/* - */

.includes ul a div:last-child div {
	border-radius: 5px;
	box-shadow: inset 0 0 0 .5px var(--soft-2);
	background: center/cover
}