@media screen and (prefers-color-scheme: light) {
    :root {
        --transparency-1: #fafafab3;
        --transparency-2: #8080801a;

        --gray-0: white;/* #f5f5f7 */
        --gray-1: #e3e3e8;
        --gray-2: #8d8d93;
        --gray-3: #1d1d1f;
        --gray-4: white;
        --gray-5: #84848b;
        --gray-6: #e8e8ed;
        --gray-7: #d2d2d7;
        --gray-8: #f0f0f2;
        --gray-9: #63636e;

        --blue-1: #06c;
    }
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --transparency-1: #1d1d1fb3;
        --transparency-2: #d4d4d41a;

        --gray-0: black;
        --gray-1: #1c1c1e;
        --gray-2: #6e6e77;
        --gray-3: #f5f5f7;
        --gray-4: #1d1d1f;
        --gray-5: #8e8e93;
        --gray-6: #121215;
        --gray-7: #212125;
        --gray-8: #17171d;
        --gray-9: #8e8e8d;

        --blue-1: #2997ff;
    }
}