* {
	margin: 0;
	padding: 0;

	vertical-align: top;
	box-sizing: border-box;

	-webkit-user-select: none;
	-webkit-text-size-adjust: 100%;

	font: normal 400 12px/1.33337 -apple-system, BlinkMacSystemFont, "Segoe UI";
	letter-spacing: -.01em;

	-webkit-font-smoothing: antialiased
}

img {
	width: 100%;
	-webkit-touch-callout: none
}
a, strong, b, sup, sub, u, ins, del, i, s, mark, small, q, em, span, time {
	font: inherit
}
a, u {
	text-decoration: none
}
ul, ol {
	list-style: none
}
input, button, hr {
	border: none
}
input, button {
	outline: none
}
button, span {
	cursor: pointer
}
hr {
	border-top: .1px solid var(--gray-9)
}
sup, sub {
	font-size: 9px
}
strong, b {
	font-weight: 600
}
em {
	font-style: italic
}
.bb ul li a {
	-webkit-tap-highlight-color: transparent
}

/* - */

::-webkit-scrollbar {
	display: none
}
:lang(ru-RU) {
	quotes: "\00ab" "\00bb"
}
:lang(en-US) {
	quotes: "\201c" "\201d"
}

/* - */

body {
	background-color: var(--gray-0)
}
h1, h2, h3, h4, h5, h6, span {
	color: var(--gray-1)
}
p, time {
	color: var(--gray-13)
}
a {
	color: var(--blue-1)
}

/* - */

main.bb div:last-child h4, main.bb div:last-child p, main.nn a > h6 {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}
main.nn a > div:last-child div p, main.kk a > div:last-child p, main.kk a > div:last-child h4 {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden
}

/* - - - - - - - - - - - - - - - - - - - - - */

header {
	position: relative;

	overflow: hidden;

	height: 15cm
}
header div {
	position: absolute;

	bottom: 0;

    width: 100%;

    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);

    background-color: var(--transparency-1)
}
header div section {
	padding: 2em 0
}

header div p {
	font: normal 600 12px/1.14286 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: 0;

	opacity: .5;

	color: var(--gray-8)
}
header div h1 {
	font: normal 700 32px/1.14286 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: 0;

	color: var(--gray-8)
}
header div h5 {
	padding-top: 1em;

	font: normal 600 15px/1.14286 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: 0;

	opacity: .7;

	color: var(--gray-8)
}

/* - - - - - - - - - - - - - - - - - - - - - */

section {
	margin: 0 auto;
	width: 90%
}

/* - - - - - - - - - - - - - - - - - - - - - */

section.pp {
	margin-top: 3em
}

section.pp h3 {
	font: normal 700 21px/1.14286 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: 0;

	margin: .5em 0
}

/* - - - - - - - - - - - - - - - - - - - - - */

main ul {
    overflow-x: scroll;
    scroll-snap-type: x mandatory
}
main ul li {
	scroll-snap-align: center
}

/* - */

main.tt ul {
	display: grid;
    grid-auto-flow: column;
    column-gap: .9em
}

main li:first-child, main.kk li:nth-child(-n+3) {
    padding-left: 20.705px
}
main li:last-child {
    padding-right: 20.705px
}

main.bb ul li a {
	display: block;
	width: 180.5px
}

main.bb li div:first-child, main.nn a > div:last-child, main.kk a > div:first-child {
	position: relative
}
main.bb li div:first-child::before {
	z-index: 1;
	position: absolute;

	content: "";

	width: 100%;
	height: 100%;

	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 90 90'%3E%3Cpath d='m58.50261992074283,0.2500000071760203 c8.946648866150849,0 13.419978344327118,0 18.290922310489904,1.4911099465361155 c5.268578634552694,1.8887345568512417 9.443682111436535,6.063838371071356 11.3324266058852,11.332427521512463 c1.5905184931562342,4.87095444992347 1.5905184931562342,9.443682874458718 1.5905184931562342,18.390332463472898 l0,27.03876611730136 c0,8.94664958901418 0,13.419979428622524 -1.4911098260587583,18.29092378834348 c-1.8887344042469696,5.268579060238598 -6.0638378811308105,9.443682874458718 -11.3324266058852,11.332427521512463 c-4.97036272346196,1.5905186216655243 -9.443682111436535,1.5905186216655243 -18.390330977587386,1.5905186216655243 l-27.038763932647498,0 c-8.946648866150849,0 -13.419978344327118,0 -18.290922310489904,-1.4911099465361155 c-5.36798730165017,-1.9881432319806505 -9.443682111436535,-6.063838371071356 -11.431825182780978,-11.431826106439365 c-1.4911098260587583,-4.771545774794063 -1.4911098260587583,-9.24487561440241 -1.4911098260587583,-18.29092378834348 l0,-27.03876611730136 c0,-8.94664958901418 0,-13.419979428622524 1.4911098260587583,-18.29092378834348 c1.9881430713444448,-5.268579060238598 6.0638378811308105,-9.443682874458718 11.431825182780978,-11.332427521512463 c4.7715453892670086,-1.5905186216655243 9.244874867443277,-1.5905186216655243 18.290922310489904,-1.5905186216655243 l27.038763932647498,0 z' fill-opacity='0' opacity='.15' stroke='%23808080' stroke-width='.5'/%3E%3C/svg%3E") no-repeat
}
main.nn a > div:last-child::before, main.kk a > div:first-child::before {
	z-index: 1;
	position: absolute;

	content: "";

	width: 100%;
	height: 100%;

	background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 90 90'%3e%3cpath d='m58.27126717463562,1.087699937579592 c8.782459652001858,0 13.173694430515766,0 17.955246661970616,1.463744926171303 c5.171889494447708,1.8540722841382031 9.270371325716972,5.952554115407467 11.124453514881134,11.124453514881134 c1.5613292419195175,4.781562136480809 1.5613292419195175,9.270371325716972 1.5613292419195175,18.05283097771883 l0,26.542547587502 c0,8.782459652001858 0,13.173694430515766 -1.463744926171303,17.955246661970616 c-1.8540722841382031,5.171889494447708 -5.952554115407467,9.270371325716972 -11.124453514881134,11.124453514881134 c-4.8791464522290235,1.5613292419195175 -9.270371325716972,1.5613292419195175 -18.05283097771883,1.5613292419195175 l-26.542547587502,0 c-8.782459652001858,0 -13.173694430515766,0 -17.955246661970616,-1.463744926171303 c-5.269473810195923,-1.9516565998864173 -9.270371325716972,-5.952554115407467 -11.22202792560339,-11.22202792560339 c-1.463744926171303,-4.6839778207325935 -1.463744926171303,-9.075212599246502 -1.463744926171303,-17.955246661970616 l0,-26.542547587502 c0,-8.782459652001858 0,-13.173694430515766 1.463744926171303,-17.955246661970616 c1.9516565998864173,-5.171889494447708 5.952554115407467,-9.270371325716972 11.22202792560339,-11.124453514881134 c4.6839778207325935,-1.5613292419195175 9.075212599246502,-1.5613292419195175 17.955246661970616,-1.5613292419195175 l26.542547587502,0 z' fill-opacity='0' opacity='.15' stroke='%23808080' stroke-width='2'%3e%3c/path%3e%3c/svg%3e") no-repeat
}

main.bb img, main.nn a > div:last-child img, main.kk a > div:first-child img {
    -webkit-mask: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 90 90'%3e%3cpath d='m58.6,0c9,0 13.5,0 18.4,1.5c5.3,1.9 9.5,6.1 11.4,11.4c1.6,4.9 1.6,9.5 1.6,18.5l0,27.2c0,9 0,13.5 -1.5,18.4c-1.9,5.3 -6.1,9.5 -11.4,11.4c-5,1.6 -9.5,1.6 -18.5,1.6l-27.2,0c-9,0 -13.5,0 -18.4,-1.5c-5.4,-2 -9.5,-6.1 -11.5,-11.5c-1.5,-4.8 -1.5,-9.3 -1.5,-18.4l0,-27.2c0,-9 0,-13.5 1.5,-18.4c2,-5.3 6.1,-9.5 11.5,-11.4c4.8,-1.6 9.3,-1.6 18.4,-1.6l27.2,0z'/%3e%3c/svg%3e") no-repeat
}

/* - */

main.bb li div:last-child {
    margin-top: .8em
}

main.bb div:last-child h6 {
	font: normal 500 14px/1.2 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: -.016em
}
main.bb div:last-child h4 {
	font: normal 400 17px/1.47059 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: 0
}
main.bb div:last-child p {
	font: normal 400 14px/1.2 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: -.016em
}

/* - - - - - - - - - - - - - - - - - - - - - */

main.nn a, main.kk a {
    display: block;
	width: 372.59px;

    border-radius: 5px
}
main.nn a > h6, main.nn a > div:last-child div h4, main.kk a > div:last-child h4 {
    font-size: 14px
}
main.nn a > div:nth-child(2) {
	margin: 1.2em 0;

    height: 185px;
    border-radius: 5px;
    box-shadow: inset 0 0 0 .5px var(--transparency-2);
    background: center/cover
}
main.nn a > div:last-child, main.kk a {
	display: flex;
	align-items: center
}

main.nn a > div:last-child img, main.kk a > div:first-child img {
	width: 65px;
	height: 65px
}

main.nn a > div:last-child div, main.kk a > div:last-child {
	margin-left: .8em
}
main.nn a > div:last-child div h4, main.kk a > div:last-child h4 {
	font: normal 400 15px/1.47059 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: 0
}

/* - - - - - - - - - - - - - - - - - - - - - */

main.kk ul {
	display: grid;
	grid-auto-flow: column;
	grid-template-rows: repeat(3, auto);
    column-gap: .9em
}

main.kk li:nth-child(3n+2) {
	margin: 1.2em 0
}

/* - - - - - - - - - - - - - - - - - - - - - */

@media screen and (prefers-color-scheme: light) {
	:root {
		--transparency-1: #1d1d1f57;
		--transparency-2: #8080801a;
	
		--gray-01: black;
		--gray-0: white;
		--gray-1: #111;
		--gray-2: #e8e8ed;
		--gray-3: #86868b;
		--gray-4: #515154;
		--gray-5: #888;
		--gray-6: #333;
		--gray-7: #1d1d1f;
		--gray-8: #f5f5f7;
		--gray-9: #d2d2d7;
		--gray-10: #666;
		--gray-11: #00000014;
		--gray-12: #f0f0f2;
		--gray-13: #8e8e93;
	
		--blue-1: #06c;
	}
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--transparency-1: #1d1d1fb3;
		--transparency-2: #d4d4d41a;
	
		--gray-01: white;
		--gray-0: black;
		--gray-1: #f3f3f3;
		--gray-2: #1c1c23;
		--gray-3: #63636e;
		--gray-4: #aaaab3;
		--gray-5: #8e8e93;
		--gray-6: #d5d5e2;
		--gray-7: #f5f5f7;
		--gray-8: #17171d;
		--gray-9: #212125;
		--gray-10: #aaaab3;
		--gray-11: #2c2c2e;
		--gray-12: #1a1a21;
		--gray-13: #8e8e93;
	
		--blue-1: #007aff;
	}
}