* {
	margin: 0;
	padding: 0;

	vertical-align: top;
	box-sizing: border-box;

	-webkit-user-select: none;
	-webkit-text-size-adjust: 100%;

	font: normal 400 12px/1.33337 -apple-system, BlinkMacSystemFont, "Segoe UI";
	letter-spacing: -.01em;

	-webkit-font-smoothing: antialiased
}

img, section.kk a {
	-webkit-touch-callout: none
}
a, strong, b, sup, sub, u, ins, del, i, s, mark, small, q, em, span, time {
	font: inherit
}
a, u {
	text-decoration: none
}
ul, ol {
	list-style: none
}
input, button, hr {
	border: none
}
input, button {
	outline: none
}
button, span {
	cursor: pointer
}
hr {
	border-top: .1px solid var(--gray-9)
}
sup, sub {
	font-size: 9px
}
strong, b {
	font-weight: 600
}
em {
	font-style: italic
}
span {
	-webkit-tap-highlight-color: transparent
}

/* - */

::-webkit-scrollbar {
	display: none
}
:lang(ru-RU) {
	quotes: "\00ab" "\00bb"
}
:lang(en-US) {
	quotes: "\201c" "\201d"
}

/* - */

body {
	background-color: var(--gray-0)
}
h1, h2, h3, h4, h5, h6, span {
	color: var(--gray-1)
}
p, time {
	color: var(--gray-13)
}
a {
	color: var(--blue-1)
}

/* - */

.x {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}
.x {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden
}

/* body */

nav, footer li {
    margin: 0 max(env(safe-area-inset-right), 16px) 0 max(env(safe-area-inset-left), 16px)
}

/* 1 */

blockquote {
	overflow: hidden
}

blockquote p {
	text-align: center;

	padding: max(env(safe-area-inset-top), 9px) max(env(safe-area-inset-right), 2em) 9px max(env(safe-area-inset-left), 2em);

	transform: translateY(-100%);

	background-color: var(--blue-1)
}
blockquote *:not(q):not(small) {
	color: #f5f5f7
}

.quote {
	transform: translateY(0);
	transition: transform 2s ease .5s, background-color 1s ease-in-out 3s, color 1s ease-in-out 3s;

	will-change: transform;

	background-color: var(--gray-14);
	color: var(--gray-10)
}
.quote a {
	transition: color 1s ease-in-out 3s;

	color: var(--blue-1)
}

/* 2 */

section {
	margin-top: .5cm
}

/* 3 */

nav {
	padding-top: 1em;

	display: flex;
	justify-content: space-between
}

nav h6 {
	font: normal 600 19px -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: 0
}
nav a {
	font: normal 400 19px -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: 0
}

/* 4 */

section.bb {
	text-align: center;

    background-color: var(--gray-14)
}

section.bb div {
	padding: 2cm .5cm 1.2em
}
section.bb h1 {
    font: normal 700 32px/1.25 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: .012em
}
section.bb div p {
	margin-top: 1.2em;

	font: normal 400 14px/1.4 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: 0
}

section.bb figure {
	margin-top: 1cm;

	height: 5cm;
	
	background: top/cover
}

section.bb div:last-child p {
    font-size: 11px
}

/* 5 */

section.vv {
	text-align: center;

	background-color: var(--gray-9)
}

section.vv > div {
	padding: 2cm .8cm 0
}

section.vv h2 {
	margin-bottom: .4em;

	font: normal 400 28px/1.14286 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: .007em
}
section.vv h6 {
    font: normal 400 14px/1.42859 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: -.016em;

	color: var(--gray-5)
}

section.vv div a {
	margin: 1em 0 2cm;

	display: inline-block;

    font: normal 600 16px -apple-system, BlinkMacSystemFont, "Segoe UI";
	letter-spacing: 0
}

section.vv figure {
	margin-top: 3cm;

	height: 10cm;
	
	background: center/cover
}

/* 5.1 */

figcaption {
	padding-bottom: 2em;

	overflow: hidden
}

figcaption > div {
	display: grid;
	grid-auto-flow: column;

	justify-content: center
}

figcaption > div div {
	margin: .5em;

    position: relative;

	width: 110px
}
figcaption > div div::before {
    z-index: 1;
    position: absolute;

    content: "";

    width: 100%;
    height: 100%;

    background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 90 90'%3e%3cpath d='m58.41868930807106,0.5000030713727028 c8.895362248019133,0 13.3430433720287,0 18.18607392928356,1.482560374669856 c5.238379990500156,1.8779098079151506 9.389549039575751,6.029078856990745 11.267458847490902,11.267458847490902 c1.5813977329811792,4.843030557254862 1.5813977329811792,9.389549039575751 1.5813977329811792,18.284911287594884 l0,26.883761460680045 c0,8.895362248019133 0,13.3430433720287 -1.482560374669856,18.18607392928356 c-1.8779098079151506,5.238379990500156 -6.029078856990745,9.389549039575751 -11.267458847490902,11.267458847490902 c-4.941867915566185,1.5813977329811792 -9.389549039575751,1.5813977329811792 -18.284911287594884,1.5813977329811792 l-26.883761460680045,0 c-8.895362248019133,0 -13.3430433720287,0 -18.18607392928356,-1.482560374669856 c-5.33721734881148,-1.976747166226474 -9.389549039575751,-6.029078856990745 -11.366296205802225,-11.366296205802225 c-1.482560374669856,-4.744193198943537 -1.482560374669856,-9.191874322953105 -1.482560374669856,-18.18607392928356 l0,-26.883761460680045 c0,-8.895362248019133 0,-13.3430433720287 1.482560374669856,-18.18607392928356 c1.976747166226474,-5.238379990500156 6.029078856990745,-9.389549039575751 11.366296205802225,-11.267458847490902 c4.744193198943537,-1.5813977329811792 9.191874322953105,-1.5813977329811792 18.18607392928356,-1.5813977329811792 l26.883761460680045,0 z' fill-opacity='0' opacity='.15' stroke='%23808080' stroke-width='1'/%3e%3c/svg%3e") no-repeat
}

figcaption > div div img {
	width: 100%;

    -webkit-mask: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 90 90'%3e%3cpath d='m58.6,0c9,0 13.5,0 18.4,1.5c5.3,1.9 9.5,6.1 11.4,11.4c1.6,4.9 1.6,9.5 1.6,18.5l0,27.2c0,9 0,13.5 -1.5,18.4c-1.9,5.3 -6.1,9.5 -11.4,11.4c-5,1.6 -9.5,1.6 -18.5,1.6l-27.2,0c-9,0 -13.5,0 -18.4,-1.5c-5.4,-2 -9.5,-6.1 -11.5,-11.5c-1.5,-4.8 -1.5,-9.3 -1.5,-18.4l0,-27.2c0,-9 0,-13.5 1.5,-18.4c2,-5.3 6.1,-9.5 11.5,-11.4c4.8,-1.6 9.3,-1.6 18.4,-1.6l27.2,0z'/%3e%3c/svg%3e") no-repeat
}

/* 6 */

section.pp {
	text-align: center;

	background-color: var(--gray-8)
}

section.pp div {
	padding: 2cm .8cm .5cm
}

section.pp h3 {
    font: normal 400 19px/1.21053 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: .012em;

	color: var(--gray-10)
}
section.pp h2 {
	margin: .2em 0 .4em;

	font: normal 600 28px/1.14286 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: .007em
}
section.pp h6 {
    font: normal 400 14px/1.42859 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: -.016em;

	color: var(--gray-5)
}
section.pp p {
    font-size: 11px
}

section.pp a {
	margin: 4cm 0 1cm;

	display: inline-block;

    font: normal 600 16px -apple-system, BlinkMacSystemFont, "Segoe UI"
}

/* 7 */

section.hh {
	text-align: center
}

section.hh ul {
	display: grid;
    grid-auto-flow: column;
    column-gap: .9em;

	overflow-x: scroll;

    scroll-snap-type: x mandatory;
    scroll-padding: 0 20.69px
}
section.hh ul li {
	scroll-snap-align: start
}

section.hh ul li:first-child {
    padding-left: 20.69px
}
section.hh ul li:last-child {
    padding-right: 20.69px
}

section.hh ul li a {
	position: relative;

    display: block;

	width: 8cm;

	border-radius: 20px
}

section.hh ul li a div {
	z-index: 1;

	position: absolute;

	padding: 2em
}
section.hh ul li a h2 {
	font: normal 600 19px -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: 0;

	color: #f5f5f7
}
section.hh ul li a h6 {
	margin-top: .5em;

    font: normal 400 14px/1.42859 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: -.016em;

	color: var(--gray-5)
}

section.hh ul li a img {
	width: 100%;

    -webkit-mask: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 302.42028 480'%3e%3cpath d='M302.41338,26.03617c-.00347-.944-.01391-1.89138-.04165-2.83535a41.39034,41.39034,0,0,0-.54139-6.174,20.79024,20.79024,0,0,0-1.93653-5.86852,19.72994,19.72994,0,0,0-8.62753-8.62754A20.77042,20.77042,0,0,0,285.40121.59433a41.42491,41.42491,0,0,0-6.17736-.5414c-.90927-.0243-2.26276-.0382-2.83536-.04163-1.72137-.01737-2.995-.01044-3.36634-.007-3.29693.01734-16.96356.0104-26.45525.00347h-9.58049c-1.51415-.01253-2.62393-.00667-2.96544-.00347-.25674.00135-.58315.00251-.95883.00359q-3.08994.00009-6.1799.00027c-1.537-.013-2.66543-.0071-3.01027-.00387-.29259.00155-.67055.00287-1.11635.004Q215.98413.009,209.21255.009l-1.6468-.00117H187.82752c-1.50871-.01247-2.616-.00667-2.9567-.00347-.25666.00138-.58226.00254-.95844.00359Q171.98758.00935,160.0628.009c-.55947-.00036-1.11229-.00078-1.64722-.00117H147.81683q-10.90779.00144-21.81562.001c-3.91272-.00227-7.07957-.00441-8.45172-.00441q-1.18326,0-2.36894.0049Q102.49876.00958,89.817.01037C84.64555.00752,80.23732.00432,78.54834.00432q-1.014,0-2.03.00419c-3.75816-.00221-6.786-.00419-8.119-.00419-1.121,0-2.24538,0-3.36634.007H60.81962c-8.73511.01037-27.479-.007-31.42145-.007-1.121,0-2.24538,0-3.36635.007Q24.6107.01645,23.1965.05292a41.3795,41.3795,0,0,0-6.174.5414A20.75575,20.75575,0,0,0,11.154,2.53079a19.72952,19.72952,0,0,0-8.62753,8.62754A20.79168,20.79168,0,0,0,.59,17.02686a41.38744,41.38744,0,0,0-.54138,6.174C.0243,24.14479.0104,25.0922.007,26.03617,0,27.1571,0,28.28153,0,29.40249V450.60183c0,1.12093,0,2.24539.007,3.36635q.00515,1.42111.04163,2.83532a41.38589,41.38589,0,0,0,.54139,6.174A20.75573,20.75573,0,0,0,2.52652,468.846a19.76115,19.76115,0,0,0,8.62754,8.631,20.85841,20.85841,0,0,0,5.86852,1.933,41.38612,41.38612,0,0,0,6.174.54139c.94394.02774,1.88791.03818,2.83532.04164C27.15282,480,28.27725,480,29.3982,480H64.585c.63509,0,1.27113-.00266,1.90714-.00392.636.00126,1.27209.00392,1.90714.00392h45.3359c.47005,0,.94086-.00239,1.41161-.00293l1.02014.00009c.461.00072.92215.00284,1.38252.00284h67.32133l.13465-.00027q1.61257,0,3.225.00027H234.021l.13352-.00027q1.61305.00018,3.2261.00027h35.64156c1.12095,0,2.24535,0,3.36634-.00694.94741-.00346,1.89138-.0139,2.83536-.04164a41.43189,41.43189,0,0,0,6.17736-.54139,20.87218,20.87218,0,0,0,5.86507-1.933,19.76154,19.76154,0,0,0,8.62753-8.631,20.75447,20.75447,0,0,0,1.93653-5.86853,41.39022,41.39022,0,0,0,.54139-6.174c.02774-.944.03818-1.88791.04165-2.83532.0069-1.121.0069-2.24542.0069-3.36635V29.40249C302.42028,28.28153,302.42028,27.1571,302.41338,26.03617Z'/%3e%3c/svg%3e") no-repeat
}

/* 8 */

section.kk {
	/* margin-left: auto;
	width: 95% */
}

section.kk a {
	display: block;

	padding-left: 5%
}

section.kk h5 {
	padding: 10px 0;

	font: normal 400 19px -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: 0;

	color: inherit
}

section.kk li+li h5 {
	border-top: .1px solid var(--gray-9)
}

/* 9 */

footer {
	margin-top: 2cm;
    padding-bottom: env(safe-area-inset-bottom);
	
    background-color: var(--gray-8)
}
footer ul {
    padding: 1em 0
}
footer li {
    color: var(--gray-3)
}
footer li+li {
	margin-top: 1em
}

/* color */

@media screen and (prefers-color-scheme: light) {
	:root {
		--soft-1: #00000050;
		--soft-2: #8080801a;

		--gray-01: black;
		--gray-0: white;
		--gray-1: #111;
		--gray-2: #e8e8ed;
		--gray-3: #86868b;
		--gray-4: #515154;
		--gray-5: #888;
		--gray-6: #333;
		--gray-7: #1d1d1f;
		--gray-8: #f5f5f7;
		--gray-9: #d2d2d7;
		--gray-10: #666;
		--gray-11: #c9c9d1;
		--gray-12: #f0f0f2;
		--gray-13: #8e8e93;
		--gray-14: #e8e8ed;
	
		--blue-1: #06c;
	}
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--soft-1: #1d1d1fb3;
		--soft-2: #d4d4d41a;

		--gray-01: white;
		--gray-0: black;
		--gray-1: #f5f5f7;
		--gray-2: #1c1c23;
		--gray-3: #63636e;
		--gray-4: #aaaab3;
		--gray-5: #8e8e93;
		--gray-6: #d5d5e2;
		--gray-7: #f5f5f7;
		--gray-8: #17171d;
		--gray-9: #212125;
		--gray-10: #aaaab3;
		--gray-11: #2c2c2e;
		--gray-12: #1a1a21;
		--gray-13: #8e8e93;
		--gray-14: #212125;
	
		--blue-1: #007aff;
	}
}