* {
	margin: 0;
	padding: 0;

	vertical-align: top;
	box-sizing: border-box;

	-webkit-user-select: none;
	-webkit-text-size-adjust: 100%;

	font: normal 400 12px/1.33337 -apple-system, BlinkMacSystemFont, "Segoe UI";
	letter-spacing: -.01em;

	-webkit-font-smoothing: antialiased
}

img {
	-webkit-touch-callout: none
}
a, strong, b, sup, sub, u, ins, del, i, s, mark, small, q, em, span, time {
	font: inherit
}
a, u {
	text-decoration: none
}
ul, ol {
	list-style: none
}
input, button, hr {
	border: none
}
input, button {
	outline: none
}
button, span {
	cursor: pointer
}
hr {
	border-top: .1px solid var(--gray-9)
}
sup, sub {
	font-size: 9px
}
strong, b {
	font-weight: 600
}
em {
	font-style: italic
}
span {
	-webkit-tap-highlight-color: transparent
}

/* - */

::-webkit-scrollbar {
	display: none
}
:lang(ru-RU) {
	quotes: "\00ab" "\00bb"
}
:lang(en-US) {
	quotes: "\201c" "\201d"
}

/* - */

body {
	background-color: var(--gray-0)
}
h1, h2, h3, h4, h5, h6, span {
	color: var(--gray-1)
}
p, time {
	color: var(--gray-2)
}
a {
	color: var(--blue-1)
}

/* - */

.x {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}
.x {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden
}

/* body */

section {
	margin: 0 auto;
	width: 90%
}

/* 1 */

section.pp {
	margin: 2cm auto 1em;

    width: 75px
}

section.pp div {
    position: relative
}
section.pp div::before {
    z-index: 1;
    position: absolute;

    content: "";

    width: 100%;
    height: 100%;

    background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 90 90'%3e%3cpath d='m58.27126717463562,1.087699937579592 c8.782459652001858,0 13.173694430515766,0 17.955246661970616,1.463744926171303 c5.171889494447708,1.8540722841382031 9.270371325716972,5.952554115407467 11.124453514881134,11.124453514881134 c1.5613292419195175,4.781562136480809 1.5613292419195175,9.270371325716972 1.5613292419195175,18.05283097771883 l0,26.542547587502 c0,8.782459652001858 0,13.173694430515766 -1.463744926171303,17.955246661970616 c-1.8540722841382031,5.171889494447708 -5.952554115407467,9.270371325716972 -11.124453514881134,11.124453514881134 c-4.8791464522290235,1.5613292419195175 -9.270371325716972,1.5613292419195175 -18.05283097771883,1.5613292419195175 l-26.542547587502,0 c-8.782459652001858,0 -13.173694430515766,0 -17.955246661970616,-1.463744926171303 c-5.269473810195923,-1.9516565998864173 -9.270371325716972,-5.952554115407467 -11.22202792560339,-11.22202792560339 c-1.463744926171303,-4.6839778207325935 -1.463744926171303,-9.075212599246502 -1.463744926171303,-17.955246661970616 l0,-26.542547587502 c0,-8.782459652001858 0,-13.173694430515766 1.463744926171303,-17.955246661970616 c1.9516565998864173,-5.171889494447708 5.952554115407467,-9.270371325716972 11.22202792560339,-11.124453514881134 c4.6839778207325935,-1.5613292419195175 9.075212599246502,-1.5613292419195175 17.955246661970616,-1.5613292419195175 l26.542547587502,0 z' fill-opacity='0' opacity='.15' stroke='%23808080' stroke-width='2'%3e%3c/path%3e%3c/svg%3e") no-repeat
}

section.pp div img {
	width: 100%;

    -webkit-mask: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 90 90'%3e%3cpath d='m58.6,0c9,0 13.5,0 18.4,1.5c5.3,1.9 9.5,6.1 11.4,11.4c1.6,4.9 1.6,9.5 1.6,18.5l0,27.2c0,9 0,13.5 -1.5,18.4c-1.9,5.3 -6.1,9.5 -11.4,11.4c-5,1.6 -9.5,1.6 -18.5,1.6l-27.2,0c-9,0 -13.5,0 -18.4,-1.5c-5.4,-2 -9.5,-6.1 -11.5,-11.5c-1.5,-4.8 -1.5,-9.3 -1.5,-18.4l0,-27.2c0,-9 0,-13.5 1.5,-18.4c2,-5.3 6.1,-9.5 11.5,-11.4c4.8,-1.6 9.3,-1.6 18.4,-1.6l27.2,0z'/%3e%3c/svg%3e") no-repeat
}

/* 2 */

section.tt {
	text-align: center
}

section.tt h1 {
	font: normal 700 32px/1.25 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: .012em
}
section.tt p {
	margin-top: 1.2em;

    font: normal 400 19px/1.21053 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: 0
}

/* 3 */

section.bb {
	margin: 2em auto
}

section.bb::before {
	content: "Имя";
    position: absolute;

	margin: .75em 0 0 1.2em;

    font: normal 600 17px -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: 0;

    color: var(--gray-1)
}

section.bb input[type="email"] {
	-webkit-appearance: none;

	width: 100%;
	height: 50px;

	border-radius: 10px;

	padding: 0 .8em .13em 4.5em;

	font: normal 400 17px -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: 0;

	background-color: var(--gray-3)
}
section.bb input[type="email"]::-webkit-input-placeholder {
	color: var(--gray-4)
}
section.bb input[placeholder] {
	color: var(--gray-1)
}

/* 4 */

section.kk {
	text-align: center
}

section.kk p {
	display: inline-block;

	font: normal 400 17px -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: 0
}

/* color */

@media screen and (prefers-color-scheme: light) {
	:root {
		--gray-0: white;
		--gray-1: #1d1d1f;
		--gray-2: #888;
		--gray-3: #f2f2f7;
		--gray-4: #8e8e93;
	
		--blue-1: #06c;
	}
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--gray-0: black;
		--gray-1: #f5f5f7;
		--gray-2: #8e8e93;
		--gray-3: #212125;
		--gray-4: #2c2c2e;
	
		--blue-1: #007aff;
	}
}