* {
	margin: 0;
	padding: 0;

	vertical-align: top;
	box-sizing: border-box;

	-webkit-user-select: none;
	-webkit-text-size-adjust: 100%;

	font: normal 400 12px/1.33337 -apple-system, BlinkMacSystemFont, "Segoe UI";
	letter-spacing: -.01em;

	-webkit-font-smoothing: antialiased
}

img, section.kk a {
	-webkit-touch-callout: none
}
a, strong, b, sup, sub, u, ins, del, i, s, mark, small, q, em, span, time {
	font: inherit
}
a, u {
	text-decoration: none
}
ul, ol {
	list-style: none
}
input, button, hr {
	border: none
}
input, button {
	outline: none
}
button, span {
	cursor: pointer
}
hr {
	border-top: .1px solid var(--gray-9)
}
sup, sub {
	font-size: 9px
}
strong, b {
	font-weight: 600
}
em {
	font-style: italic
}
span {
	-webkit-tap-highlight-color: transparent
}

/* - */

::-webkit-scrollbar {
	display: none
}
:lang(ru-RU) {
	quotes: "\00ab" "\00bb"
}
:lang(en-US) {
	quotes: "\201c" "\201d"
}

/* - */

body {
	background-color: var(--gray-0)
}
h1, h2, h3, h4, h5, h6, span {
	color: var(--gray-1)
}
p, time {
	color: var(--gray-13)
}
a {
	color: var(--blue-1)
}

/* - */

.x {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}
.x {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden
}

/* body */

nav, footer li {
    margin: 0 max(env(safe-area-inset-right), 16px) 0 max(env(safe-area-inset-left), 16px)
}

/* 1 */

blockquote {
	overflow: hidden
}

blockquote p {
	text-align: center;

	padding: max(env(safe-area-inset-top), 9px) max(env(safe-area-inset-right), 2em) 9px max(env(safe-area-inset-left), 2em);

	transform: translateY(-100%);

	background-color: var(--blue-1)
}
blockquote *:not(q):not(small) {
	color: #f5f5f7
}

.quote {
	transform: translateY(0);
	transition: transform 2s ease .5s, background-color 1s ease-in-out 3s, color 1s ease-in-out 3s;

	will-change: transform;

	background-color: var(--gray-14);
	color: var(--gray-10)
}
.quote a {
	transition: color 1s ease-in-out 3s;

	color: var(--blue-1)
}

/* 2 */

section {
	margin-top: .5cm
}

/* 3 */

nav {
	padding-top: 1em;

	display: flex;
	justify-content: space-between
}

nav h6 {
	font: normal 600 19px -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: 0
}
nav a {
	font: normal 400 19px -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: 0
}

/* 4 */

section.bb {
	text-align: center;

    background-color: var(--gray-14)
}

section.bb div {
	padding: 2cm .5cm 1.2em
}
section.bb h1 {
    font: normal 700 32px/1.25 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: .012em
}
section.bb div p {
	margin-top: 1.2em;

	font: normal 400 14px/1.4 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: 0
}

section.bb figure {
	margin-top: 1cm;

	height: 5cm;
	
	background: top/cover
}

section.bb div:last-child p {
    font-size: 11px
}

/* 5 */

section.vv {
	text-align: center;

	background-color: var(--gray-9)
}

section.vv > div {
	padding: 2cm .8cm 0
}

section.vv h2 {
	margin-bottom: .4em;

	font: normal 400 28px/1.14286 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: .007em
}
section.vv h6 {
    font: normal 400 14px/1.42859 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: -.016em;

	color: var(--gray-5)
}

section.vv > div a {
	margin: 1em 0;

	display: inline-block;

    font: normal 600 16px -apple-system, BlinkMacSystemFont, "Segoe UI";
	letter-spacing: 0
}

section.vv > figure {
	margin-top: 3cm;

	height: 10cm;
	
	background: center/cover
}

/* 5.1 */

section.vv ul {
	padding: 2cm 0 2em;

	display: grid;
    grid-auto-flow: column;
    column-gap: .9em;

	overflow-x: scroll;

    scroll-snap-type: x mandatory;
    scroll-padding: 0 20.69px
}
section.vv ul li {
	scroll-snap-align: start
}

section.vv ul li:first-child {
    padding-left: 20.69px
}
section.vv ul li:last-child {
    padding-right: 20.69px
}

section.vv ul li a {
    display: block;

	width: 8cm;

	border-radius: 1em
}

section.vv ul li a img {
	width: 100%;

    -webkit-mask: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 617.41174 979.95293'%3e%3cpath d='M617.39764,53.15466c-.00708-1.92718-.02838-3.86139-.085-5.78857a84.50212,84.50212,0,0,0-1.10528-12.60455,42.44535,42.44535,0,0,0-3.95356-11.981,40.2802,40.2802,0,0,0-17.6137-17.61371,42.40335,42.40335,0,0,0-11.97394-3.95343A84.57092,84.57092,0,0,0,570.05463.10809c-1.85633-.04962-4.61957-.078-5.78858-.085-3.51428-.03546-6.1145-.0213-6.87262-.01422-6.73089.0354-34.63226.02124-54.01019.00708H483.824c-3.09125-.02557-5.35694-.01361-6.05414-.00708-.52417.00275-1.19055.00513-1.95752.00732q-6.30836.00019-12.6167.00055C460.0578-.00989,457.754.00226,457.05.00885c-.59735.00317-1.369.00586-2.27912.00824q-13.82445.00127-27.6491.00122c-1.14325-.00079-2.26783-.00159-3.36207-.00238H383.46277c-3.08014-.02545-5.34076-.01361-6.03632-.00708-.524.00281-1.18872.00519-1.95672.00732q-24.34526.00294-48.69056.00214C325.637.01758,324.50836.01672,323.41626.01593H301.7782q-22.269.00293-44.53809.002c-7.9881-.00464-14.45343-.009-17.25476-.009q-2.41571,0-4.83636.01-25.89075.00065-51.78144.00226C172.80969.01538,163.81.00885,160.36182.00885q-2.0701,0-4.14441.00855c-7.67255-.00452-13.85413-.00855-16.5755-.00855-2.28852,0-4.58411,0-6.87262.01422h-8.60187C106.33411.04425,68.06714.00885,60.01837.00885c-2.28851,0-4.5841,0-6.87262.01422q-2.9013.01053-5.78851.085A84.47824,84.47824,0,0,0,34.75269,1.21338a42.37456,42.37456,0,0,0-11.981,3.95343A40.27933,40.27933,0,0,0,5.158,22.78052a42.44724,42.44724,0,0,0-3.95355,11.981A84.49284,84.49284,0,0,0,.09918,47.36609c-.04956,1.92718-.07794,3.86139-.085,5.78857C0,55.44312,0,57.73871,0,60.02722V919.93457c0,2.28845,0,4.58411.01422,6.87262q.01053,2.9013.085,5.78851a84.49309,84.49309,0,0,0,1.10529,12.60456,42.374,42.374,0,0,0,3.95355,11.981,40.34378,40.34378,0,0,0,17.61371,17.62079,42.58439,42.58439,0,0,0,11.981,3.94641,84.49284,84.49284,0,0,0,12.60455,1.10529c1.92712.05664,3.85431.07794,5.78851.085,2.28852.01416,4.58411.01416,6.87262.01416H131.8548c1.29657,0,2.59509-.00543,3.89355-.008,1.29846.00256,2.59705.008,3.89356.008h92.55633c.95966,0,1.92084-.00488,2.8819-.006l2.0827.00018c.94116.00147,1.88263.0058,2.82251.0058h137.4411q.13734,0,.2749-.00055,3.29216.00009,6.584.00055h93.4845c.09076,0,.18176-.00055.27258-.00055q3.29316.00028,6.5863.00055h72.76465c2.28852,0,4.58405,0,6.87262-.01416,1.93421-.00708,3.86139-.02838,5.78858-.085a84.58553,84.58553,0,0,0,12.61151-1.10529,42.61358,42.61358,0,0,0,11.97394-3.94641,40.34465,40.34465,0,0,0,17.6137-17.62079,42.37209,42.37209,0,0,0,3.95356-11.981,84.50237,84.50237,0,0,0,1.10528-12.60456c.05664-1.92718.07794-3.85431.085-5.78851.0141-2.28851.0141-4.58417.0141-6.87262V60.02722C617.41174,57.73871,617.41174,55.44312,617.39764,53.15466Z' transform='translate(0 -0.00001)'/%3e%3c/svg%3e") no-repeat
}

/* 5.2 */

figcaption {
	padding: 2cm 0 1cm;

	overflow: hidden
}

figcaption > div {
	display: grid;
	grid-auto-flow: column;

	justify-content: center
}

figcaption > div div {
	margin: .5em;

    position: relative;

	width: 110px
}
figcaption > div div::before {
    z-index: 1;
    position: absolute;

    content: "";

    width: 100%;
    height: 100%;

    background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 90 90'%3e%3cpath d='m58.41868930807106,0.5000030713727028 c8.895362248019133,0 13.3430433720287,0 18.18607392928356,1.482560374669856 c5.238379990500156,1.8779098079151506 9.389549039575751,6.029078856990745 11.267458847490902,11.267458847490902 c1.5813977329811792,4.843030557254862 1.5813977329811792,9.389549039575751 1.5813977329811792,18.284911287594884 l0,26.883761460680045 c0,8.895362248019133 0,13.3430433720287 -1.482560374669856,18.18607392928356 c-1.8779098079151506,5.238379990500156 -6.029078856990745,9.389549039575751 -11.267458847490902,11.267458847490902 c-4.941867915566185,1.5813977329811792 -9.389549039575751,1.5813977329811792 -18.284911287594884,1.5813977329811792 l-26.883761460680045,0 c-8.895362248019133,0 -13.3430433720287,0 -18.18607392928356,-1.482560374669856 c-5.33721734881148,-1.976747166226474 -9.389549039575751,-6.029078856990745 -11.366296205802225,-11.366296205802225 c-1.482560374669856,-4.744193198943537 -1.482560374669856,-9.191874322953105 -1.482560374669856,-18.18607392928356 l0,-26.883761460680045 c0,-8.895362248019133 0,-13.3430433720287 1.482560374669856,-18.18607392928356 c1.976747166226474,-5.238379990500156 6.029078856990745,-9.389549039575751 11.366296205802225,-11.267458847490902 c4.744193198943537,-1.5813977329811792 9.191874322953105,-1.5813977329811792 18.18607392928356,-1.5813977329811792 l26.883761460680045,0 z' fill-opacity='0' opacity='.15' stroke='%23808080' stroke-width='1'/%3e%3c/svg%3e") no-repeat
}

figcaption > div div img {
	width: 100%;

    -webkit-mask: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 90 90'%3e%3cpath d='m58.6,0c9,0 13.5,0 18.4,1.5c5.3,1.9 9.5,6.1 11.4,11.4c1.6,4.9 1.6,9.5 1.6,18.5l0,27.2c0,9 0,13.5 -1.5,18.4c-1.9,5.3 -6.1,9.5 -11.4,11.4c-5,1.6 -9.5,1.6 -18.5,1.6l-27.2,0c-9,0 -13.5,0 -18.4,-1.5c-5.4,-2 -9.5,-6.1 -11.5,-11.5c-1.5,-4.8 -1.5,-9.3 -1.5,-18.4l0,-27.2c0,-9 0,-13.5 1.5,-18.4c2,-5.3 6.1,-9.5 11.5,-11.4c4.8,-1.6 9.3,-1.6 18.4,-1.6l27.2,0z'/%3e%3c/svg%3e") no-repeat
}

/* 6 */

section.pp {
	text-align: center;

	background-color: var(--gray-8)
}

section.pp div {
	padding: 2cm .8cm .5cm
}

section.pp h3 {
    font: normal 400 19px/1.21053 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: .012em;

	color: var(--gray-10)
}
section.pp h2 {
	margin: .2em 0 .4em;

	font: normal 600 28px/1.14286 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: .007em
}
section.pp h6 {
    font: normal 400 14px/1.42859 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: -.016em;

	color: var(--gray-5)
}
section.pp p {
    font-size: 11px
}

section.pp a {
	margin: 4cm 0 1cm;

	display: inline-block;

    font: normal 600 16px -apple-system, BlinkMacSystemFont, "Segoe UI"
}

/* 7 */

section.kk {
	/* margin-left: auto;
	width: 95% */
}

section.kk a {
	display: block;

	padding-left: 5%
}

section.kk h5 {
	padding: 10px 0;

	font: normal 400 19px -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: 0;

	color: inherit
}

section.kk li+li h5 {
	border-top: .1px solid var(--gray-9)
}

/* 8 */

footer {
	margin-top: 2cm;
    padding-bottom: env(safe-area-inset-bottom);
	
    background-color: var(--gray-8)
}
footer ul {
    padding: 1em 0
}
footer li {
    color: var(--gray-3)
}
footer li+li {
	margin-top: 1em
}

/* color */

@media screen and (prefers-color-scheme: light) {
	:root {
		--soft-1: #00000050;
		--soft-2: #8080801a;

		--gray-01: black;
		--gray-0: white;
		--gray-1: #111;
		--gray-2: #e8e8ed;
		--gray-3: #86868b;
		--gray-4: #515154;
		--gray-5: #888;
		--gray-6: #333;
		--gray-7: #1d1d1f;
		--gray-8: #f5f5f7;
		--gray-9: #d2d2d7;
		--gray-10: #666;
		--gray-11: #c9c9d1;
		--gray-12: #f0f0f2;
		--gray-13: #8e8e93;
		--gray-14: #e8e8ed;
	
		--blue-1: #06c;
	}
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--soft-1: #1d1d1fb3;
		--soft-2: #d4d4d41a;

		--gray-01: white;
		--gray-0: black;
		--gray-1: #f5f5f7;
		--gray-2: #1c1c23;
		--gray-3: #63636e;
		--gray-4: #aaaab3;
		--gray-5: #8e8e93;
		--gray-6: #d5d5e2;
		--gray-7: #f5f5f7;
		--gray-8: #17171d;
		--gray-9: #212125;
		--gray-10: #aaaab3;
		--gray-11: #2c2c2e;
		--gray-12: #1a1a21;
		--gray-13: #8e8e93;
		--gray-14: #212125;
	
		--blue-1: #007aff;
	}
}