.x {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}
.x {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden
}

/* 0 */

section {
    margin: 0 auto;
    width: 90%
}

/* 1 */

section.tt {
    margin-top: 1cm
}
section.tt h1 {
	font: 700 32px/1.125 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: .004em;
}

/* 2 */

section.pp div {
	margin-top: .5cm
}
section.pp div > * {
	padding: 0 13px
}

section.pp select, section.pp input {
	margin: .3em 0;

	width: 100%;
	height: 45px;

	border-radius: 11px;

	font: normal 400 17px -apple-system, BlinkMacSystemFont, "Segoe UI";
	letter-spacing: 0;

	background-color: var(--gray-5);
	color: var(--gray-1)
}

section.pp input::-webkit-input-placeholder {
	color: var(--gray-4)
}

section.pp select {
	font-weight: 600;
	color: var(--blue-1)
}

/* 3 */

section.vv {
	margin: 2cm auto .5cm;
	padding-bottom: env(safe-area-inset-bottom)
}

section.vv div {
	text-align: center
}

section.vv p {
    font: 400 11px/1.2 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: -.008em;

	color: var(--gray-6)
}
section.vv input {
	margin: .5cm 0;

    width: 100%;
	height: 45px;

    border-radius: 11px;

    font: normal 600 16px -apple-system, BlinkMacSystemFont, "Segoe UI";
	letter-spacing: 0;

    background-color: var(--gray-5);
	color: var(--blue-1)
}
section.vv div > a {
	font: normal 600 14px -apple-system, BlinkMacSystemFont, "Segoe UI";
	letter-spacing: 0;

	color: var(--red-1)
}

/* 4 */

@media screen and (prefers-color-scheme: light) {
	:root {
		--gray-a: white;

		--gray-1: #1d1d1f;
		--gray-2: #8e8e93;
		--gray-3: #d2d2d7;
		--gray-4: #86868b;
		--gray-5: #e8e8ed;
		--gray-6: #aaaab3;
		
		--blue-1: #06c;

		--red-1: #ff2d55;
	}
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--gray-a: black;
		
		--gray-1: #f5f5f7;
		--gray-2: #8e8e93;
		--gray-3: #212125;
		--gray-4: #63636e;
		--gray-5: #212125;
		--gray-6: #86868b;
	
		--blue-1: #007aff;

        --red-1: #fb5c74;
	}
}