.x {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}
.x {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden
}

/* 0 */

nav, footer li {
    margin: 0 max(env(safe-area-inset-right), 16px) 0 max(env(safe-area-inset-left), 16px)
}

/* 1 */

blockquote {
	overflow: hidden
}

blockquote p {
	text-align: center;

	padding: max(env(safe-area-inset-top), 9px) max(env(safe-area-inset-right), 2em) 9px max(env(safe-area-inset-left), 2em);

	transform: translateY(-100%);

	background-color: var(--blue-1)
}
blockquote *:not(q):not(small) {
	color: var(--const-1)
}

.quote {
	transform: translateY(0);
	transition: transform 2s ease .5s, background-color 1s ease-in-out 3s, color 1s ease-in-out 3s;

	will-change: transform;

	background-color: var(--gray-14);
	color: var(--gray-10)
}
.quote a {
	transition: color 1s ease-in-out 3s;

	color: var(--blue-1)
}

/* 2 */

section, footer {
	margin-top: .5cm
}

/* 3 */

nav {
	padding: 1em 0;

	display: flex;
	justify-content: space-between
}

nav h6 {
	font: normal 600 19px -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: 0
}
nav a {
	font: normal 400 19px -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: 0
}

/* 3.1 */

section.bb figcaption {
	overflow: hidden
}

section.bb figcaption ul {
	display: grid;
	grid-auto-flow: column;

	justify-content: center
}

section.bb figcaption ul li {
	margin: .5em;

    position: relative
}
section.bb figcaption ul li::before {
    z-index: 1;
    position: absolute;

    content: "";

	inset: 0;

    background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 90 90'%3e%3cpath d='m58.41868930807106,0.5000030713727028 c8.895362248019133,0 13.3430433720287,0 18.18607392928356,1.482560374669856 c5.238379990500156,1.8779098079151506 9.389549039575751,6.029078856990745 11.267458847490902,11.267458847490902 c1.5813977329811792,4.843030557254862 1.5813977329811792,9.389549039575751 1.5813977329811792,18.284911287594884 l0,26.883761460680045 c0,8.895362248019133 0,13.3430433720287 -1.482560374669856,18.18607392928356 c-1.8779098079151506,5.238379990500156 -6.029078856990745,9.389549039575751 -11.267458847490902,11.267458847490902 c-4.941867915566185,1.5813977329811792 -9.389549039575751,1.5813977329811792 -18.284911287594884,1.5813977329811792 l-26.883761460680045,0 c-8.895362248019133,0 -13.3430433720287,0 -18.18607392928356,-1.482560374669856 c-5.33721734881148,-1.976747166226474 -9.389549039575751,-6.029078856990745 -11.366296205802225,-11.366296205802225 c-1.482560374669856,-4.744193198943537 -1.482560374669856,-9.191874322953105 -1.482560374669856,-18.18607392928356 l0,-26.883761460680045 c0,-8.895362248019133 0,-13.3430433720287 1.482560374669856,-18.18607392928356 c1.976747166226474,-5.238379990500156 6.029078856990745,-9.389549039575751 11.366296205802225,-11.267458847490902 c4.744193198943537,-1.5813977329811792 9.191874322953105,-1.5813977329811792 18.18607392928356,-1.5813977329811792 l26.883761460680045,0 z' fill-opacity='0' opacity='.15' stroke='%23808080' stroke-width='1'/%3e%3c/svg%3e") no-repeat
}

section.bb figcaption ul li img {
	width: 100px;
	height: 100px;

    -webkit-mask: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 90 90'%3e%3cpath d='m58.6,0c9,0 13.5,0 18.4,1.5c5.3,1.9 9.5,6.1 11.4,11.4c1.6,4.9 1.6,9.5 1.6,18.5l0,27.2c0,9 0,13.5 -1.5,18.4c-1.9,5.3 -6.1,9.5 -11.4,11.4c-5,1.6 -9.5,1.6 -18.5,1.6l-27.2,0c-9,0 -13.5,0 -18.4,-1.5c-5.4,-2 -9.5,-6.1 -11.5,-11.5c-1.5,-4.8 -1.5,-9.3 -1.5,-18.4l0,-27.2c0,-9 0,-13.5 1.5,-18.4c2,-5.3 6.1,-9.5 11.5,-11.4c4.8,-1.6 9.3,-1.6 18.4,-1.6l27.2,0z'/%3e%3c/svg%3e") no-repeat
}

/* 3.2 */

section.bb {
	text-align: center;

    background-color: var(--gray-14)
}

section.bb div:nth-child(3) {
	padding: .5cm
}
section.bb div h1 {
    font: normal 700 32px/1.25 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: .012em
}
section.bb div p {
	margin-top: 1.2em;

	font: normal 400 14px/1.4 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: 0
}

section.bb div:last-child p {
	padding-bottom: .5cm;

    font: normal 400 11px/1.2 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: -.008em
}

/* 5 */

section.vv {
	text-align: center;

	background-color: var(--gray-3)
}

section.vv > div {
	padding: 2cm .8cm .5cm
}

section.vv h3 {
    font: normal 400 19px/1.21053 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: .012em;

    color: var(--gray-10);
}
section.vv h2 {
	margin-bottom: .4em;

	font: normal 400 28px/1.14286 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: .007em
}
section.vv h6 {
    font: normal 400 14px/1.42859 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: -.016em;

	color: var(--gray-5)
}

section.vv a {
	margin-bottom: 1cm;

	display: inline-block;

    font: normal 600 16px -apple-system, BlinkMacSystemFont, "Segoe UI";
	letter-spacing: 0
}

section.vv figure {
	height: 3cm;
	
	background: top/cover
}

section.vv p {
    font: normal 400 11px/1.2 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: -.008em
}

/* 6 */

section.pp {
	text-align: center;

	background-color: var(--gray-8)
}

section.pp div {
	padding: 2cm .8cm .5cm
}

section.pp h3 {
    font: normal 400 19px/1.21053 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: .012em;

	color: var(--gray-10)
}
section.pp h2 {
	margin: .2em 0 .4em;

	font: normal 600 28px/1.14286 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: .007em
}
section.pp h6 {
    font: normal 400 14px/1.42859 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: -.016em;

	color: var(--gray-5)
}

section.pp a {
	margin: 4cm 0 1cm;

	display: inline-block;

    font: normal 600 16px -apple-system, BlinkMacSystemFont, "Segoe UI";
	letter-spacing: 0
}

section.pp p {
    font: normal 400 11px/1.2 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: -.008em
}

/* 7 */

section.hh {
	text-align: center
}

section.hh ul {
	display: grid;
    grid-auto-flow: column;
    column-gap: 1em;

	overflow-x: scroll;

    scroll-snap-type: x mandatory;
    scroll-padding: 0 var(--padding)
}
section.hh ul li {
	scroll-snap-align: start
}

section.hh ul li:first-child {
    padding-left: var(--padding)
}
section.hh ul li:last-child {
    padding-right: var(--padding)
}

section.hh ul li a {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	padding: 2em;

	width: 302px;
	height: 480px;

	border-radius: 20px;

	-webkit-mask: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 302.00002 480.00002'%3e%3cpath d='M301.99365,26.31659c-.00586-.95581-.01684-1.91132-.04223-2.86688a41.80419,41.80419,0,0,0-.54883-6.23883,21.05351,21.05351,0,0,0-1.95545-5.93372,19.95128,19.95128,0,0,0-8.7218-8.7215,21.05605,21.05605,0,0,0-5.93066-1.9541,41.61954,41.61954,0,0,0-6.241-.54913C277.89185.03455,276.672.01849,275.68652.0097c-1.1167-.01-2.01953-.01028-2.54492-.00939-.24414.00039-.37256.00094-.39892.001C270.19983.01,36.80811.04,29.71729.00336c-.24653-.00128-1.58564-.00974-3.40387.00634-.57972.00513-1.94812.018-2.86689.04273a41.61108,41.61108,0,0,0-6.241.54913,21.05059,21.05059,0,0,0-5.93061,1.9541,19.94935,19.94935,0,0,0-8.722,8.7215,21.06444,21.06444,0,0,0-1.9552,5.93372,41.69714,41.69714,0,0,0-.54889,6.23883c-.02558.95556-.03669,1.91107-.04248,2.86688C-.00055,27.45105,0,28.58575,0,29.72046V450.2829c0,1.13464-.00055,2.26941.00629,3.40387.00579.95581.0169,1.91131.04248,2.86682a41.69645,41.69645,0,0,0,.54889,6.23883,21.06231,21.06231,0,0,0,1.9552,5.93378,19.94871,19.94871,0,0,0,8.722,8.72143,21.05889,21.05889,0,0,0,5.93061,1.95441,41.65283,41.65283,0,0,0,6.241.54889c.95551.02582,1.91077.03692,2.86689.04272,1.13446.00684,2.26892.00635,3.40387.00635H272.28271c1.135,0,2.26941.00049,3.40381-.00635.95606-.0058,1.91162-.0169,2.86719-.04272a41.6613,41.6613,0,0,0,6.241-.54889,21.06436,21.06436,0,0,0,5.93066-1.95441,19.95065,19.95065,0,0,0,8.7218-8.72143,21.05138,21.05138,0,0,0,1.95545-5.93378,41.80349,41.80349,0,0,0,.54883-6.23883c.02539-.95551.03637-1.911.04223-2.86682.00684-1.13446.00635-2.26923.00635-3.40387V29.72046C302,28.58575,302.00049,27.45105,301.99365,26.31659Z' transform='translate(0.00001 0.00002)'/%3e%3c/svg%3e") no-repeat;

	background: center/cover var(--gray-8)
}

section.hh ul h2 {
	font: normal 600 19px -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: 0
}
section.hh ul p {
	margin-top: .5em;

    font: normal 400 14px/1.42859 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: -.016em
}
section.hh ul h6 {
    font: normal 400 11px/1.2 -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: -.008em
}

/* 8 */

section.kk a {
	display: block;

	padding: 10px 0;

	font: normal 400 19px -apple-system, BlinkMacSystemFont, "Segoe UI";
    letter-spacing: 0;

	padding-left: var(--padding)
}

section.kk hr {
	margin-left: var(--padding)
}

/* 9 */

footer {
    padding-bottom: env(safe-area-inset-bottom);
	
    background-color: var(--gray-8)
}
footer ul {
    padding: 1em 0
}
footer li {
    color: var(--gray-9)
}
footer li+li {
	margin-top: 1em
}

/* 10 */

@media screen and (min-width: 320px) and (max-width: 428px) {
    :root {
        --padding: 20px;
    }

    @media screen and (orientation: landscape) {
    }
}

/* 10 */

@media screen and (prefers-color-scheme: light) {
	:root {
		--soft-1: #00000050;
		--soft-2: #8080801a;

		--gray-a: white;
		--gray-b: black;

		--gray-1: #1d1d1f;
		--gray-2: #8e8e93;
		--gray-3: #d2d2d7;
		--gray-4: #515154;
		--gray-5: #888;
		--gray-6: #333;
		--gray-7: #1d1d1f;
		--gray-8: #f5f5f7;
		--gray-9: #86868b;
		--gray-10: #666;
		--gray-11: #c9c9d1;
		--gray-12: #f0f0f2;
		--gray-13: #e8e8ed;
		--gray-14: #e8e8ed;
		
		--blue-1: #06c;

		--const-1: #f5f5f7;
	}
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--soft-1: #1d1d1fb3;
		--soft-2: #d4d4d41a;

		--gray-a: black;
		--gray-b: white;

		--gray-1: #f5f5f7;
		--gray-2: #8e8e93;
		--gray-3: #212125;
		--gray-4: #aaaab3;
		--gray-5: #8e8e93;
		--gray-6: #d5d5e2;
		--gray-7: #f5f5f7;
		--gray-8: #17171d;
		--gray-9: #63636e;
		--gray-10: #aaaab3;
		--gray-11: #2c2c2e;
		--gray-12: #1a1a21;
		--gray-13: #1c1c23;
		--gray-14: #212125;
	
		--blue-1: #007aff;

		--const-1: #f5f5f7;
	}
}