.x {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}
section.pp h5 {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden
}

/* 0 */

section.tt {
    margin: 0 auto;
    width: 90%
}

/* 1 */

section.tt {
    margin: 1em auto
}

section.tt select {
	font: 19px system-ui;

    background: none;
    color: var(--blue-1)
}
section.tt select:focus {
    opacity: .5
}

/* 2 */

section.pp ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}

section.pp li:nth-child(-n+2) {
    border-top: .1px solid var(--gray-3)
}
section.pp li {
    border-bottom: .1px solid var(--gray-3)
}
section.pp li:nth-child(odd) {
    border-right: .1px solid var(--gray-3)
}

section.pp a {
	display: block;

        height: 15cm;

    padding: 1em;

	text-align: right
}

section.pp input[type="checkbox"] {
	width: 22px;
	height: 22px;

	border-radius: 100%;

        background-color: var(--gray-3)
}
section.pp input[type="checkbox"]:checked {
	background-color: var(--blue-1)
}

section.pp img {
    width: 100%
}

section.pp div {
    margin-top: 1em;
    text-align: center
}
section.pp :where(h5, h6) {
    font: 600 14px/1.2 system-ui
}
section.pp h6 {
    margin-too: .5em;

    font-weight: 400;

    color: var(--orange-1)
}
section.pp p {
    font: 11px system-ui;
    letter-spacing: -.008em
}

footer {
	margin-bottom: env(safe-area-inset-bottom)
}

/* 4 */

@media screen and (prefers-color-scheme: light) {
	:root {
		--gray-a: white;
		--gray-b: black;

		--gray-1: #1d1d1f;
		--gray-2: #8e8e93;
		--gray-3: #d2d2d7;
		--gray-4: #515154;
		--gray-5: #888;
		--gray-6: #333;
		--gray-7: #1d1d1f;
		--gray-8: #f5f5f7;
		--gray-9: #86868b;
		--gray-10: #666;
		--gray-11: #c9c9d1;
		--gray-12: #f0f0f2;
		--gray-13: #e8e8ed;
		--gray-14: #e8e8ed;
                --gray-15: white;
		
		--blue-1: #007aff;

        --red-1: #ff2d55;

		--orange-1: #ff9f00;
	}
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--gray-a: black;
		--gray-b: white;
		
		--gray-1: #f5f5f7;
		--gray-2: #8e8e93;
		--gray-3: #212125;
		--gray-4: #aaaab3;
		--gray-5: #8e8e93;
		--gray-6: #d5d5e2;
		--gray-7: #f5f5f7;
		--gray-8: #17171d;
		--gray-9: #63636e;
		--gray-10: #aaaab3;
		--gray-11: #2c2c2e;
		--gray-12: #1a1a21;
		--gray-13: #1c1c23;
		--gray-14: #212125;
                --gray-15: #1c1c1e;
	
		--blue-1: #007aff;

        --red-1: #fb5c74;

		--orange-1: #ff9f00;
	}
}
