.lazy {
	opacity: 0;
	transition: opacity 0.5s ease 0s
}

/* - - - - - - - - - - - - - - - - - - - - - */

body {
	background-color: var(--body);
}
*, html, body, button {
	margin: 0;
	padding: 0
}
*, html, body {
	vertical-align: top;

	box-sizing: border-box
}
*, a, html, body, img, svg, h1, h2, h3, h4, h5, h6, p {
	user-select: none
}
img, svg, h1, h2, h3, h4, h5, h6, p {
	cursor: default
}
img, svg, h1, h2, h3, h4, h5, h6, p {
	pointer-events: none
}
a, button {
	cursor: pointer;
	
	text-decoration: none;
	border: none
}
ul, ol {
	list-style: none
}

::-webkit-scrollbar {
	display: none
}

/* - - - - - - - - - - - - - - - - - - - - - */

*, h1, h2, h3, h4, h5, h6, p {
	font: normal 400 12px/1.33337 "line-text", "line", "icon";
	letter-spacing: -0.01em;
	-webkit-font-smoothing: antialiased
}
.con {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}

/* - - - - - - - - - - - - - - - - - - - - - */

.margin {
	margin-bottom: 15px
}

/* - - - - - - - - - - - - - - - - - - - - - */

.media img {
	padding: 0 22px;
}
.media img {
	width: 100%
}
.download {
	display: flex;
	justify-content: space-between;

	padding: 0 22px 1cm
}
.download p {
	font-size: 11px;

	color: var(--media)
}
.download a::after {
	content: "";

	font-size: 1.5em;

	color: var(--link-footer)
}

.details p {
	padding-bottom: 10px;

	color: var(--conclusion-p)
}
.details h1 {
	font: normal 600 19px/1.21053 "line";
	letter-spacing: 0.012em;

	color: var(--conclusion-h)
}

.content {
	background-color: var(--includes)
}
.content li, .content a {
	font: normal 400 14px/1.47059 "line-text";
	letter-spacing: normal
}
.content li {
	color: var(--text)
}
.content a {
	color: var(--link-footer)
}
.content ol {
	padding: 0 17px;
	list-style: outside disc
}
.content ol li {
	font-size: 12px;

	padding-bottom: 5px;

	color: var(--details)
}
.content sup {
	font-size: 10px
}
.content li:last-child {
	padding-bottom: 22px
}

/* - - - - - - - - - - - - - - - - - - - - - */

footer {
	background-color: var(--footer);

	border-top: 1px solid var(--border)
}
footer li {
	padding-bottom: 0.8em;
	color: var(--description)
}
footer ol {
	padding: 0 17px;
	list-style: outside decimal
}
footer ul+ol li a {
	color: var(--link)
}
footer ul+ol+ul li a {
	color: var(--link-footer)
}