.lazy {
	opacity: 0;
	transition: opacity 0.5s ease 0s
}

/* - - - - - - - - - - - - - - - - - - - - - */

*, html, body, button {
	margin: 0;
	padding: 0
}
*, html, body {
	vertical-align: top;
	box-sizing: border-box
}
*, a, h1, h2, h3, h4, h5, h6, p {
	user-select: none
}
img, svg, h1, h2, h3, h4, h5, h6, p {
	cursor: default
}
svg, h1, h2, h3, h4, h5, h6, p {
	pointer-events: none
}
a, button {
	cursor: pointer;
	text-decoration: none;
	border: none
}
ul, ol {
	list-style: none
}
a, sup, strong, em {
	font: inherit
}

::-webkit-scrollbar {
	display: none
}

body {
	background-color: var(--body)
}

/* - - - - - - - - - - - - - - - - - - - - - */

*, h1, h2, h3, h4, h5, h6, p {
	font: normal 400 12px/1.33337 "line-text", "line", "icon";
	letter-spacing: -0.01em;

	-webkit-font-smoothing: antialiased
}
sup {
	font-size: 11px
}
strong {
	font-weight: 600
}
em {
	font-style: italic
}

/* - - - - - - - - - - - - - - - - - - - - - */

.margin {
	margin-bottom: 15px
}

/* - - - - - - - - - - - - - - - - - - - - - */

.details p {
	padding-bottom: 10px;

	color: var(--conclusion-p)
}
.details h1 {
	font: normal 600 32px/1.125 "line";
	letter-spacing: 0.004em;

	color: var(--conclusion-h)
}

/* - - - - - - - - - - - - - - - - - - - - - */

picture img {
	width: 100%;

	padding: 0 28px
}
.download {
	display: flex;
	justify-content: space-between;

	padding: 8px 28px 1cm
}
.download p {
	width: 90%;

	color: var(--media)
}
.download a::after {
	content: "";

	font-size: 1.5em;

	color: var(--link-footer)
}

/* - - - - - - - - - - - - - - - - - - - - - */

.content {
	color: var(--text)
}
.content h1 {
	font: normal 600 21px/1.19048 "line";
	letter-spacing: 0.011em;

	padding-bottom: 16px
}
.content li {
	font: normal 400 17px/1.47059 "line-text";
	letter-spacing: -0.022em
}
.content a {
	color: var(--link-footer)
}
.content ol {
	padding-left: 20px;
	list-style: outside disc
}
.content ol li {
	padding-bottom: 1em
}
.content li {
	padding-bottom: 0.5em
}
.content li:last-child {
	padding-bottom: 1.5em
}

/* - - - - - - - - - - - - - - - - - - - - - */

.description h1, .description li {
	font: normal 400 14px/1.42859 "line-text";
	letter-spacing: -0.016em;

	padding-bottom: 1.5em
}
.description ol {
	padding-left: 1.28em;
	list-style: outside disc
}

/* - - - - - - - - - - - - - - - - - - - - - */

footer {
	background-color: var(--footer)
}
footer li {
	padding-bottom: 0.8em;
	color: var(--description)
}
footer ol {
	padding: 0 17px;
	list-style: outside decimal
}
footer ul+ol li a {
	color: var(--link)
}
footer ul+ol+ul li a {
	color: var(--link-footer)
}