@media screen and (prefers-color-scheme: light) {
    :root {
        --transparency-1: #f7f7f7cc;

        --gray-01: black;
        --gray-0: white;
        --gray-1: #111;
        --gray-2: #e8e8ed;
        --gray-3: #86868b;
        --gray-4: #515154;
        --gray-5: #888;
        --gray-6: #333;
        --gray-7: #1d1d1f;
        --gray-8: #f5f5f7;
        --gray-9: #e6e6e6;
        --gray-10: #666;
        --gray-11: #00000014;
        --gray-12: #f0f0f2;

        --blue-1: #06c;
    }
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --transparency-1: #1d1d1fb3;

        --gray-01: white;
        --gray-0: black;
        --gray-1: #f3f3f3;
        --gray-2: #121217;
        --gray-3: #63636e;
        --gray-4: #aaaab3;
        --gray-5: #8e8e93;
        --gray-6: #d5d5e2;
        --gray-7: #f5f5f7;
        --gray-8: #17171d;
        --gray-9: #1d1c1f;
        --gray-10: #aaaab3;
        --gray-11: #2c2c2e;
        --gray-12: #1a1a21;

        --blue-1: #007aff;
    }
}