/* hh */

section.hh {
    z-index: 1;
    position: fixed;
    inset: 0 0 auto;

    padding: 1em 16px;

    display: flex;
    justify-content: end;

    -webkit-backdrop-filter: saturate(180%) blur(20px);

    background: linear-gradient(to top, transparent, var(--gray-a))
}

section.hh a {
    font: 17px system-ui
}

section.hh a:last-child {
    font-weight: 600
}

/* nn */

section.nn {
    margin: 3cm auto 2em;
    width: fit-content
}

section.nn main {
    border-radius: 12px;

    overflow: hidden;

    background-color: var(--gray-18)
}
section.nn main:last-child {
    margin-top: 1em
}

section.nn div {
    padding: .3em;

    display: flex
}

section.nn h1 {
    padding: .5em 1.8em
}
section.nn div .ttt {
    border-radius: 9px;

    font-weight: 800;

    background-color: var(--gray-5)
}

section.nn select {
	flex-direction: column;
    text-align: -webkit-center;

    width: -webkit-fill-available;

    padding: .2em
}
section.nn hr {
    border-width: 0 .1px 0 0;
    border-style: solid;
    border-color: var(--gray-3)
}

/* color */

@media screen and (prefers-color-scheme: light) {
:root {
    --soft-1: #f5f5f7b8;
    --soft-2: #ffffffcc;

    --gray-a: white;
    --gray-b: black;

    --gray-1: #1d1d1f;
    --gray-2: #8e8e93;
    --gray-3: #d2d2d7;
    --gray-4: #86868b;
    --gray-5: #e8e8ed;
    --gray-6: #aaaab3;
    --gray-7: #f5f5f7;
    --gray-8: #d2d2d7;
    --gray-9: #0000000d;
    --gray-10: #1d1d1f;
    --gray-15: #f5f5f5;
    --gray-18: #f5f5f7;
    --gray-19: #e3e3e880;
    --gray-20: #00000080;
    
    --blue-1: #007aff;

    --red-1: #ff2d55;

    --orange-1: #fd9900;

    --const-1: #17171d;
    --const-2: #f5f5f7;
}
}

@media screen and (prefers-color-scheme: dark) {
:root {
    --soft-1: #1d1d1fb8;
    --soft-2: #00000080;
    
    --gray-a: black;
    --gray-b: white;
    
    --gray-1: #f5f5f7;
    --gray-2: #8e8e93;
    --gray-3: #212125;
    --gray-4: #63636e;
    --gray-5: #212125;
    --gray-6: #63636e;
    --gray-7: #1c1c1e;
    --gray-8: #515154;
    --gray-9: #00000033;
    --gray-10: #d5d5e2;
    --gray-15: #121212;
    --gray-18: #17171d;
    --gray-19: #24242d80;
    --gray-20: #ffffff80;

    --blue-1: #0a84ff;

    --red-1: #fb5c74;

    --orange-1: #ff9f00;

    --const-1: #17171d;
    --const-2: #f5f5f7;
}
}
