/* media */

[data-i],
[data-v] {
    opacity: 0
}

img,
video {
    opacity: 1;

    transition: opacity .4s cubic-bezier(0.4, 0, 0.25, 1)
}

/* body */

body {
    background-color: #5e606b;

    transition: background-color 1s
}

/* e */

section.e {
    position: fixed;
    inset: 0 0 auto;

    margin-top: env(safe-area-inset-top);

    padding: 20px
}

section.e svg {
    margin-left: auto;

    border-radius: 50%;

    display: block;

    background-color: #ffffff50
}
section.e svg path {
    fill: white
}

section.e .a {
    display: flex;
    column-gap: 5px;
}

section.e h1 {
    margin-block: 20px;

    font: 700 32px/1.04565 system-ui;

    color: white
}
section.e h2 {
    margin-top: 10px;
    text-align: right;
    font: 700 24px/1.08341 system-ui;

    color: white
}

section.e .a>div {
    flex-grow: 1;

    height: 3px;

    border-radius: 2px;

    background-color: #ffffff50
}

section.e .a div div {
    height: inherit;

    border-radius: inherit;

    background-color: white
}

/* k */

section.k {
    margin-inline: 20px;
    height: 100vh;
}
section.k ul {
    padding-top: 120px;

    display: grid;
    grid-auto-flow: row;

    overflow-y: scroll;

    scroll-padding-top: 120px;
    scroll-snap-type: y mandatory
}
section.k ul li {
    height: inherit;

    scroll-snap-align: start
}
section.k .b {
    margin: auto;

    border-radius: 15px;

    background-color: white
}
section.k .b img {
    width: -webkit-fill-available;

    border-radius: 0 0 15px 15px;

    display: block;

    object-fit: cover
}
section.k h1 {
    padding: 10px;
    font-size: 14px;
}

/* col */

@media (prefers-color-scheme: light) {
    :root {
        --mod: plus-darker;

        --col-light: white;
        --col-dark: black;

        --col: #1d1d1f;
        --col-2: #8e8e93;
        --col-3: #eaeaee;
        --col-4: #c0c0c4;
        --col-5: #f2f2f6;

        --col-10: #4f1139;

        --col-link: #007aff;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --mod: plus-lighter;

        --col-light: black;
        --col-dark: white;

        --col: #f5f5f7;
        --col-2: #8e8e93;
        --col-3: #0e0e0e;
        --col-4: #505052;
        --col-5: #151517;

        --col-link: #0a84ff;
    }
}
