/* ww */

section.ww {
        margin: var(--padding)
}

section.ww figure {
        padding: 15px;

        border-radius: 11px;

        background-color: var(--gray-18)
}

section.ww select {
        background: none
}

section.ww textarea {
        width: 100%;

        border-radius: 0;

        font: 13px/1.38462 system-ui;
	letter-spacing: -.005em;

        background: none
}

/* var */

@media screen and (min-width: 320px) and (max-width: 728px) {
	:root {
        --padding: 20px
    }
}

/* color */

@media screen and (prefers-color-scheme: light) {
	:root {
        --soft-1: #f5f5f7b8;
                --soft-2: #ffffffcc;

		--gray-a: white;
		--gray-b: black;

		--gray-1: #1d1d1f;
		--gray-2: #8e8e93;
		--gray-3: #d2d2d7;
		--gray-4: #86868b;
		--gray-5: #e8e8ed;
		--gray-6: #aaaab3;
        --gray-7: #f5f5f7;
                --gray-8: #d2d2d7;
                --gray-9: #0000000d;
                --gray-10: #1d1d1f;
                --gray-15: #f5f5f5;
                --gray-18: #f5f5f7;
		
		--blue-1: #007aff;

        --red-1: #ff2d55;

        --orange-1: #fd9900;

        --const-1: #17171d;
        --const-2: #f5f5f7;
	}
}

@media screen and (prefers-color-scheme: dark) {
	:root {
        --soft-1: #1d1d1fb8;
                --soft-2: #00000080;
        
		--gray-a: black;
		--gray-b: white;
		
		--gray-1: #f5f5f7;
		--gray-2: #8e8e93;
		--gray-3: #212125;
		--gray-4: #63636e;
		--gray-5: #212125;
		--gray-6: #63636e;
                --gray-7: #1c1c1e;
                --gray-8: #515154;
                --gray-9: #00000033;
                --gray-10: #d5d5e2;
                --gray-15: #121212;
                --gray-18: #17171d;
	
		--blue-1: #0a84ff;

        --red-1: #fb5c74;

        --orange-1: #ff9f00;

        --const-1: #17171d;
        --const-2: #f5f5f7;
	}
}
