.x {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}
.x {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden
}

/* 0 */

.no-scroll {
    height: 100%;
    overflow: hidden
}

.visible {
    opacity: 1 !important;
    pointer-events: auto !important
}
.active {
    opacity: 1 !important
}

/* 1 */

section.ss {
    z-index: 5;

    position: fixed;

    inset: 0 0 auto;

    margin-top: 1em;

    opacity: 1;
    pointer-events: none;

    display: flex;
    justify-content: center
}
section.ss h6 {
    width: 5cm;

    padding: .8em;

    border-radius: 25px;

    text-align: center;

    -webkit-backdrop-filter: saturate(180%) blur(20px); backdrop-filter: saturate(180%) blur(20px);
    background-color: var(--soft-1)
}

/* 1 */

section.zz {
    z-index: 5;

    position: fixed;

    inset: 0;

    opacity: 0;
    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--soft-2);

    overflow: hidden scroll;

    transition: opacity .5s ease 0s
}

section.zz main {
    width: 8cm;

    border-radius: 20px;

    text-align: center;

    -webkit-backdrop-filter: saturate(180%) blur(20px); backdrop-filter: saturate(180%) blur(20px);
    background-color: var(--soft-1)
}

section.zz :where(ul, li:last-child) {
    margin: 2em 0
}
section.zz li:not(:last-child) {
    margin-top: 1em
}
section.zz li:not(:nth-child(4)) > * {
    margin: 0 1.5em
}
section.zz li:nth-child(4) {
     border: solid var(--gray-9);
     border-width: 1em 0
}

section.zz h5 {
    font: normal 600 17px system-ui;
    letter-spacing: 0
}

section.zz table {
    padding: 1.5em;

    width: 100%
}
section.zz td {
    vertical-align: middle
}
section.zz td:nth-child(odd) {
    text-align: left
}
section.zz td:nth-child(even) {
    text-align: right
}
section.zz :where(td:first-child, li:last-child h6) {
    opacity: .3
}

section.zz div button {
    width: 100%;

    padding: .8em 0;

    border-top: .1px solid var(--gray-8);

    font: normal 400 17px system-ui;
    letter-spacing: 0;

    background: none
}
section.zz div button:last-child {
    font-weight: 600
}

section.zz div button:disabled {
    color: #007aff80
}

/* 1 */

nav {
    z-index: 5;

    position: fixed;

    top: 0;
    width: 100%;

    padding: 1em;

    text-align: center;

    border-bottom: .1px solid var(--gray-3);

    /* border: solid var(--gray-7);
    border-width: .1px 0; */

    -webkit-backdrop-filter: saturate(180%) blur(20px); backdrop-filter: saturate(180%) blur(20px);
    background-color: var(--soft-1)
}
nav h6 {
    font: normal 400 14px/1.42859 system-ui;
    letter-spacing: 0
}

/* 5 */

section.rr {
        margin: 0 var(--padding)
}
section.rr :where(h4, p) {
        text-align: center
}

section.rr h4 {
        margin-top: .5cm;

	font: normal 600 17px/1.47059 system-ui;
    letter-spacing: 0
}
section.rr p {
        color: var(--gray-6)
}
section.rr h5 {
        margin-top: .8em;

	font: normal 400 14px/1.42859 system-ui;
    letter-spacing: 0;

    color: var(--gray-10)
}

section.rr figure {
	aspect-ratio: 1/1;

	background: center/cover
}

/* 1 */

@media screen and (min-width: 320px) and (max-width: 896px) {
	section.bb {
		margin: .5cm auto 0;
		width: 90%
	}
}

section.bb > div {
     display: flex
}

section.bb select {
	width: 100%;
    height: 48px;

    border-radius: 13px
}
section.bb select:first-child {
        margin-right: .8em
}
section.bb select {
        padding-left: 3.5em;

	font: normal 600 16px system-ui;
    letter-spacing: 0;

	background-color: var(--gray-5);
	color: var(--blue-1)
}
section.bb select:focus {
    opacity: .5
}

/* ww */

section.ww video {
    margin-top: 1cm;

    width: 100%;

    aspect-ratio: 21/9;
    object-fit: cover;

    background-color: var(--gray-15)
}

/* nn */

section.nn ul {
    display: grid;
    grid-auto-flow: column;

    overflow-x: scroll;

    scroll-snap-type: x mandatory;
    scroll-padding-left: var(--padding)
}
section.nn ul li {
    scroll-snap-align: start
}

section.nn img {
	width: 6.5cm
}

/* pp */

section.pp {
	/* margin: .5cm auto;
	width: 90% */
}

section.pp figure {
    width: 180px;
    height: 90px;

    border-radius: 8px;

    background: center/cover var(--gray-18)
}

/* uu */

section.uu {
        margin: 0 var(--padding)
}

dl > div {
	display: table-row
}
dl div > * {
	display: table-cell;
	vertical-align: baseline;

	font: normal 400 13px/1.38462 system-ui;
	letter-spacing: -.005em
}

dl div + div dt {
	padding-top: 8px
}

dl dt {
	text-align: right;
	color: var(--gray-6)
}
dl dd {
	padding-left: 20px;
	color: var(--gray-10)
}

section.uu select {
	background: none;
	color: var(--blue-1)
}

/* 1 */

.string div {
	font: inherit
}

.hide {
	position: relative
}
.hide div {
	max-height: 60px;

	-webkit-mask: linear-gradient(to top, transparent 16px, black 0), linear-gradient(to left, transparent 40px, black 60px)
}
.hide a {
	position: absolute;

	right: 0;
	bottom: 0
}

/* 1 */

section.ff {
	margin-bottom: .5cm;

	display: flex;
	justify-content: space-evenly
}
section.ff h5 {
	font: normal 400 11px/1.2 system-ui;
    letter-spacing: -.008em;

	color: var(--gray-6)
}

/* 1 */

section.hh {
	/* text-align: center */
}

section:where(.hh, .pp) ul {
	display: grid;
    grid-auto-flow: column;
    column-gap: 1em;

	overflow-x: scroll;

    scroll-snap-type: x mandatory;
    scroll-padding-left: var(--padding)
}

section:where(.hh, .pp) ul li {
	scroll-snap-align: start
}

section.hh ul li:first-child, section.pp ul li:first-child {
    padding-left: var(--padding)
}
section.hh ul li:last-child, section.pp ul li:last-child {
    padding-right: var(--padding)
}

section.hh ul li a {
	display: block;
	border-radius: 22px
}
section.hh ul li figure {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 250px;
	height: 210px;

	background: center/cover var(--gray-18)
}

section.hh h5 {
	font: normal 600 14px/1.2 system-ui;
    letter-spacing: 0
}

/* 1 */

section.tt {
         margin: 3em var(--padding) 0
 }
 section.tt h3 {
     margin: .48em 0;

     font: normal 700 21px/1.14286 system-ui;
     letter-spacing: 0
 }

/* 1 */

section.kk a {
	display: block;

	padding-left: var(--padding)
}

section.kk li + li h5 {
	border-top: .1px solid var(--gray-3)
}

section.kk h5 {
	padding: 10px 0;

	font: normal 400 21px system-ui;
    letter-spacing: 0;

	color: inherit
}

/* 9 */

footer {
    padding-bottom: env(safe-area-inset-bottom);
	
    background-color: var(--gray-8)
}
footer ul {
    padding: 1em 0
}
footer li {
    margin: 0 max(env(safe-area-inset-right), 16px) 0 max(env(safe-area-inset-left), 16px);

    color: var(--gray-9)
}
footer li + li {
	margin-top: 1em
}

/* 4 */

@media screen and (min-width: 896px) {
	/* section.rr {
		margin: 2cm auto 0;
		width: 80%;
		
		display: flex
	}
	section.vv {
		width: 45%
	}
	section.vv h5 {
		font: normal 600 17px/1.2 system-ui;
		letter-spacing: 0
	}
	section.bb {
		margin: auto 0 auto auto;
		width: 35%
	} */
}
@media screen and (min-width: 320px) and (max-width: 728px) {
	:root {
        --padding: 20px
    }
}

/* 4 */

@media screen and (prefers-color-scheme: light) {
	:root {
        --soft-1: #f5f5f7b8;
                --soft-2: #ffffffcc;

		--gray-a: white;
		--gray-b: black;

		--gray-1: #1d1d1f;
		--gray-2: #8e8e93;
		--gray-3: #d2d2d7;
		--gray-4: #86868b;
		--gray-5: #e8e8ed;
		--gray-6: #aaaab3;
        --gray-7: #f5f5f7;
                --gray-8: #d2d2d7;
                --gray-9: #0000000d;
                --gray-10: #1d1d1f;
                --gray-15: #f5f5f5;
                --gray-18: #f5f5f7;
		
		--blue-1: #007aff;

        --red-1: #ff2d55;

        --orange-1: #fd9900;

        --const-1: #17171d;
        --const-2: #f5f5f7;
	}
}

@media screen and (prefers-color-scheme: dark) {
	:root {
        --soft-1: #1d1d1fb8;
                --soft-2: #00000080;
        
		--gray-a: black;
		--gray-b: white;
		
		--gray-1: #f5f5f7;
		--gray-2: #8e8e93;
		--gray-3: #212125;
		--gray-4: #63636e;
		--gray-5: #212125;
		--gray-6: #63636e;
                --gray-7: #1c1c1e;
                --gray-8: #515154;
                --gray-9: #00000033;
                --gray-10: #d5d5e2;
                --gray-15: #121212;
                --gray-18: #17171d;
	
		--blue-1: #0a84ff;

        --red-1: #fb5c74;

        --orange-1: #ff9f00;

        --const-1: #17171d;
        --const-2: #f5f5f7;
	}
}
