/* ww */

section.ww video {
    width: 100%;

    aspect-ratio: 21/9;
    object-fit: cover;

    background-color: var(--gray-15)
}

/* rr */

section.rr {
        margin: .5cm var(--padding) 0
}
section.rr :where(h4, p) {
        text-align: center
}

section.rr h4 {
	font: 600 17px/1.47059 system-ui
}
section.rr p {
        color: var(--gray-6)
}

section.rr h5 {
        margin-top: .8em;

	font: 14px/1.42859 system-ui;
        letter-spacing: -.01em;

    color: var(--gray-10)
}

.string div {
	font: inherit;
        letter-spacing: inherit
}

.hide {
	position: relative
}
.hide div {
	max-height: 60px;

	-webkit-mask: linear-gradient(to top, transparent 16px, black 0), linear-gradient(to left, transparent 40px, black 60px)
}
.hide span {
	position: absolute;

        inset: auto 0 0 auto;
	
	color: var(--blue-1)
}

/* tt */

section.tt {
        margin: 35px var(--padding) 0;
        padding: 10px 0;

        border-top: .1px solid var(--gray-3)
}
 section.tt h3 {
     font: 700 21px/1.14286 system-ui
}

/* pp */

section:where(.pp, .bb, .ff, .hh) ul {
	display: grid;
    grid-auto-flow: column;
    column-gap: 1em;

	overflow-x: scroll;

    scroll-snap-type: x mandatory;
    scroll-padding-left: var(--padding)
}

section:where(.pp, .bb, .ff, .hh) ul li {
	scroll-snap-align: start
}

section:where(.pp, .bb, .ff, .hh) ul li:first-child {
    padding-left: var(--padding)
}
section:where(.pp, .bb, .ff, .hh) ul li:last-child {
    padding-right: var(--padding)
}

section:where(.pp, .ff, .hh) a {
        width: 250px;

        display: block;
	
	border-radius: 10px
}
section:where(.pp, .ff, .hh) figure {
	height: 120px;
	
	background: center/cover var(--gray-18);
	
	-webkit-mask: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M249.72583,7.89532a9.99245,9.99245,0,0,0-.87726-2.74145,7.84917,7.84917,0,0,0-1.69964-2.3028,11.349,11.349,0,0,0-2.3028-1.69964,9.64063,9.64063,0,0,0-2.68665-.87726A25.06752,25.06752,0,0,0,239.30841,0H10.69159A12.56424,12.56424,0,0,0,7.84052.27417a9.09068,9.09068,0,0,0-2.68665.87726,7.84917,7.84917,0,0,0-2.3028,1.69964,11.349,11.349,0,0,0-1.69964,2.3028A9.43212,9.43212,0,0,0,.27417,7.89532,25.06922,25.06922,0,0,0,0,10.7464v98.5072a12.56438,12.56438,0,0,0,.27417,2.85108,9.9918,9.9918,0,0,0,.87726,2.74145,7.84917,7.84917,0,0,0,1.69964,2.3028,10.01393,10.01393,0,0,0,2.3028,1.69964,9.64,9.64,0,0,0,2.68665.87726A25.06752,25.06752,0,0,0,10.69159,120H239.30841a12.56424,12.56424,0,0,0,2.85107-.27417,9.09125,9.09125,0,0,0,2.68665-.87726,7.84917,7.84917,0,0,0,2.3028-1.69964,10.01393,10.01393,0,0,0,1.69964-2.3028,9.431,9.431,0,0,0,.87726-2.74145A25.06791,25.06791,0,0,0,250,109.2536V10.7464A12.5647,12.5647,0,0,0,249.72583,7.89532Z'/%3e%3c/svg%3e") no-repeat
}

/* uu */

section.uu {
        margin: 0 var(--padding)
}

section.uu dl > div {
	display: table-row
}
section.uu dl div > * {
	display: table-cell;
	vertical-align: baseline;

	font: 13px/1.38462 system-ui;
	letter-spacing: -.005em
}

section.uu dl div + div dt {
	padding-top: 8px
}

section.uu dl dt {
	padding-right: 20px;
	
	text-align: right;
	
	color: var(--gray-6)
}
section.uu dl dd {
	color: var(--gray-10)
}

section.uu select {
	background: none;
	color: var(--blue-1)
}

/* bb */

section.bb {
    text-align: center
}

section.bb figure {
	width: 90px;
	height: 90px;
	
	border-radius: 100%;
	border: .1px solid var(--gray-3);
	
	background: center/cover var(--gray-18)
}

section.bb :where(h6, p) {
	width: 90px;
	
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}
section.bb h6 {
	margin-top: .8em
}
section.bb p {
	font: 11px/1.25648 system-ui
}

/* ff */

section.ff figure {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding: 10px
}

section.ff div {
        display: inherit;
        justify-content: inherit
}

section.ff p {
        display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;

        font: 14px/1.42859 system-ui
}

section.ff :where(p b, time) {
        color: var(--gray-6)
}

section.ff h5 {
        margin: 0 10%;

        height: 120px;

        display: flex;
        align-items: center;

        text-align: center;

        font: 16px/1.47059 system-ui;

        color: var(--gray-6)
}

/* hh */

section.hh figure {
        display: flex;
        align-items: flex-end;
        justify-content: center;

        padding: 10px
}
section.hh figure:before {
    z-index: 1;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 251 121'%3e%3cpath d='m248.728149,8.759901a9.909171,9.818429 0 0 0 -0.869965,-2.693707a7.783754,7.712475 0 0 0 -1.685486,-2.262696a11.254416,11.151354 0 0 0 -2.2836,-1.67004a9.560283,9.472736 0 0 0 -2.664261,-0.861982a24.858603,24.630964 0 0 0 -2.827286,-0.269395l-226.711497,0a12.459526,12.34543 0 0 0 -2.827309,0.269395a9.014917,8.932364 0 0 0 -2.66426,0.861982a7.783754,7.712475 0 0 0 -2.283608,1.67004a11.254416,11.151354 0 0 0 -1.685475,2.262696a9.353512,9.267859 0 0 0 -0.869949,2.693707a24.860289,24.632633 0 0 0 -0.271884,2.801428l0,96.791683a12.459667,12.345569 0 0 0 0.271884,2.801422a9.908527,9.817792 0 0 0 0.869949,2.693718a7.783754,7.712475 0 0 0 1.685475,2.262695a9.930472,9.839535 0 0 0 2.283608,1.670036a9.559658,9.472116 0 0 0 2.66426,0.861977a24.858603,24.630964 0 0 0 2.827309,0.269394l226.711497,0a12.459526,12.34543 0 0 0 2.827286,-0.269394a9.015482,8.932924 0 0 0 2.664261,-0.861977a7.783754,7.712475 0 0 0 2.2836,-1.670036a9.930472,9.839535 0 0 0 1.685486,-2.262695a9.3524,9.266757 0 0 0 0.869965,-2.693718a24.858988,24.631344 0 0 0 0.271866,-2.801422l0,-96.791683a12.459984,12.345882 0 0 0 -0.271866,-2.801428z' fill-opacity='0' opacity='.15' stroke='%23808080' stroke-width='2'/%3e") no-repeat
}

section.hh h6 {
        font: 600 12px/1.33337 system-ui;

        color: white
}

/* kk */

section.kk {
        margin-bottom: env(safe-area-inset-bottom)
}

section.kk a {
	display: block;

	padding-left: var(--padding)
}

section.kk li + li h5 {
	border-top: .1px solid var(--gray-3)
}

section.kk h5 {
	padding: 10px 0;

	font: 21px system-ui;

	color: inherit
}

/* var */

@media screen and (min-width: 320px) and (max-width: 728px) {
	:root {
        --padding: 20px
    }
}

/* color */

@media screen and (prefers-color-scheme: light) {
	:root {
        --soft-1: #f5f5f7b8;
                --soft-2: #ffffffcc;

		--gray-a: white;
		--gray-b: black;

		--gray-1: #1d1d1f;
		--gray-2: #8e8e93;
		--gray-3: #d2d2d7;
		--gray-4: #86868b;
		--gray-5: #e8e8ed;
		--gray-6: #aaaab3;
        --gray-7: #f5f5f7;
                --gray-8: #d2d2d7;
                --gray-9: #0000000d;
                --gray-10: #1d1d1f;
                --gray-15: #f5f5f5;
                --gray-18: #f5f5f7;
		
		--blue-1: #007aff;

        --red-1: #ff2d55;

        --orange-1: #fd9900;

        --const-1: #17171d;
        --const-2: #f5f5f7;
	}
}

@media screen and (prefers-color-scheme: dark) {
	:root {
        --soft-1: #1d1d1fb8;
                --soft-2: #00000080;
        
		--gray-a: black;
		--gray-b: white;
		
		--gray-1: #f5f5f7;
		--gray-2: #8e8e93;
		--gray-3: #212125;
		--gray-4: #63636e;
		--gray-5: #212125;
		--gray-6: #63636e;
                --gray-7: #1c1c1e;
                --gray-8: #515154;
                --gray-9: #00000033;
                --gray-10: #d5d5e2;
                --gray-15: #121212;
                --gray-18: #17171d;
	
		--blue-1: #0a84ff;

        --red-1: #fb5c74;

        --orange-1: #ff9f00;

        --const-1: #17171d;
        --const-2: #f5f5f7;
	}
}
