/* pp */

section.pp {
    opacity: 0;
    pointer-events: none;

    z-index: 1;
    position: fixed;
    inset: 0 0 auto auto;

    margin: 3em;

    width: 80px;
    height: 80px;

    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    -webkit-backdrop-filter: saturate(180%) blur(20px);

    background-color: var(--soft-2);

    transition: opacity 2s ease-out
}

section.pp svg {
    margin-top: 3px;

    fill: var(--soft)
}

.qq {
    opacity: 1 !important;

    transition: opacity .5s !important
}

/* mm */

section.mm {
    margin-top: var(--padding-2)
}

section.mm>ul {
    padding-inline: var(--padding-2);

    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    column-gap: var(--padding-2);

    overflow-x: scroll;

    scroll-snap-type: x mandatory;
    scroll-padding-left: var(--padding-2)
}

section.mm>ul>li {
    scroll-snap-align: start
}

section.mm>ul>li>section {
    width: var(--screen-padding-2);
    height: var(--screen-padding-y);

    border-radius: 15px;

    -webkit-backdrop-filter: blur(5px);
    background-color: var(--gray-15)
}

/* ee */

section.ee {
    display: flex;
    flex-flow: column
}

section.ee ul {
    margin-top: 2em;
    padding-inline: 10px;

    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;

    overflow-x: scroll
}

section.ee li {
    padding-inline: 20px;

    text-align: center
}

section.ee li+li {
    border-left: .1px solid var(--gray-3)
}

section.ee svg {
    height: 21px;

    fill: var(--gray)
}

section.ee p {
    padding-bottom: .8em;

    font: 600 11px ui-rounded;
    letter-spacing: .08em
}

section.ee h6 {
    font-size: 10px;

    color: var(--gray-2)
}

section.ee h4 {
    font: 600 21px ui-rounded
}

section.ee h1 {
    font: 600 21px ui-serif
}

section.ee h5 {
    font: 600 12px/1 ui-rounded
}

section.ee h3 {
    font: 600 14px ui-rounded
}

section.ee a {
    margin: auto
}

section.ee img {
    width: 180px;

    aspect-ratio: 1/1.6;
    object-fit: cover;

    border-radius: 5px;

    background: center/cover;
    
    box-shadow: 0 5px 10px #00000040
}

section.ee div {
    margin: 0 2em 1em;

    display: flex;
    align-items: center;
    justify-content: space-between
}

section.ee div h1 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden
}

section.ee h2 {
    font: 600 21px system-ui
}

/* ww */

section.ww figure:first-child {
    position: absolute;
    inset: 0;

    border-radius: 15px;

    transition: opacity .7s ease
}

section.ww figure:first-child figure {
    padding: 1em;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background: center/cover
}
section.ww figure:first-child h1 {
    text-align: center;

    font: 600 17px system-ui;

    text-shadow: 0 0 5px black;

    color: white
}
section.ww figure:first-child h1 u {
    font-family: ui-serif;
}

.a figure:first-child {
    opacity: 0 !important
}

section.ww div {
    text-align: center
}

section.ww figcaption:first-child {
    margin-inline: calc(10px + 51px) 10px;
    padding-top: 1cm;

    display: flex
}

section.ww h2 {
    margin-bottom: .5em;

    width: calc(var(--screen-padding-2) - 122px);

    text-overflow: ellipsis;
    overflow: hidden;

    font: 600 17px/1 system-ui
}

section.ww button {
    padding: .3em 1em;

    border-radius: 15px;

    font: 700 14px system-ui;

    background-color: var(--soft-3)
}

.aa {
    color: var(--gray)
}

section.ww figcaption.fff img {
    padding: 3px;

    width: 51px;

    object-fit: cover;
    aspect-ratio: 1;

    border-radius: 100%;

    border: 2px solid var(--blue)
}

section.ww figcaption.eee {
    margin-top: 3cm;

    display: flex;
    justify-content: space-around
}

section.ww p {
    font-size: 10px
}

section.ww h5 {
    font: 700 48px ui-rounded
}

section.ww main {
    margin: 3cm 10px 0
}
section.ww main li {
    height: 250px;

    border-radius: 15px;

    background-color: var(--soft-2)
}
section.ww main li+li {
    margin-top: 1em
}

/* hr */

hr {
    margin-inline: var(--padding)
}

/* tt */

section.tt {
    margin: .6cm var(--padding)
}

section.tt h5 {
    font: 800 16px ui-serif
}

/* uu */

section.uu {
    overflow: hidden;
    margin: 0 2em 2em
}

section.uu>* {
    font: 14px/1.4 system-ui !important
}

/* text hide */

.hide {
    position: relative
}

.hide h6 {
    max-height: 95px;

    -webkit-mask: linear-gradient(to top, #00000010, black)
}

.hide span {
    position: absolute;

    inset: auto 0 0 auto;

    color: var(--blue)
}

/* rr */

section.rr>a {
    margin: 1cm var(--padding);

    display: block;

    -webkit-tap-highlight-color: transparent
}

section:where(.rr, .ff) ul {
    padding-inline: var(--padding);

    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    column-gap: var(--gap);

    overflow-x: scroll;

    scroll-snap-type: x mandatory;
    scroll-padding-left: var(--padding)
}

section:where(.rr, .ff) li {
    scroll-snap-align: start
}

section.rr ul {
    padding-bottom: .6cm
}

section.rr li h1 {
    font: 500 14px system-ui
}

section.rr li a {
    display: block;

    border-radius: 5px
}

section.rr>a h5 {
    font: 700 19px ui-serif
}

section.rr li figure {
    width: var(--li-3);

    aspect-ratio: 1/1.6;

    border-radius: 5px;

    overflow: hidden;

    background: center/cover;

    box-shadow: 0 5px 10px #00000040
}

section.rr li h6 {
    height: -webkit-fill-available;

    padding: .8em;

    display: flex;
    justify-content: end;

    font: 11px ui-rounded;

    background-image: linear-gradient(to top right, transparent 60%, #000000cc);
    color: white
}

/* zz */

section.zz li figure {
    width: var(--li-2)
}

/* ff */

section.ff {
    margin-block: .6cm
}

section.ff a {
    display: block;

    border-radius: 10px
}

section.ff figure {
    padding: 10px;

    width: var(--screen-padding);
    height: 100px;

    display: flex;
    flex-flow: column;
    justify-content: space-between;

    border-radius: 9px;

    background-color: var(--gray-15)
}

section.ff div {
    display: inherit;
    justify-content: inherit
}

section.ff h6 {
    font-family: ui-rounded
}

section.ff p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

    font: 14px/1.42859 system-ui
}

section.ff :where(p b, time) {
    color: var(--gray-6)
}

section.ff h5 {
    margin-inline: 10%;

    height: 120px;

    display: flex;
    align-items: center;

    text-align: center;

    font: 16px/1.47059 system-ui;

    color: var(--gray-6)
}

/* footer */

footer {
    padding: var(--padding);

    background-color: var(--gray-15)
}

footer ul+ul {
    margin-top: 1cm
}

footer li+li {
    margin-top: .8em
}

footer a {
    padding: 1.5em 2em;

    display: block;

    background-color: var(--gray-a);

    border-radius: 18px
}

footer h6 {
    font: 600 18px system-ui;

    color: inherit
}

/* var */

:root {
    --padding: 30px;
    --padding-2: 15px;
    --screen-padding: calc(var(--screen-x) - var(--padding) * 2);
    --screen-padding-2: calc(var(--screen-x) - var(--padding-2) * 2);
    --screen-padding-y: calc(var(--screen-y) - var(--padding));
    --gap: 18px;
    --li-2: calc(var(--screen-padding) / 2 - (var(--gap) / 2));
    --li-3: calc(var(--screen-padding) / 3 - (var(--gap) * 2 / 3))
}

/* color */

@media screen and (prefers-color-scheme: light) {
    :root {
        --soft: #00000030;
        --soft-2: #00000005;
        --soft-3: #00000010;

        --gray-a: white;
        --gray-b: black;

        --gray: #1d1d1f;
        --gray-2: #8e8e93;
        --gray-3: #d2d2d7;
        --gray-6: #aaaab3;
        --gray-15: #f2f2f6;

        --blue: #007aff;

        --red: #ff2d55;

        --green: #31c692;

        --orange: #fd9900;
    }
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --soft: #ffffff40;
        --soft-2: #ffffff05;
        --soft-3: #ffffff10;

        --gray-a: black;
        --gray-b: white;

        --gray: #f5f5f7;
        --gray-2: #8e8e93;
        --gray-3: #333338;
        --gray-6: #63636e;
        --gray-15: #121212;

        --blue: #0a84ff;

        --red: #fb5c74;

        --green: #77ffc6;

        --orange: #ff9f00;
    }
}
