/* body */

body {
    background-color: var(--canvas-11)
}

/* ee */

section.ee {
    pointer-events: none;
    opacity: 0;
    transform: scale(0.5);

    z-index: 2;
    position: fixed;
    inset: 0 0 auto;

    width: 350px;

    margin: 1.5em auto;

    border-radius: 12px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    -webkit-backdrop-filter: blur(20px);

    transition: opacity .5s, transform .8s ease
}
section.ee select:nth-child(2) {
    border-width: 0 1px;
    border-style: solid;
    border-color: var(--soft-3)
}

section.ee select {
    flex-direction: column;
    text-align: -webkit-center;

    padding-block: 10px;

    width: -webkit-fill-available;

    border-radius: 0;

    font: 600 12px system-ui;

    color: var(--gray-1)
}

section.ee ul {
    display: flex
}
section.ee li {
    width: 20px;
    height: 20px;

    margin: 5px;

    border-radius: 100%;
}

.eee {
    pointer-events: auto !important;
    opacity: 1 !important;
    transform: scale(1) !important
}

/* ww */

section.ww {
    opacity: 1;
    transform: scale(1);
    
    z-index: 1;
    position: fixed;
    inset: 0 0 auto;

    width: 50px;
    height: 7px;

    margin: 2.8em auto 0;

    border-radius: 5px;

    -webkit-tap-highlight-color: transparent;

    -webkit-backdrop-filter: saturate(180%) blur(20px);
    background-color: var(--soft-3);

    transition: opacity .5s, transform .8s ease
}

.www {
    opacity: 0 !important;
    pointer-events: none;
    transform: scale(2) !important
}

/* vv */

section.vv {
    margin: 2.8cm 1.2cm 1.2cm
}

section.vv h5 {
    margin-block: 3em;

    text-align: center;
    font: 600 19px ui-serif;

    color: var(--canvas-22)
}
section.vv h6::first-letter {
    margin-left: 1cm
}
section.vv h6 {
    margin-bottom: 1em;
    
    font: 17px ui-serif;
    text-align: justify;

    color: var(--canvas-22)
}

section.vv ol {
    opacity: .6;
    
    margin: 3cm 0 0 auto;

    width: -webkit-fit-content;

    list-style: outside decimal;
    color: var(--canvas-22)
}
section.vv ol li {
    font-family: ui-serif
}

.yyo h6 {
    font-size: 20px !important;
    font-weight: 600 !important;
    line-height: 1.5 !important
}
.yyu h6 {
    font-size: 20px !important
}
.yyy h6 {
    font-size: 14px !important
}

.sss :where(h5, h6, ol li) {
    font-family: system-ui !important
}

.rrr {
    background-color: var(--canvas-1) !important
}
.rrr :where(h5, h6, ol) {
    color: var(--canvas-2) !important
}

/* bb */

section.bb {
    margin-inline: 1.2cm;
    margin-bottom: env(safe-area-inset-bottom)
}
section.bb div {
    display: flex;
    justify-content: space-between
}
section.bb a {
    margin-block: 1em;

    display: block;

    font-weight: 600;

    color: var(--gray-1)
}

section.bb hr {
    opacity: .2;

    border-color: var(--gray-1)
}

/* var */

@media screen and (min-width: 320px) and (max-width: 728px) {
    :root {
        --padding: 30px
    }
}

@media screen and (min-width: 920px) {
    section.vv {
        padding: 1cm 10cm
    }
}

/* color */

@media screen and (prefers-color-scheme: light) {
    :root {
        --soft-1: #f5f5f7b8;
        --soft-2: #ffffffcc;
        --soft-3: #00000016;

        --gray-a: white;
        --gray-b: black;

        --gray-1: #1d1d1f;
        --gray-2: #8e8e93;
        --gray-3: #d2d2d7;
        --gray-4: #86868b;
        --gray-5: #e8e8ed;
        --gray-6: #aaaab3;
        --gray-7: #f5f5f7;
        --gray-8: #d2d2d7;
        --gray-9: #0000000d;
        --gray-10: #1d1d1f;
        --gray-15: #f5f5f5;
        --gray-18: #f5f5f7;
        --gray-19: #e3e3e880;
        --gray-20: #00000080;
        --gray-21: #0000000f;

        --canvas-1: #feddbc;
        --canvas-2: #5b3f2a;
        --canvas-11: #f2f2f9;
        --canvas-22: #4b4b57;

        --blue-1: #007aff;

        --red-1: #ff2d55;

        --orange-1: #fd9900;

        --const-1: #17171d;
        --const-2: #f5f5f7;
    }
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --soft-1: #1d1d1fb8;
        --soft-2: #00000080;
        --soft-3: #ffffff26;

        --gray-a: black;
        --gray-b: white;

        --gray-1: #f5f5f7;
        --gray-2: #8e8e93;
        --gray-3: #212125;
        --gray-4: #63636e;
        --gray-5: #212125;
        --gray-6: #63636e;
        --gray-7: #1c1c1e;
        --gray-8: #515154;
        --gray-9: #00000033;
        --gray-10: #d5d5e2;
        --gray-15: #121212;
        --gray-18: #17171d;
        --gray-19: #24242d80;
        --gray-20: #ffffff80;
        --gray-21: #00000060;

        --canvas-1: #120b08;
        --canvas-2: #a9938d;
        --canvas-11: #1a1a1c;
        --canvas-22: #a7a7b3;

        --blue-1: #0a84ff;

        --red-1: #fb5c74;

        --orange-1: #ff9f00;

        --const-1: #17171d;
        --const-2: #f5f5f7;
    }
}
