hr {
    margin-inline: var(--padding)
}

/* bb */

section.bb {
    z-index: 1;
    position: fixed;
    inset: 0 0 auto;

    padding: 1em 16px;

    display: flex;
    justify-content: space-between;

    -webkit-backdrop-filter: saturate(180%) blur(20px);

    background: linear-gradient(to top, transparent, var(--gray-a))
}

section.bb a {
    font: 17px system-ui
}

section.bb a:last-child {
    font-weight: 600
}

/* ww */

section.ww {
    margin: 1.5cm var(--padding) .5cm
}

section.ww h1 {
    font: 700 36px/1 ui-serif
}

/* uu */

section.uu {
    margin: .4cm var(--padding)
}

section.uu h6 {
    font: 14px/1.4 ui-serif;
    letter-spacing: .01em
}

section.uu a {
    display: flex;
    justify-content: end;
    
    font-size: 14px;
}

/* rr */

section.rr>a {
    margin: 1cm var(--padding);

    display: block;

    -webkit-tap-highlight-color: transparent
}

section.rr ul {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    column-gap: 24px;

    padding-inline: var(--padding);

    overflow-x: scroll;

    scroll-snap-type: x mandatory;
    scroll-padding-left: var(--padding)
}

section.rr li {
    scroll-snap-align: start
}

section.rr ul {
    padding-bottom: 2cm;
}

section.rr li h1 {
    font: 500 14px system-ui
}

section.rr li a {
    display: block;

    border-radius: 5px
}
section.rr > a h5 {
    font: 700 19px ui-serif
}
section.rr li h6 {
    font: 11px ui-rounded;

    color: white
}

section.rr li figure {
    width: var(--width-2);
    
    aspect-ratio: 1/1.6;

    border-radius: 5px;

    padding: .8em;

    display: flex;
    justify-content: end;

    box-shadow: 0 10px 20px #00000050;

    background: center/cover
}

/* vv */

section.vv {
    margin: 0 var(--padding) env(safe-area-inset-bottom);
    padding-block: .5cm;

    z-index: 1;
    position: fixed;
    inset: auto 0 0;

    display: flex;
    justify-content: space-between;

    border-top: .1px solid var(--gray-3)
}

section.vv div {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
section.vv h5 {
    font: 600 14px ui-rounded;
    color: var(--orange-1)
}

section.vv figure {
    width: 50px;
    aspect-ratio: 1/1.6;

    border-radius: 2px;

    box-shadow: 0 10px 20px #00000050;

    background: center/cover
}

section.vv a {
    margin-block: 1em;

    display: block;

    text-align: center;

    font-size: 14px;

    color: var(--gray-b)
}

section.vv button {
    -webkit-appearance: -apple-pay-button;
    -apple-pay-button-type: buy;
    -apple-pay-button-style: var(--gray-b);

	width: 100%;
    height: 38px;

    border-radius: 8px;

    font: 600 16px system-ui;

    background-color: var(--gray-5)
}

/* var */

@media screen and (min-width: 320px) and (max-width: 728px) {
    :root {
        --padding: 30px;
        --width: calc(var(--screen) - var(--padding) * 2);
        --width-2: calc(var(--width) / 3 - (24px * 2 / 3));
        --shadow: linear-gradient(to top right, transparent 60%, #000000cc)
    }
}

/* color */

@media screen and (prefers-color-scheme: light) {
    :root {
        --soft-1: #f5f5f7b8;
        --soft-2: #ffffffcc;

        --gray-a: white;
        --gray-b: black;

        --gray-1: #1d1d1f;
        --gray-2: #8e8e93;
        --gray-3: #d2d2d7;
        --gray-4: #86868b;
        --gray-5: #e8e8ed;
        --gray-6: #aaaab3;
        --gray-7: #f5f5f7;
        --gray-8: #d2d2d7;
        --gray-9: #0000000d;
        --gray-10: #1d1d1f;
        --gray-15: #f2f2f6;
        --gray-18: #f5f5f7;
        --gray-19: #e3e3e880;
        --gray-20: #00000080;
        --gray-21: #00000008;

        --blue-1: #007aff;

        --red-1: #ff2d55;

        --orange-1: #fd9900;

        --const-1: #17171d;
        --const-2: #f5f5f7;
    }
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --soft-1: #1d1d1fb8;
        --soft-2: #00000080;

        --gray-a: black;
        --gray-b: white;

        --gray-1: #f5f5f7;
        --gray-2: #8e8e93;
        --gray-3: #212125;
        --gray-4: #63636e;
        --gray-5: #212125;
        --gray-6: #63636e;
        --gray-7: #1c1c1e;
        --gray-8: #515154;
        --gray-9: #00000033;
        --gray-10: #d5d5e2;
        --gray-15: #17171d;
        --gray-18: #121212;
        --gray-19: #24242d80;
        --gray-20: #ffffff80;
        --gray-21: #00000060;

        --blue-1: #0a84ff;

        --red-1: #fb5c74;

        --orange-1: #ff9f00;

        --const-1: #17171d;
        --const-2: #f5f5f7;
    }
}
