/* img */

[data-url] {
    opacity: 0
}
[style] {
    opacity: 1;

    transition: opacity .4s cubic-bezier(0.4, 0, 0.25, 1)
}

/* rr */

section.rr {
    opacity: 0;
    pointer-events: none;

    z-index: 2;
    position: fixed;
    inset: 0 0 auto;

    padding: 15px;

    -webkit-backdrop-filter: saturate(180%) blur(20px);

    background-image: linear-gradient(var(--gray-a), var(--soft));

    transition: opacity .4s ease
}

section.rr ul {
    display: grid;
    grid-auto-flow: column;
    column-gap: 5px
}
section.rr li {
    height: 40px;

    border-radius: 10px;

    text-align: center;

    background-color: var(--soft-2)
}

section.rr h1 {
    opacity: .3;

    margin-top: 15px;

    text-align: center;

    font: 600 11px system-ui
}

/* pp */

@keyframes xx {
    0% {
        opacity: 0;
        transform: scale(.5)
    }

    20% {
        opacity: 1
    }

    45% {
        transform: scale(1.1)
    }

    75% {
        transform: scale(.95)
    }

    100% {
        transform: scale(1)
    }
}

section.pp {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;

    z-index: 1;
    position: fixed;
    inset: 0 0 auto;

    margin-top: 1cm;

    display: flex;
    align-items: center;
    justify-content: center;

    animation: xx .6s paused;

    transition: visibility 1s, opacity 1s
}

/* nn */

section.nn {
    margin: 35px;

    height: 500px;

    display: flex;
    align-items: center;
    justify-content: center
}

section.nn a {
    z-index: -1;
    position: fixed;

    width: 200px;
    aspect-ratio: 1/1.6;

    border-radius: 2px;

    background-size: cover;

    box-shadow: 0 5px 10px #00000040
}

/* mm */

section.mm {
    margin: 10px 15px;

    border-radius: 15px;

    display: flex;
    flex-flow: column;

    background-color: var(--gray-5)
}

section.mm div {
    margin: 20px;

    display: flex;
    flex-flow: wrap;
    gap: .5em
}

section.mm div h6 {
    padding: 4px 10px;

    border-radius: 7px;

    font: 600 14px ui-rounded;

    color: var(--gray-5)
}

.hhh div {
    margin: 0 5px 0 0 !important;

    width: 17px;
    height: 17px;

    border-radius: 50%;

    background-size: cover
}

/* tt */

section.tt {
    margin: 2cm 28px 10px
}

section.tt figcaption {
    display: flex;
    justify-content: end
}
section.tt figcaption div {
    width: 20px;
    height: 20px;

    border-radius: 50%;
    
    background-size: cover
}
section.tt figcaption div+div {
    margin-left: -5px
}
section.tt figcaption div:not(:last-child) {
    clip-path: path("M10,0 C12.2399275,0 14.3078476,0.736450727 15.9748365,1.98042818 C14.1294968,3.80371537 13,6.71711834 13,10 C13,13.2828817 14.1294968,16.1962846 15.9736639,18.0195079 C14.3078476,19.2635493 12.2399275,20 10,20 C4.4771525,20 0,15.5228475 0,10 C0,4.4771525 4.4771525,0 10,0 Z")
}

/* dd */

section.dd {
    margin: 15px
}
section.dd ul {
    display: grid;
    grid-auto-flow: row;
    row-gap: 10px
}

section.dd li {
    border-radius: 12px;

    contain: paint;

    background-color: var(--gray-5)
}

section.dd li figure>div:first-child {
    margin: 1em 2em 1em 1em;

    display: flex;
    justify-content: space-around
}
section.dd li figure>div:first-child p {
    display: inherit;
    align-items: center;

    font: 600 15px ui-rounded;

    color: var(--gray-4)
}
section.dd li figure>div:first-child p svg {
    margin-right: .8em
}

section.dd li figure>div:first-child div {
    width: 18px;
    height: 18px;

    border-radius: 50%;

    background: center/cover
}

section.dd li figure>h6 {
    margin: 1em;

    font-size: 13px
}

section.dd li figure>div:last-child {
    aspect-ratio: 1/1.4;

    background: center/cover
}

section.dd li figure>div:last-child div {
    height: 100%;

    padding: 1em;

    display: flex;
    flex-flow: column;
    justify-content: end;

    background: linear-gradient(transparent 60%, #00000060)
}

section.dd li figure>div:last-child div h5 {
    opacity: .8;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    font-weight: 600;

    color: white
}
section.dd li figure>div:last-child div h6 {
    opacity: .5;

    font-size: 11px
}

@keyframes xx {
    0% {
        opacity: 0;
        transform: scale(0)
    }

    30% {
        opacity: 1;
        transform: scale(1.15)
    }

    60% {
        transform: scale(.95)
    }

    100% {
        transform: scale(1)
    }
}

section.dd li icon {
    position: absolute;
    inset: 0;

    margin: auto;

    width: 80px;
    height: 80px;

    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z'/%3E%3C/svg%3E") no-repeat;

    animation: xx .5s cubic-bezier(0.29, 0.27, 0.49, 1.07)
}

/* color */

@media screen and (prefers-color-scheme: light) {
    :root {
        --soft: #ffffffaa;
        --soft-2: #00000008;

        --gray-a: white;
        --gray-b: black;

        --gray: #1d1d1f;
        --gray-2: #8e8e93;
        --gray-3: #d2d2d7;
        --gray-4: #c0c0c4;
        --gray-5: #f2f2f6;

        --link: #007aff;

        --blue: #3a8fff;
        --red: #ff2d55;
        --pink: #ff9cce;
        --violet: #9283ff;
        --green: #31c692;
        --orange: #fd9900;
        --slate: #7c8696;
    }
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --soft: #000000aa;
        --soft-2: #ffffff08;

        --gray-a: black;
        --gray-b: white;

        --gray: #f5f5f7;
        --gray-2: #8e8e93;
        --gray-3: #333338;
        --gray-4: #505052;
        --gray-5: #121212;

        --link: #0a84ff;

        --blue: #3a8fff;
        --red: #ff367c;
        --pink: #ec55df;
        --violet: #9283ff;
        --green: #77ffc6;
        --orange: #ff9f00;
        --slate: #7c8696;
    }
}
