/* media */

[data-i],
[data-v] {
    opacity: 0
}

img,
video {
    opacity: 1;

    transition: opacity .4s cubic-bezier(0.4, 0, 0.25, 1)
}

/* html, body */

html {
    overscroll-behavior-y: none
}

html,
body {
    height: 100%
}

/* n */

section.n {
    position: fixed;
    inset: 0 0 auto;

    margin: calc(env(safe-area-inset-top) + 20px) calc(env(safe-area-inset-right) + 20px);

    display: flex;
    column-gap: 5px
}

section.n div {
    flex-grow: 1;

    height: 3px;

    border-radius: 2px;

    background-color: #ffffff50
}

section.n span {
    height: inherit;

    border-radius: inherit;

    display: block;

    background-color: white
}

/* e */

section.e {
    height: calc(100% + env(safe-area-inset-top))
}

section.e>ul {
    height: 100%;

    display: grid;
    grid-auto-flow: column;

    overflow-x: scroll
}

section.e>ul>li {
    width: 100vw
}

/* li a */

section.e li.a {
    padding: calc(env(safe-area-inset-top) + 35px) calc(env(safe-area-inset-right) + 20px) calc(env(safe-area-inset-bottom) + 20px);

    display: flex;
    flex-flow: column;
    justify-content: space-between
}

section.e li.a .b {
    display: inherit;
    justify-content: inherit
}

section.e li.a h1 {
    font: 900 24px/1 ui-rounded
}

section.e li.a :where(h1, h3, h4) {
    color: white
}

section.e li.a h1 svg {
    margin-right: 8px
}

section.e li.a .j {
    text-align: center
}

section.e li.a h2 {
    font: 500 21px ui-serif;

    color: #ffffffaa
}

section.e li.a h3 {
    margin-block: .2em 1em;

    font: 900 semi-expanded 32px/1 system-ui
}

section.e li.a h4 {
    font: 700 14px ui-rounded
}

section.e li.a h4 u {
    margin-inline: .5em
}

/* li b */

section.e li.b {
    height: 100%;

    padding: calc(env(safe-area-inset-top) + 35px) calc(env(safe-area-inset-right) + 20px) calc(env(safe-area-inset-bottom) + 20px);

    display: flex;
    flex-flow: column;
    justify-content: space-between
}

section.e li.b h1 {
    font: 590 17px system-ui;
}

/* li h */

section.e li.h {
    overflow-y: scroll
}

section.e li.h .b {
    z-index: 9;
    margin-bottom: 1cm;
    
    aspect-ratio: 1
}

section.e li.h h1 {
    margin-bottom: 1cm;
    margin-inline: 20px;

    font: 700 28px system-ui;

    color: white
}

section.e li.h h2 {
    margin-bottom: 1cm;
    margin-inline: 20px;

    font: 590 17px system-ui;

    color: #8e8e9e
}

section.e li.h u {
    color: white
}

section.e li.h .n {
    font-family: ui-serif
}

section.e li.h .t {
    font-stretch: extra-condensed
}

/* color */

@media (prefers-color-scheme: light) {
    :root {
        --gray-a: black;
        --gray-b: black;

        --gray: #1d1d1f;
        --gray-2: #8e8e93;
        --gray-3: #eaeaee;
        --gray-4: #afafb1;
        --gray-5: #f2f2f6;

        --link: #007aff;

        --blue: #3a8fff;
        --red: #ff2d55;
        --pink: #ff9cce;
        --violet: #9283ff;
        --green: #31c692;
        --orange: #fd9900;
        --slate: #7c8696;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --gray-a: black;
        --gray-b: white;

        --gray: #f5f5f7;
        --gray-2: #8e8e93;
        --gray-3: #0e0e0e;
        --gray-4: #77777b;
        --gray-5: #151517;

        --link: #0a84ff;

        --blue: #3a8fff;
        --red: #ff367c;
        --pink: #ec55df;
        --violet: #9283ff;
        --green: #77ffc6;
        --orange: #ff9f00;
        --slate: #7c8696;
    }
}
