hr {
    margin-inline: var(--padding)
}

/* bb */

section.bb {
    z-index: 1;
    position: fixed;
    inset: 0 0 auto;

    padding: 4em var(--padding);

    display: flex;
    justify-content: space-between;

    -webkit-backdrop-filter: saturate(180%) blur(20px);

    background: linear-gradient(to top, var(--soft-2), var(--gray-a))
}

section.bb a {
    padding: .8em 1em;

    width: 100%;

    text-align: center;
    font: 600 14px system-ui;

    border-radius: 12px;

    background-color: var(--gray-18);
    color: var(--gray-b)
}

section.bb a:first-child {
    margin-right: .5em
}

/* ww */

section.ww {
    margin: 4cm var(--padding) .5cm
}

section.ww h1 {
    font: 700 24px/1 ui-serif
}

/* uu */

section.uu {
    margin: .4cm var(--padding)
}

section.uu :where(h6, span) {
    font: 15px/1.4 ui-serif
}

section.uu a {
    display: flex;
    justify-content: end;
    
    font-size: 17px
}

/* text hide */

.hide {
    position: relative
}

.hide h6 {
    max-height: 63px;

    -webkit-mask: linear-gradient(to top, transparent 16px, black 0), linear-gradient(to left, transparent 40px, black 90px)
}

.hide span {
    position: absolute;

    inset: auto 0 0 auto;

    color: var(--blue-1)
}

/* rr */

section.rr>a {
    margin: 1cm var(--padding);

    display: block;

    -webkit-tap-highlight-color: transparent
}

section:where(.rr, .ff) ul {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    column-gap: 24px;

    padding-inline: var(--padding);

    overflow-x: scroll;

    scroll-snap-type: x mandatory;
    scroll-padding-left: var(--padding)
}

section:where(.rr, .ff) li {
    scroll-snap-align: start
}

section.rr ul {
    padding-block: 1cm
}

section.rr li h1 {
    font: 500 14px system-ui
}

section.rr li a {
    display: block;

    border-radius: 5px
}
section.rr > a h5 {
    font: 700 19px ui-serif
}
section.rr li h6 {
    font: 11px ui-rounded;

    color: white
}

section.rr li figure {
    width: var(--width-2);

    aspect-ratio: 1/1.6;

    border-radius: 5px;

    padding: .8em;

    display: flex;
    justify-content: end;

    box-shadow: 0 10px 20px #00000050;

    background: center/cover
}

/* vv */

section.vv {
    padding: .5cm var(--padding) max(env(safe-area-inset-bottom), .5cm);

    z-index: 1;
    position: fixed;
    inset: auto 0 0;

    display: flex;
    justify-content: space-between;

    -webkit-backdrop-filter: saturate(180%) blur(20px);
    background-color: var(--soft-2)
}

section.vv div {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
section.vv h5 {
    font: 600 14px ui-rounded;
    color: var(--orange-1)
}

section.vv figure {
    width: 50px;
    aspect-ratio: 1/1.6;

    border-radius: 2px;

    box-shadow: 0 10px 20px #00000050;

    background: center/cover
}

section.vv a {
    margin-block: 1em;

    display: block;

    text-align: center;

    font-size: 14px;

    color: var(--gray-b)
}

section.vv button {
    -webkit-appearance: -apple-pay-button;
    -apple-pay-button-type: buy;
    -apple-pay-button-style: var(--gray-b);

	width: 100%;
    height: 38px;

    border-radius: 8px;

    font: 600 16px system-ui;

    background-color: var(--gray-5)
}

/* ff */

section.ff {
    margin-block: 1cm
}

section.ff ul {
    column-gap: 1em
}

section.ff a {
    display: block;

    border-radius: 10px
}

section.ff figure {
    padding: 10px;

    width: 250px;
    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 9px;

    background-color: var(--gray-18)
}

section.ff div {
    display: inherit;
    justify-content: inherit
}

section.ff h6 {
    font-family: ui-rounded
}

section.ff p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;

    font: 14px/1.42859 system-ui
}

section.ff :where(p b, time) {
    color: var(--gray-6)
}

section.ff h5 {
    margin-inline: 10%;

    height: 120px;

    display: flex;
    align-items: center;

    text-align: center;

    font: 16px/1.47059 system-ui;

    color: var(--gray-6)
}

/* var */

@media screen and (min-width: 320px) and (max-width: 728px) {
    :root {
        --padding: 30px;
        --width: calc(var(--screen) - var(--padding) * 2);
        --width-2: calc(var(--width) / 3 - (24px * 2 / 3));
        --shadow: linear-gradient(to top right, transparent 60%, #000000cc)
    }
}

/* color */

@media screen and (prefers-color-scheme: light) {
    :root {
        --soft-1: #f5f5f7b8;
        --soft-2: #ffffffcc;

        --gray-a: white;
        --gray-b: black;

        --gray-1: #1d1d1f;
        --gray-2: #8e8e93;
        --gray-3: #d2d2d7;
        --gray-4: #86868b;
        --gray-5: #e8e8ed;
        --gray-6: #aaaab3;
        --gray-7: #f5f5f7;
        --gray-8: #d2d2d7;
        --gray-9: #0000000d;
        --gray-10: #1d1d1f;
        --gray-15: #f2f2f6;
        --gray-18: #f5f5f7;
        --gray-19: #e3e3e880;
        --gray-20: #00000080;
        --gray-21: #00000008;

        --blue-1: #007aff;

        --red-1: #ff2d55;

        --orange-1: #fd9900;

        --const-1: #17171d;
        --const-2: #f5f5f7;
    }
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --soft-1: #1d1d1fb8;
        --soft-2: #00000080;

        --gray-a: black;
        --gray-b: white;

        --gray-1: #f5f5f7;
        --gray-2: #8e8e93;
        --gray-3: #212125;
        --gray-4: #63636e;
        --gray-5: #212125;
        --gray-6: #63636e;
        --gray-7: #1c1c1e;
        --gray-8: #515154;
        --gray-9: #00000033;
        --gray-10: #d5d5e2;
        --gray-15: #17171d;
        --gray-18: #121212;
        --gray-19: #24242d80;
        --gray-20: #ffffff80;
        --gray-21: #00000060;

        --blue-1: #0a84ff;

        --red-1: #fb5c74;

        --orange-1: #ff9f00;

        --const-1: #17171d;
        --const-2: #f5f5f7;
    }
}
