/* body */

body {
    touch-action: pan-y;

    background-color: var(--canvas-4)
}

/* a */

section.a {
    opacity: 0;
    pointer-events: none;

    z-index: 1;
    position: fixed;
    inset: 0;

    margin: 2cm auto;

    width: 300px;
    height: 70px;

    -webkit-backdrop-filter: saturate(180%) blur(17px);

    background-color: var(--soft);

    clip-path: path("M30.3987859,-9.91740883e-16 L269.601214,9.91740883e-16 C278.765463,-6.91704411e-16 283.136497,1.16032014 287.210571,3.3391588 C291.284645,5.51799746 294.482003,8.71535463 296.660841,12.7894287 C298.83968,16.8635028 300,21.2345366 300,30.3987859 L300,39.6012141 C300,48.7654634 298.83968,53.1364972 296.660841,57.2105713 C294.482003,61.2846454 291.284645,64.4820025 287.210571,66.6608412 C283.136497,68.8396799 278.765463,70 269.601214,70 L30.3987859,70 C21.2345366,70 16.8635028,68.8396799 12.7894287,66.6608412 C8.71535463,64.4820025 5.51799746,61.2846454 3.3391588,57.2105713 C1.16032014,53.1364972 -1.47664867e-15,48.7654634 2.11716571e-15,39.6012141 L6.61160589e-16,30.3987859 C-4.61136274e-16,21.2345366 1.16032014,16.8635028 3.3391588,12.7894287 C5.51799746,8.71535463 8.71535463,5.51799746 12.7894287,3.3391588 C16.8635028,1.16032014 21.2345366,6.91704411e-16 30.3987859,-9.91740883e-16 Z")
}

section.a h1 {
    margin: 2em;

    text-align: center;
    font: 600 11px system-ui;

    mix-blend-mode: var(--mod);
    will-change: transform;

    color: var(--soft-2)
}

section.a h1 a {
    color: var(--gray-b)
}

/* b */

section.b {
    z-index: 1;
    visibility: hidden;
    opacity: 0;

    position: fixed;
    inset: 0 0 auto;

    margin: 1cm auto auto;
    padding: .8em;

    width: fit-content;

    border-radius: 19px;

    display: flex;
    align-items: center;

    background-color: var(--tab-4);

    box-shadow: 0 0 50px 0 #0000002d;

    transition: opacity 1s ease
}

section.b h2 {
    margin-inline: 1em;

    font: 600 15px system-ui
}

section.b svg {
    transform: scale(0);

    transition: transform 1.5s ease, fill 2s ease
}

/* e */

section.e {
    pointer-events: none;
    opacity: 0;

    z-index: 1;
    position: fixed;
    inset: auto 0 0 auto;

    margin: 0 1.5em 5cm 0;

    border-radius: 16px;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 5px;

    background-color: #00000015;

    box-shadow: 0 0 50px 0 #0000002d;

    transition: opacity .4s
}

section.e select {
    border-radius: 16px;

    padding: 1em 2em;

    flex-direction: column;

    text-align: -webkit-center;
    font: 600 14px system-ui;

    background-color: var(--tab-4);
    color: var(--gray)
}

section.e select:focus {
    -webkit-filter: brightness(.9)
}

/* v */

section.v {
    margin: 1cm 1cm max(1cm, env(safe-area-inset-bottom))
}

section.v h5 {
    margin-block: 1em 3em;

    text-align: center;
    font: 700 20px/1.7 system-ui
}

section.v h5~h5 {
    margin-block: 13em 3em
}

section.v h6::first-letter {
    margin-left: 1cm
}

section.v h6 {
    margin-bottom: .8em;

    font: 20px/1.7 system-ui;
    letter-spacing: .2px;
    text-align: justify
}

section.v :where(h5, h6) {
    color: var(--text-4)
}

section.v u {
    -webkit-text-decoration: underline dotted var(--orange);
    text-decoration-skip: none;
    text-underline-offset: 2px;
    text-decoration-thickness: 1.2px
}

/* tab */

body.uuu select {
    background-color: #a4acc4;
    color: black
}

body.ccc select {
    background-color: #354258;
    color: white
}

body.mmm select {
    background-color: #756a64;
    color: white
}

body.rrr select {
    background-color: var(--tab)
}

body.ttt select {
    background-color: var(--tab-2)
}

body.qqq select {
    background-color: var(--tab-3)
}

/* background */

.uuu {
    background-color: #939ab1
}

.ccc {
    background-color: #1c283a
}

.mmm {
    background-color: #584d47
}

.rrr {
    background-color: var(--canvas)
}

.ttt {
    background-color: var(--canvas-2)
}

.qqq {
    background-color: var(--canvas-3)
}

/* text */

body.uuu :where(h5, h6) {
    color: #181a1d
}

body.ccc :where(h5, h6) {
    color: #e1ecfc
}

body.mmm :where(h5, h6) {
    color: #ffede4
}

body.rrr :where(h5, h6) {
    color: var(--text)
}

body.ttt :where(h5, h6) {
    color: var(--text-2)
}

body.qqq :where(h5, h6) {
    color: var(--text-3)
}

/* font */

section.v.zzz :where(h5, h6) {
    font-family: georgia
}

section.v.sss :where(h5, h6) {
    font-family: ui-serif
}

/* size */

section.v.y :where(h5, h6) {
    font-size: 23px;
    font-weight: 600
}

section.v.yy :where(h5, h6) {
    font-size: 22px
}

section.v.yyy :where(h5, h6) {
    font-size: 18px
}

/* m */

section.m {
    position: fixed;
    inset: 0 0 auto;

    padding: 1em 1cm;

    display: none;

    text-align: center;

    background-color: inherit;
    color: var(--orange);

    transition: opacity .4s
}

/* color */

@media (prefers-color-scheme: light) {
    :root {
        --soft-2: #0000008c;
        --soft-3: #cccccc60;
        --soft-4: #00000020;

        --gray-a: white;
        --gray-b: black;

        --gray: #1d1d1f;

        --canvas: #e0dacc;
        --canvas-2: #d0d0d0;
        --canvas-3: #e7e7e7;
        --canvas-4: white;

        --text: #3d2a1c;
        --text-2: #111;
        --text-3: #111;
        --text-4: #1e1e1e;

        --tab: #ebe5d7;
        --tab-2: #ddd;
        --tab-3: #eeebeb;
        --tab-4: white;

        --link: #007aff;

        --orange: #e08600;
        --green: #47b561;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --soft-2: #ffffff8c;
        --soft-3: #33333370;
        --soft-4: #ffffff20;

        --gray-a: black;
        --gray-b: white;

        --gray: #f5f5f7;

        --canvas: #24211f;
        --canvas-2: #353539;
        --canvas-3: #1a1a1c;
        --canvas-4: black;

        --text: #d6caba;
        --text-2: #eee;
        --text-3: #eee;
        --text-4: #8d8d93;

        --tab: #494540;
        --tab-2: #585862;
        --tab-3: #323239;
        --tab-4: #1c1c20;

        --link: #0a84ff;

        --orange: #ffa333;
        --green: #50dc71;
    }
}
