/* body */

body {
    touch-action: pan-y;

    background-color: var(--col-4);
    color: var(--col-44)
}

/* k */

section.k {
    position: fixed;
    inset: 0 0 auto;

    height: calc(env(safe-area-inset-top) + 2cm);

    filter: opacity(.5);
    -webkit-backdrop-filter: blur(17px);

    background-color: inherit
}

/* b */

section.b {
    z-index: 1;
    visibility: hidden;
    opacity: 0;

    position: fixed;
    inset: 0 0 auto;

    margin: 1cm auto auto;
    padding: 1.5em;

    width: fit-content;

    border-radius: 15px;

    display: flex;

    filter: brightness(1.2);
    background-color: inherit;

    box-shadow: 0 0 50px 0 #0000002d;

    transition: opacity 1s ease
}

section.b h1 {
    font: 600 14px system-ui;
    color: inherit
}

@keyframes x {
    0% {
        transform: translateY(0)
    }

    30% {
        transform: translateY(3px)
    }

    50% {
        transform: translateY(-2px)
    }

    70% {
        transform: translateY(2px)
    }

    100% {
        transform: translateY(0)
    }
}

section.b h1:last-child {
    margin-inline: .5em
}

/* e */

section.e {
    pointer-events: none;
    opacity: 0;

    z-index: 1;
    position: fixed;
    inset: auto 0 0 auto;

    margin: 0 1.5em 3cm 0;

    border-radius: 16px;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 5px;

    background-color: #00000015;

    box-shadow: 0 0 50px 0 #0000002d;

    transition: opacity .4s
}

section.e select {
    width: 169px;

    border-radius: 16px;

    padding: 1em;

    text-overflow: ellipsis;
    overflow: hidden;

    text-align-last: center;
    font: 600 14px system-ui;

    filter: brightness(1.2);
    background-color: var(--col-4);
    color: var(--col-44)
}

section.e select:focus {
    -webkit-filter: brightness(.9)
}

/* t */

section.t {
    margin: calc(env(safe-area-inset-bottom) + 1cm) 1cm 6cm
}

section.t h5 {
    margin-block: 13em 3em;

    text-align: center;
    font: 700 20px/1.7 system-ui
}

section.t h6::first-letter {
    margin-left: 1cm
}

section.t h6 {
    margin-bottom: .8em;

    font: 20px/1.7 system-ui;
    letter-spacing: .2px;
    text-align: justify
}

section.t u {
    -webkit-text-decoration: underline dotted #ffa333;
    text-decoration-skip: none;
    text-underline-offset: 2px;
    text-decoration-thickness: 1.2px
}

/* font */

section.t.zzz :where(h5, h6) {
    font-family: georgia
}

section.t.sss :where(h5, h6) {
    font-family: ui-serif
}

/* size */

section.t.y :where(h5, h6) {
    font-size: 23px;
    font-weight: 600
}

section.t.yy :where(h5, h6) {
    font-size: 22px
}

section.t.yyy :where(h5, h6) {
    font-size: 18px
}

/* m */

section.m {
    position: fixed;
    inset: 0 0 auto;

    padding: calc(env(safe-area-inset-top) + 1em) 1cm 1em;

    display: none;

    text-align: center;

    background-color: inherit;
    color: #ffa333
}

body.a,
body.a select {
    background-color: #d2ddff;
    color: #181a1d
}

body.b,
body.b select {
    background-color: #3d3441;
    color: #ffedfb
}

body.c,
body.c select {
    background-color: #584d47;
    color: #ffede4
}

body.d,
body.d select {
    background-color: var(--col-1);
    color: var(--col-11)
}

body.i,
body.i select {
    background-color: var(--col-2);
    color: var(--col-22)
}

body.f,
body.f select {
    background-color: var(--col-3);
    color: var(--col-33)
}

/* color */

@media (prefers-color-scheme: light) {
    :root {
        --col-1: #fffaf0;
        --col-2: #d0d0d0;
        --col-3: #eeeded;
        --col-4: white;

        --col-11: #3d2a1c;
        --col-22: #111;
        --col-33: #111;
        --col-44: #1e1e1e;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --col-1: #24211f;
        --col-2: #353539;
        --col-3: #1c1c1e;
        --col-4: black;

        --col-11: #d6caba;
        --col-22: #eeeeff;
        --col-33: #dbdbe9;
        --col-44: #b4b4be;
    }
}
