html {
    overscroll-behavior-y: none;
    
    scroll-behavior: smooth
}

/* k */

section.k {
    position: fixed;
    inset: 0 0 auto;

    opacity: .9;

    height: env(safe-area-inset-top);

    background-color: inherit
}

/* e */

section.e {
    pointer-events: none;
    opacity: 0;

    position: fixed;
    inset: auto 0 0 auto;

    margin: 0 calc(env(safe-area-inset-right) + 20px) calc(env(safe-area-inset-bottom) + 20px) 0;

    border-radius: 18px;

    display: grid;
    row-gap: 5px;

    background-image: linear-gradient(#00000021, #00000029, #00000029, #00000021);

    box-shadow: 0 0 80px 0 #00000052;

    transition: opacity .4s
}

section.e div {
    border-radius: inherit;

    padding-inline: 1.5em;

    display: flex;
    align-items: center;

    background-color: var(--col-01);
    color: var(--col-0)
}

section.e select {
    width: 200px;
    height: 53px;

    text-overflow: ellipsis;
    overflow: hidden;

    font: 500 17px system-ui
}

section.e select:focus {
    opacity: .5
}

section.e h1 {
    font-size: 28px
}

/* b */

section.b {
    visibility: hidden;

    position: fixed;
    inset: auto 0 0;

    border-radius: 15px 15px 0 0;

    padding-block: 2em calc(env(safe-area-inset-bottom) + 2em);

    background-color: var(--col-s);
    color: var(--col-0);

    transform: translateY(100%);

    transition: transform 2s cubic-bezier(.19, .21, 0, 1)
}

section.b .n {
    margin: 0 2em 2em;

    display: flex;
    align-items: center;
    justify-content: space-between
}

section.b .s {
    width: 30px;
    height: 30px;

    border-radius: 50%;

    background-color: var(--col-e)
}

section.b svg {
    margin: 9px
}

section.b h1 {
    font: 590 17px system-ui
}

section.b ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    text-align: center
}

section.b li {
    font-size: 72px
}

@media (orientation: landscape) {
    section.b {
        margin-inline: auto calc(env(safe-area-inset-right) + 20px);

        width: 100vh
    }
}

@media (max-height: 400px) {
    section.b {
        padding-bottom: max(.8em, env(safe-area-inset-bottom))
    }

    section.b .n {
        margin-bottom: .8em
    }
}

/* t */

section.t {
    overflow-y: scroll;
    
    height: 100vh;

    padding: 3cm calc(env(safe-area-inset-right) + 1cm);

    color: var(--col-a)
}

section.t h5 {
    margin-block: 13em 3em;

    text-align: center;
    font: 800 20px/1.7 system-ui
}

section.t h6:not(.f):first-letter {
    margin-left: 1cm
}

section.t .f:first-letter {
    -webkit-initial-letter: 3;

    margin-right: .8em
}

section.t h6 {
    margin-bottom: .8em;

    text-align: justify;
    font: 370 20px/1.7 system-ui;
    letter-spacing: .2px
}

section.t u {
    -webkit-text-decoration: underline dotted #ffa333;
    text-decoration-skip: none;
    text-underline-offset: 2px;
    text-decoration-thickness: 1.2px
}

/* padding */

section.t.w {
    padding-inline: calc(env(safe-area-inset-right) + 20px)
}

/* font */

section.t.a>* {
    font-size-adjust: .5;
    font-family: georgia
}

section.t.v>* {
    font-family: ui-serif
}

/* text */

section.t.y>* {
    font-size: 23px
}

section.t.y h6 {
    font-weight: 600
}

section.t.s>* {
    font-size: 22px
}

section.t.r>* {
    font-size: 18px
}

/* interval */

section.t.f h6 {
    line-height: 1.5
}

section.t.j h6 {
    line-height: 1.3
}

/* background */

body.f {
    background-color: var(--col-1)
}

body.i {
    background-color: var(--col-2)
}

body.d {
    background-color: var(--col-3)
}

body.c {
    background-color: var(--col-4)
}

body.b {
    background-color: var(--col-5)
}

/* tab */

body.f section.e div {
    background-color: var(--col-10)
}

body.i section.e div {
    background-color: var(--col-20)
}

body.d section.e div {
    background-color: var(--col-30)
}

body.c section.e div {
    background-color: var(--col-40)
}

body.b section.e div {
    background-color: var(--col-50)
}

/* text color */

body.f section.t {
    color: var(--col-11)
}

body.i section.t {
    color: var(--col-22)
}

body.d section.t {
    color: var(--col-33)
}

body.c section.t {
    color: var(--col-44)
}

body.b section.t {
    color: var(--col-55)
}

/* m */

section.m {
    position: fixed;
    inset: 0 0 auto;

    padding: calc(env(safe-area-inset-top) + 10px) 1cm 20px;

    display: none;

    text-align: center;
    font-size: 15px;

    border-bottom: .1px solid #83838350;

    background-color: inherit;
    color: var(--col-0)
}

@media (prefers-color-scheme: light) {
    :root {
        --col-b: white;
        --col-1: #eeeded;
        --col-2: #fffaf0;
        --col-3: #e2dbcf;
        --col-4: #f4e9d4;
        --col-5: #d2ddff;
        --col-01: white;
        --col-11: #111;
        --col-22: #3d2a1c;
        --col-33: #111;
        --col-44: #222;
        --col-55: #181a1d;
        --col-a: #1e1e1e;
        --col-0: black;
        --col-10: #f2f2f2;
        --col-20: #fffaf0;
        --col-30: #f5eee2;
        --col-40: #fff6e5;
        --col-50: #d2ddff;
        --col-s: #f5f5f7;
        --col-e: #e1e1e3;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --col-b: black;
        --col-1: #1c1c1e;
        --col-2: #353539;
        --col-3: #24211f;
        --col-4: #584d47;
        --col-5: #272a32;
        --col-01: #212224;
        --col-11: #f2f2f0;
        --col-22: #f0f0f0;
        --col-33: #d6caba;
        --col-44: #ffede4;
        --col-55: white;
        --col-a: #bbb;
        --col-0: white;
        --col-10: #3a3a3e;
        --col-20: #48484e;
        --col-30: #363432;
        --col-40: #756a64;
        --col-50: #3c4049;
        --col-s: #424247;
        --col-e: #53535a;
    }
}
