/* media */

[data-i],
[data-v] {
    opacity: 0
}

img,
video {
    opacity: 1;

    transition: opacity .4s cubic-bezier(0.4, 0, 0.25, 1)
}

/* k */

section.k {
    position: fixed;
    inset: 0 0 auto;

    height: env(safe-area-inset-top);

    filter: opacity(.5);
    -webkit-backdrop-filter: blur(15px);

    background-color: inherit
}

/* n */

section.n {
    margin-block: calc(12px + env(safe-area-inset-top)) calc(12px + env(safe-area-inset-bottom))
}

section.n li {
    display: flex;
    column-gap: 8px
}

section.n .h {
    padding: 16px 0 16px 12px;

    text-align: -webkit-center
}

section.n .h img {
    border-radius: 50%
}

section.n .f {
    margin-block: 10px;

    width: 2px;
    height: calc(100% - 92px);

    border-radius: 1px;

    background-color: var(--col-a)
}

section.n .g {
    margin-left: 20px
}

section.n .r {
    margin: -10px 24px 0 0
}

section.n .y {
    margin: -2px 0 0 6px
}

section.n li+li .j {
    border-top: .1px solid var(--col-a)
}

section.n .j {
    padding: 12px 12px 16px 0
}

section.n .d {
    margin-bottom: 4px;

    display: flex;
    justify-content: space-between
}

section.n h1 {
    font-weight: 590;
    letter-spacing: .2px
}

section.n time {
    font-size: 14px
}

section.n :where(h1, h2) {
    font-size: 15px;
    line-height: 1.4;

    color: var(--col-h)
}

section.n .v {
    margin-block: 10px;

    width: -webkit-fill-available;

    border-radius: 8px
}

section.n .e {
    margin-top: 14px;

    display: flex;
    justify-content: end;
    column-gap: 10px
}

section.n .e div {
    border-radius: 15px;

    padding: .4em .8em .4em .5em;

    font: 700 14px ui-rounded;

    background-color: var(--col-c);
    color: var(--col-h)
}

/* color */

@media (prefers-color-scheme: light) {
    :root {
        --col-b: white;
        --col-h: black;
        --col-p: #afafb1;

        --col-a: #dddee8;
        --col-c: #f2f2f6;

        --link: #007aff;

        --blue: #3a8fff;
        --red: #ff2d55;
        --pink: #ff9cce;
        --violet: #9283ff;
        --green: #31c692;
        --orange: #fd9900;
        --slate: #7c8696;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --col-b: #0e0e0e;
        --col-h: white;
        --col-p: #77777b;

        --col-a: #222129;
        --col-c: #1d1d1f;

        --link: #0a84ff;

        --blue: #3a8fff;
        --red: #ff367c;
        --pink: #ec55df;
        --violet: #9283ff;
        --green: #77ffc6;
        --orange: #ff9f00;
        --slate: #7c8696;
    }
}
