/* media */

[data-i],
[data-v] {
    opacity: 0
}

img,
video {
    opacity: 1;

    transition: opacity .4s cubic-bezier(0.4, 0, 0.25, 1)
}

/* g */

section.g {
    position: fixed;
    inset: auto auto 0 0;

    margin: 0 0 max(20px, env(safe-area-inset-bottom)) 20px;
    
    width: 35px;
    height: 35px;

    border-radius: 50%;

    padding: 10px;

    -webkit-backdrop-filter: blur(10px);

    background-color: #21212190;
    color: var(--col-h)
}

/* l */

section.l {
    z-index: 2;

    position: fixed;
    inset: 0;

    display: none;
    
    -webkit-backdrop-filter: blur(10px);

    background-color: #00000080
}

section.l .a {
    margin: 0 40px 0 auto;
    padding-block: 500px 40px;

    overflow-y: scroll;

    display: grid;
    row-gap: 20px;
}

section.l .a div {
    text-align: center;
    font-size: 52px
}

/* k */

section.k {
    z-index: 1;
    position: fixed;
    inset: 0 0 auto;

    height: env(safe-area-inset-top);

    filter: opacity(.5);
    -webkit-backdrop-filter: blur(15px);

    background-color: inherit
}

/* n */

section.n {
    overflow-y: scroll;

    height: 100vh
}

section.n ul {
    margin-block: calc(12px + env(safe-area-inset-top)) calc(12px + env(safe-area-inset-bottom))
}

section.n li {
    padding: 12px;

    display: flex;
    column-gap: 8px
}

section.n .h {
    display: flex;
    align-items: center;
    flex-flow: column
}

section.n .h img {
    aspect-ratio: 1;

    border-radius: 50%
}

section.n .f {
    margin-block: 10px;

    width: 2px;
    height: 100%;

    border-radius: 1px;

    background-color: var(--col-a)
}

section.n h5 {
    margin-block: 2px;

    aspect-ratio: 1;

    width: 16px;
    
    border-radius: 50%;

    font: 700 8px/1.4 ui-rounded
}

section.n .g {
    margin-left: 20px
}

section.n .r {
    margin: -10px 24px 0 0
}

section.n .y {
    margin: -2px 0 0 6px
}

section.n .q {
    margin-right: 13px;

    clip-path: path("M8 0c1.792 0 3.446.59 4.78 1.584C11.304 3.043 10.4 5.374 10.4 8c0 2.626.904 4.957 2.379 6.416A8 8 0 1 1 8 0Z")
}

section.n .w {
    margin: -16px -13px 0 0
}

section.n li+li {
    border-top: .1px solid var(--col-c)
}

section.n .d {
    margin-bottom: 2px;

    display: flex;
    justify-content: space-between
}

section.n h1 {
    font-weight: 590;
    letter-spacing: .2px
}

section.n time {
    font-size: 14px
}

section.n :where(h1, h2) {
    font-size: 15px;
    line-height: 1.4;

    color: var(--col-h)
}

section.n .v {
    margin-block: 10px;

    width: 100%;

    aspect-ratio: 1/1.5;
    object-fit: cover;

    border-radius: 8px
}

/* color */

@media (prefers-color-scheme: light) {
    :root {
        --col-b: white;
        --col-h: black;
        --col-p: #afafb1;

        --col-a: #dddee8;
        --col-c: #c5c6d0;

        --link: #007aff;

        --blue: #3a8fff;
        --red: #ff2d55;
        --pink: #ff9cce;
        --violet: #9283ff;
        --green: #31c692;
        --orange: #fd9900;
        --slate: #7c8696;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --col-b: #101010;
        --col-h: white;
        --col-p: #77777b;

        --col-a: #212121;
        --col-c: #333;

        --link: #0a84ff;

        --blue: #3a8fff;
        --red: #ff367c;
        --pink: #ec55df;
        --violet: #9283ff;
        --green: #77ffc6;
        --orange: #ff9f00;
        --slate: #7c8696;
    }
}
