@font-face {
	font-family: "line";
	font-style: normal;
	font-weight: 300;
	src: url("fonts/line/light.woff2") format("woff2")
}
@font-face {
	font-family: "line";
	font-style: normal;
	font-weight: 400;
	src: url("fonts/line/regular.woff2") format("woff2")
}
@font-face {
	font-family: "line";
	font-style: normal;
	font-weight: 500;
	src: url("fonts/line/medium.woff2") format("woff2")
}
@font-face {
	font-family: "line";
	font-style: normal;
	font-weight: 600;
	src: url("fonts/line/semibold.woff2") format("woff2")
}
@font-face {
	font-family: "line";
	font-style: normal;
	font-weight: 700;
	src: url("fonts/line/bold.woff2") format("woff2")
}

@font-face {
	font-family: "line-text";
	font-style: normal;
	font-weight: 300;
	src: url("fonts/line-text/light.woff2") format("woff2")
}
@font-face {
	font-family: "line-text";
	font-style: normal;
	font-weight: 400;
	src: url("fonts/line-text/regular.woff2") format("woff2")
}
@font-face {
	font-family: "line-text";
	font-style: normal;
	font-weight: 500;
	src: url("fonts/line-text/medium.woff2") format("woff2")
}
@font-face {
	font-family: "line-text";
	font-style: normal;
	font-weight: 600;
	src: url("fonts/line-text/semibold.woff2") format("woff2")
}
@font-face {
	font-family: "line-text";
	font-style: normal;
	font-weight: 700;
	src: url("fonts/line-text/bold.woff2") format("woff2")
}

@font-face {
	font-family: "icon";
	font-style: normal;
	font-weight: 300;
	src: url("fonts/icon/light.woff2") format("woff2")
}
@font-face {
	font-family: "icon";
	font-style: normal;
	font-weight: 400;
	src: url("fonts/icon/regular.woff2") format("woff2")
}
@font-face {
	font-family: "icon";
	font-style: normal;
	font-weight: 500;
	src: url("fonts/icon/medium.woff2") format("woff2")
}
@font-face {
	font-family: "icon";
	font-style: normal;
	font-weight: 600;
	src: url("fonts/icon/semibold.woff2") format("woff2")
}