@media screen and (prefers-color-scheme: no-preference) {
    :root {
    }
}

@media screen and (prefers-color-scheme: light) {
    :root {
        --body: #fff;

        --nav: #ffffffb8;

        --bold: #111;
        --small: #1d1d1f;

        --blockquote: #e8e8ed;

        --link: #06c;
    }
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --body: #000;

        --nav: #1d1d1fb8;

        --bold: #d5d5e2;
        --small: #f5f5f7;

        --blockquote: #151516;

        --link: #007aff;
    }
}