* {
	margin: 0;
	padding: 0;

	vertical-align: top;
	box-sizing: border-box;

	-webkit-user-select: none;
	-webkit-text-size-adjust: 100%;

	font: normal 400 12px/1.33337 "-apple-system", "Segoe UI";
	letter-spacing: -.01em;

	-webkit-font-smoothing: antialiased
}

a, strong, b, sup, sub, u, ins, del, i, s, mark, small, q, em, span, time {
	font: inherit
}
a, u {
	text-decoration: none
}
ul, ol {
	list-style: none
}
input, button, hr {
	border: none
}
input, button {
	outline: none
}
button, span {
	cursor: pointer
}
hr {
	border-top: .1px solid var(--gray-9)
}
sup, sub {
	font-size: 9px
}
strong, b {
	font-weight: 600
}
em {
	font-style: italic
}
span, button {
	-webkit-tap-highlight-color: transparent
}
.setup > a, figcaption a {
	-webkit-touch-callout: none
}

/* - */

::-webkit-scrollbar {
	display: none
}
:lang(ru-RU) {
	quotes: "\00ab" "\00bb"
}
:lang(en-US) {
	quotes: "\201c" "\201d"
}

/* - */

body {
	background-color: var(--gray-0)
}
h1, h2, h3, h4, h5, h6 {
	color: var(--gray-1)
}
p, li {
	color: var(--gray-7)
}
a {
	color: var(--blue-1)
}

/* - */

.setup > a {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}
nav h6, main h6 {
	text-align: center;

	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden
}

/* - - - - - - - - - - - - - - - - - - - - - */

nav {
	opacity: 0;

	z-index: 5;
	position: fixed;

	width: 100%;
	height: 1.3cm;

	display: flex;
	align-items: center;

	transition: opacity .5s ease 0s;

	backdrop-filter: saturate(180%) blur(20px); -webkit-backdrop-filter: saturate(180%) blur(20px);
	background-color: var(--transparency-1)
}

.title {
	opacity: 1
}/* - */

/* - - - - - - - - - - - - - - - - - - - - - */

.additionally {
	padding: 1em 0 1cm
}
.additionally h3 {
	font: normal 400 24px/1.33341 "-apple-system", "Segoe UI";
	letter-spacing: .009em;

	color: var(--gray-5)
}

/* - - - - - - - - - - - - - - - - - - - - - */

picture {
	margin: 2em 0
}
picture, picture img {
	display: block
}

/* - */

img[data-src] {
	opacity: 0
}
img[src] {
	opacity: 1;
	-webkit-transition: opacity 1s ease 0s
}

/* - - - - - - - - - - - - - - - - - - - - - */

.content h1 {
	font: normal 700 48px/1.08349 "-apple-system", "Segoe UI";
	letter-spacing: -.003em
}
.content h2 {
	font: normal 600 28px/1.14286 "-apple-system", "Segoe UI";
	letter-spacing: .007em;

	padding: 4cm 0 20px
}
.content h3 {
	font: normal 600 24px/1.16667 "-apple-system", "Segoe UI";
	letter-spacing: .009em;

	padding: 3em 0 .8em
}
.content h4 {
	font: normal 600 21px/1.19048 "-apple-system", "Segoe UI";
	letter-spacing: .011em;

	padding: 2em 0 16px
}
.content h5 {
	font: normal 700 20px/1.2 "-apple-system", "Segoe UI";
	letter-spacing: .024em;

	padding: 19px 0 1.25em
}
.content h6 {
	font: normal 600 19px/1.21053 "-apple-system", "Segoe UI";
	letter-spacing: .012em;

	padding: 1em 0 19px
}

.content li {
	margin-bottom: 1.47em;

	font: normal 400 17px/1.47059 "-apple-system", "Segoe UI";
	letter-spacing: 0
}
.content ol {
	padding-left: 20px;
	list-style: outside disc
}

/* - - - - - - - - - - - - - - - - - - - - - */

.numbering ol {
	list-style: outside decimal
}

/* - - - - - - - - - - - - - - - - - - - - - */

.setup {
	max-width: 10cm
}
.setup > a {
	display: block;

	border-radius: 11px;
	padding: .8em 1.2em;

	text-align: center;

	font: normal 600 16px "-apple-system", "Segoe UI";

	background-color: var(--gray-11);
	color: var(--gray-1)
}

.setup li {
	margin-top: .5em;

	font: normal 400 11px/1.36364 "-apple-system", "Segoe UI";
	letter-spacing: -.008em;

	text-align: center;

	color: var(--gray-5)
}

.setup a+ul+a {
	margin-top: 1em
}

/* - - - - - - - - - - - - - - - - - - - - - */

.distribution strong {
	letter-spacing: .016em;
	color: var(--gray-01)
}

/* - - - - - - - - - - - - - - - - - - - - - */

blockquote {
	padding: 1em 1.2em;

	border-radius: 11px;

	background-color: var(--gray-8)
}
blockquote p {
	font: normal 400 14px/1.4 "-apple-system", "Segoe UI";
	letter-spacing: -.022em;

	text-align: center;

	color: var(--gray-3)
}
blockquote p::before {
	content: "\f32a"
}

/* - - - - - - - - - - - - - - - - - - - - - */

figcaption div:first-child {
	position: relative
}
figcaption div:first-child::before {
	z-index: 1;
	position: absolute;

	content: "";

	width: 100%;
	height: 100%;

	background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 90 90'%3e%3cpath d='m58.27126717463562,1.087699937579592 c8.782459652001858,0 13.173694430515766,0 17.955246661970616,1.463744926171303 c5.171889494447708,1.8540722841382031 9.270371325716972,5.952554115407467 11.124453514881134,11.124453514881134 c1.5613292419195175,4.781562136480809 1.5613292419195175,9.270371325716972 1.5613292419195175,18.05283097771883 l0,26.542547587502 c0,8.782459652001858 0,13.173694430515766 -1.463744926171303,17.955246661970616 c-1.8540722841382031,5.171889494447708 -5.952554115407467,9.270371325716972 -11.124453514881134,11.124453514881134 c-4.8791464522290235,1.5613292419195175 -9.270371325716972,1.5613292419195175 -18.05283097771883,1.5613292419195175 l-26.542547587502,0 c-8.782459652001858,0 -13.173694430515766,0 -17.955246661970616,-1.463744926171303 c-5.269473810195923,-1.9516565998864173 -9.270371325716972,-5.952554115407467 -11.22202792560339,-11.22202792560339 c-1.463744926171303,-4.6839778207325935 -1.463744926171303,-9.075212599246502 -1.463744926171303,-17.955246661970616 l0,-26.542547587502 c0,-8.782459652001858 0,-13.173694430515766 1.463744926171303,-17.955246661970616 c1.9516565998864173,-5.171889494447708 5.952554115407467,-9.270371325716972 11.22202792560339,-11.124453514881134 c4.6839778207325935,-1.5613292419195175 9.075212599246502,-1.5613292419195175 17.955246661970616,-1.5613292419195175 l26.542547587502,0 z' fill-opacity='0' opacity='.15' stroke='%23808080' stroke-width='2'%3e%3c/path%3e%3c/svg%3e") 100% 100% no-repeat
}

.district {
	padding: 2em 0
}
figcaption {
	display: flex;
	align-items: center
}
figcaption img {
	-webkit-mask: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 90 90'%3e%3cpath d='m58.6,0c9,0 13.5,0 18.4,1.5c5.3,1.9 9.5,6.1 11.4,11.4c1.6,4.9 1.6,9.5 1.6,18.5l0,27.2c0,9 0,13.5 -1.5,18.4c-1.9,5.3 -6.1,9.5 -11.4,11.4c-5,1.6 -9.5,1.6 -18.5,1.6l-27.2,0c-9,0 -13.5,0 -18.4,-1.5c-5.4,-2 -9.5,-6.1 -11.5,-11.5c-1.5,-4.8 -1.5,-9.3 -1.5,-18.4l0,-27.2c0,-9 0,-13.5 1.5,-18.4c2,-5.3 6.1,-9.5 11.5,-11.4c4.8,-1.6 9.3,-1.6 18.4,-1.6l27.2,0z'/%3e%3c/svg%3e") 100% 100% no-repeat
}
figcaption div:last-child {
	margin-left: 1em
}
figcaption h4, figcaption a {
	font: normal 600 14px/1.42859 "-apple-system", "Segoe UI"
}
figcaption p {
	padding-bottom: .8em;
	color: var(--gray-5)
}
/* figcaption a::before */

figcaption+figcaption {
	margin-top: 1em
}

/* - - - - - - - - - - - - - - - - - - - - - */

table {
	table-layout: fixed;
	text-align: left;
	border-collapse: collapse
}

table * {
	font: normal 400 14px/1.2 "-apple-system", "Segoe UI";
	letter-spacing: -.022em
}
table th {
	font-weight: 600;
	vertical-align: bottom;

	padding: 3px 1em 3px 0;

	color: var(--gray-6)
}

table td {
	color: var(--gray-10);
	padding: .5em 1em .5em 0
}

table tbody tr:first-child {
	border-top: .1px solid var(--gray-6)
}
table tbody tr+tr {
	border-top: .1px solid var(--gray-9)
}

/* - - - - - - - - - - - - - - - - - - - - - */

dl div {
	display: table-row
}
dl div > * {
	display: table-cell;
	vertical-align: baseline;

	font: normal 400 13px/1.38462 "-apple-system", "Segoe UI";
	letter-spacing: -.005em
}

dl div+div dt {
	padding-top: 8px
}

dl dt {
	text-align: right;
	color: var(--gray-5)
}
dl dd {
	padding-left: 20px;
	color: var(--gray-6)
}

/* - - - - - - - - - - - - - - - - - - - - - */

main {
	padding-bottom: env(safe-area-inset-bottom);
	background-color: var(--gray-12)
}
main ul {
	display: grid;
	grid-auto-flow: column;
	column-gap: 1.3em;

	padding: 2em 0;

	touch-action: pan-x;

	overflow-x: scroll;
	scroll-snap-type: x mandatory
}
main li {
	scroll-snap-align: center
}

main a {
	display: block;

	min-width: 6cm;

	border-radius: 11px;

	padding: 1em;

	background-color: var(--gray-2)
}
main h6 {
	font: normal 600 14px/1.3 "-apple-system", "Segoe UI";

	color: var(--gray-4)
}

/* - - - - - - - - - - - - - - - - - - - - - */

.hide {
	position: relative
}
.hide div {
	display: block;

	font: inherit
}
.close div {
	max-height: 72px;

	pointer-events: none;

	-webkit-mask: linear-gradient(to top, transparent 16px, black 0), linear-gradient(to left, transparent 40px, black 60px)
}

.hide button {
	position: absolute;

	right: 0;
	bottom: 0;

	font: inherit;

	background: none;
	color: var(--blue-1)
}

/* - - - - - - - - - - - - - - - - - - - - - */

footer {
	margin-top: 2cm;
	padding-top: 2em;
	background-color: var(--gray-8)
}
footer li {
	padding-bottom: 2em;
	color: var(--gray-3)
}
footer ol {
	padding-left: 16px;
	list-style: outside decimal
}
footer ol li a {
	color: var(--gray-4)
}