nav div, picture img, picture.vertical img, article, table, dl, blockquote, footer div, main ul {
	margin: 0 auto;
	width: 653px
}

nav div, picture img, footer, main ul {
	width: 980px
}

/* - */

@media screen and (min-width: 1024px) {
    .content h1 {
        padding-top: 4cm
    }
}

@media screen and (max-width: 1024px) {
    article, picture.vertical img, table, dl, blockquote {
        width: 576px
    }

    nav, footer {
        padding: 0 22px
    }
    @media screen and (orientation: landscape) {
        nav, footer {
            padding-left: max(22px, env(safe-area-inset-left));
            padding-right: max(22px, env(safe-area-inset-right))
        }
    }

    .content h1 {
        font: normal 600 40px/1.1 -apple-system, BlinkMacSystemFont, "Segoe UI";
        letter-spacing: 0;
        
        padding-top: 2.5cm
    }

    main li:first-child {
        padding-left: 22px
    }
    main li:last-child {
        padding-right: 22px
    }
    @media screen and (orientation: landscape) {
        main li:first-child {
            padding-left: max(22px, env(safe-area-inset-left))
        }
        main li:last-child {
            padding-right: max(22px, env(safe-area-inset-right))
        }
    }
}

/* - */

@media screen and (min-width: 980px) {
    picture img {
        border-radius: 11px
    }
}

@media screen and (max-width: 980px) {
    nav div, picture img, footer, main ul {
        width: 100%
    }
}

/* - */

@media screen and (max-width: 980px) and (min-width: 692px) and (orientation: landscape) {
    picture img {
        width: 692px;
        border-radius: 11px
    }
}

/* - */

@media screen and (min-width: 768px) {
    .search {
        margin: 0 auto;
        width: 65%
    }

    main ul {
        -webkit-mask: linear-gradient(to left, transparent 0, black 1cm)
    }
    main a {
        transition: background-color .5s ease 0s
    }
    main a:hover {
        background-color: #00000025;
    
        transition: background-color .3s ease 0s
    }
}

@media screen and (max-width: 768px) {
    article, picture.vertical img, table, dl, blockquote {
        width: 90%
    }

    .search {
        padding: 0 2em
    }

    nav, footer {
        padding: 0 16px
    }

    nav {
        height: 48px
    }
    nav a {
        font: normal 600 19px -apple-system, BlinkMacSystemFont, "Segoe UI";
        letter-spacing: .012em
    }

    .additionally h3 {
        font: normal 600 19px/1.21053 -apple-system, BlinkMacSystemFont, "Segoe UI";
        letter-spacing: -.012em
    }

    .content h1 {
        font: normal 700 32px/1.125 -apple-system, BlinkMacSystemFont, "Segoe UI";
        letter-spacing: .004em;

        padding-top: 1.5cm
    }

    main li:first-child {
        padding-left: 16px
    }
    main li:last-child {
        padding-right: 16px
    }
}

/* - */

@media screen and (min-width: 428px) {
    picture.vertical img {
        border-radius: 11px
    }
}

@media screen and (max-width: 428px) {
    .search {
        padding: 0 16px
    }

    picture.vertical img {
        width: 100%
    }
}